<div class="dialog-content-wrapper" id="items">
    <mat-toolbar matDialogTitle class="mat-accent m-0 items-data">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0 items-data" fusePerfectScrollbar>
        <form [formGroup]="journalVoucherCreateForm">
            <mat-grid-list cols="4" rowHeight="100px">
                <mat-grid-tile class="ml-1">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>JV Source App</mat-label>
                        <input formControlName="jvSourceApp" matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile class="ml-1">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Batch No.</mat-label>
                        <input formControlName="batchNumber" matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile class="ml-1">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>JV Value Date</mat-label>
                        <input matInput [matDatepicker]="jvValueDate"
                               formControlName="jvValueDate">
                        <mat-datepicker-toggle matSuffix
                                               [for]="jvValueDate"></mat-datepicker-toggle>
                        <mat-datepicker #jvValueDate></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile class="ml-1">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Fund Segment Code</mat-label>
                        <input formControlName="fundSegmentCode" matInput>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="3" rowHeight="100px">
                <mat-grid-tile class="mr-1">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>JV Reference</mat-label>
                        <input formControlName="jvReference" matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile class="ml-1">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Transaction Details</mat-label>
                        <input formControlName="transactionDetails" matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile class="ml-1">
                    <mat-form-field appearance="outline" fxFlex="100" (click)="fundSegmentSelect()">
                        <mat-label>Fund Segment Name</mat-label>
                        <mat-select formControlName="fundSegmentId" [disabled]="true">
                            <mat-option [value]="fundSegment.id"
                                        *ngFor="let fundSegment of fundSegments">{{fundSegment.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-tab-group dynamicHeight>
                <mat-tab label="Prepared">
                    <mat-grid-list cols="4" rowHeight="100px">
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Value Date</mat-label>
                                <input matInput [matDatepicker]="preparedValueDate"
                                       formControlName="preparedValueDate">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="preparedValueDate"></mat-datepicker-toggle>
                                <mat-datepicker #preparedValueDate></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Trxn Date:</mat-label>
                                <input matInput [matDatepicker]="preparedTrxnDate"
                                       formControlName="preparedTransactionDate">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="preparedTrxnDate"></mat-datepicker-toggle>
                                <mat-datepicker #preparedTrxnDate></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>user Id</mat-label>
                                <input formControlName="preparedUserId" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Username</mat-label>
                                <input formControlName="preparedUsername" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-tab>
                <mat-tab label="Checked">
                    <mat-grid-list cols="4" rowHeight="100px">
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Value Date</mat-label>
                                <input matInput [matDatepicker]="checkedValueDate"
                                       formControlName="checkedValueDate">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="checkedValueDate"></mat-datepicker-toggle>
                                <mat-datepicker #checkedValueDate></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Trxn Date:</mat-label>
                                <input matInput [matDatepicker]="checkedTransactionDate"
                                       formControlName="checkedTransactionDate">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="checkedTransactionDate"></mat-datepicker-toggle>
                                <mat-datepicker #checkedTransactionDate></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>user Id</mat-label>
                                <input formControlName="checkedUserId" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Username</mat-label>
                                <input formControlName="checkedUsername" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-tab>
                <mat-tab label="Posted">
                    <mat-grid-list cols="4" rowHeight="100px">
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Value Date</mat-label>
                                <input matInput [matDatepicker]="postedValueDate"
                                       formControlName="postedValueDate">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="postedValueDate"></mat-datepicker-toggle>
                                <mat-datepicker #postedValueDate></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Trxn Date:</mat-label>
                                <input matInput [matDatepicker]="postedTrxnDate"
                                       formControlName="postedTransactionDate">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="postedTrxnDate"></mat-datepicker-toggle>
                                <mat-datepicker #postedTrxnDate></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>user Id</mat-label>
                                <input formControlName="postedUserId" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Username</mat-label>
                                <input formControlName="postedUsername" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-tab>
            </mat-tab-group>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="save-button" (click)="updateJournalVoucher()"
                [disabled]="journalVoucherCreateForm.invalid" aria-label="Update"
                *ngIf="this.action === 'EDIT'">UPDATE
        </button>
    </div>
</div>