@import "src/@fuse/scss/fuse";

#employees {
    .header {
        .search-wrapper {
            width: 100%;
            max-width: 480px;
            border-radius: 28px;
            overflow: hidden;
            @include mat-elevation(1);

            .search {
                width: 100%;
                height: 48px;
                line-height: 48px;
                padding: 0 18px;

                input {
                    width: 100%;
                    height: 48px;
                    min-height: 48px;
                    max-height: 48px;
                    padding: 0 16px;
                    border: none;
                    outline: none;
                }
            }
        }
        #add-button {
            background-color: white !important;
            color: #106CC8 !important;
        }
    }

    .content {
        overflow: hidden;
        .sidebar {
            &:not(.locked-open) {
                background: white;
            }
        }
    }

    .content {
        .custom-row{
            width: 100%;
            padding-top: 15px;
            display: flex;
            flex-wrap: wrap;
            .col{
                padding-left: 15px;
                padding-right: 15px;
            }
            .list-col{
                width: 75%;
                flex-basis: 75%;
                flex: 1;
            }
            .preview-col{
                width: 25%;
                flex-basis: 25%;
            }
        }
    }
}
