<div id="employees" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    supervisor_account
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Employees
                </span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-fab class="accent" id="add-button" aria-label="add categories"
                [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" (click)="addEmployee()">
                <mat-icon>add_circle</mat-icon>
            </button>
        </div>
        <!-- SEARCH -->
        <!--<div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div class="search-wrapper mt-16 mt-sm-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input [formControl]="searchInput" placeholder="Search for a contact">
                </div>
            </div>
        </div>-->
        <!-- / SEARCH -->
    </div>
    <!-- <div class="content">
        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <div class="content">
                <app-employee-list></app-employee-list>
            </div>
        </div>
    </div> -->

    <div class="content" fusePerfectScrollbar>
        <div class="custom-container-fluid">
            <div class="custom-row">
                <div class="list-col col">
                    <app-employee-list (selectedEmployee)="getSelectedEmployee($event)"></app-employee-list>
                </div>
                <div class="preview-col col" *ngIf="selectedEmployee">
                    <div class="preview-wrapper">
                        <div class="custom-container-fluid">
                            <div class="custom-row">
                                <div class="col p-0 d-flex align-items-end">
                                    <figure class="profile-image m-0">
                                        <img src="https://dummyimage.com/200x200/000/fff" alt="image" />
                                    </figure>

                                    <div class="profile-image-desc h2">
                                        <p class="text-truncate">{{selectedEmployee.firstName}}</p>
                                        <p class="m-0 text-truncate">{{selectedEmployee.lastName}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-row">
                                <div class="col p-0 d-flex">
                                    <p class="h2 nameField text-truncate text-right">ID :</p>
                                    <p class="h2 dataField text-truncate">{{selectedEmployee.id}}</p>
                                </div>
                            </div>

                            <div class="custom-row">
                                <div class="col p-0 d-flex">
                                    <p class="h2 nameField text-truncate text-right">File No :</p>
                                    <p class="h2 dataField text-truncate">{{selectedEmployee.file?.id}}</p>
                                </div>
                            </div>

                            <div class="custom-row">
                                <div class="col p-0 d-flex">
                                    <p class="h2 nameField text-truncate text-right">Gender :</p>
                                    <p class="h2 dataField text-truncate">{{selectedEmployee.employeePersonalDetails?.gender}}</p>
                                </div>
                            </div>

                            <div class="custom-row">
                                <div class="col p-0 d-flex">
                                    <p class="h2 nameField text-truncate text-right">DOB :</p>
                                    <p class="h2 dataField text-truncate">{{selectedEmployee.employeePersonalDetails?.dateOfBirth}}</p>
                                </div>
                            </div>

                            <div class="custom-row">
                                <div class="col p-0 d-flex">
                                    <p class="h2 nameField text-truncate text-right">M. Status :</p>
                                    <p class="h2 dataField text-truncate">{{selectedEmployee.employeePersonalDetails?.maritalStatus}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>