<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="changePasswordForm">
            <div fxLayout="row" fxLayoutAlign="start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Current Password</mat-label>
                    <input matInput [type]="currentPass ? 'text' : 'password'" placeholder="Current Password" formControlName="oldPassword" name="oldPassword" required>
                    <mat-icon matSuffix class="cp" (click)="currentPass = !currentPass">{{currentPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>New Password</mat-label>
                    <input matInput [type]="newPass ? 'text' : 'password'" placeholder="New Password" formControlName="newPassword" name="newPassword" required>
                    <mat-icon matSuffix class="cp" (click)="newPass = !newPass">{{newPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="confirmPass ? 'text' : 'password'" placeholder="Confirm Password" formControlName="confirmPassword" name="confirmPassword" required>
                    <mat-icon matSuffix class="cp" (click)="confirmPass = !confirmPass">{{confirmPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="save-button" (click)="matDialogRef.close(changePasswordForm); updatePassword()"
                [disabled]="changePasswordForm.invalid" aria-label="Update" *ngIf="this.action === 'UPDATE'">UPDATE
        </button>
    </div>
</div>
