<div class="leaves-list">
    <mat-table [@animateStagger]="{value:'50'}" [dataSource]="leaveCreditList">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>S.No</mat-header-cell>
            <mat-cell *matCellDef="let leaveCredit">
                <p class="email text-truncate">
                    {{leaveCredit.sno}}.
                </p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="pStaff">
            <mat-header-cell *matHeaderCellDef>P Staff</mat-header-cell>
            <mat-cell *matCellDef="let leaveCredit" class="cursor-pointer">
                <p class="phone text-truncate cursor-pointer">
                    <!-- {{leaveCredit.year}} -->1
                </p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="staff">
            <mat-header-cell *matHeaderCellDef>Staff</mat-header-cell>
            <mat-cell *matCellDef="let leaveCredit" class="cursor-pointer">
                <p class="phone text-truncate cursor-pointer">
                    {{leaveCredit.employee.firstName}} {{leaveCredit.employee.lastName}}
                </p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="leaveType">
            <mat-header-cell *matHeaderCellDef>Leave Type</mat-header-cell>
            <mat-cell *matCellDef="let leaveCredit" class="cursor-pointer">
                <p class="phone text-truncate cursor-pointer">
                    {{leaveCredit.leave.title}}
                </p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="dueDays">
            <mat-header-cell *matHeaderCellDef>Due Days</mat-header-cell>
            <mat-cell *matCellDef="let leaveCredit" class="cursor-pointer">
                <p class="phone text-truncate cursor-pointer">
                    {{leaveCredit.dueDays}}
                </p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="leaveYear">
            <mat-header-cell *matHeaderCellDef>Leave Year</mat-header-cell>
            <mat-cell *matCellDef="let leaveCredit" class="cursor-pointer">
                <p class="phone text-truncate cursor-pointer">
                    {{leaveCredit.leaveYear.year}}
                </p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="pVDate">
            <mat-header-cell *matHeaderCellDef>P.V Date</mat-header-cell>
            <mat-cell *matCellDef="let leaveCredit" class="cursor-pointer">
                <p class="phone text-truncate cursor-pointer">
                    {{leaveCredit.preparedVDate | date: 'mediumDate'}}
                </p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="pTDate">
            <mat-header-cell *matHeaderCellDef>P.T Date</mat-header-cell>
            <mat-cell *matCellDef="let leaveCredit" class="cursor-pointer">
                <p class="phone text-truncate cursor-pointer">
                    {{leaveCredit.preparedTDate | date: 'mediumDate'}}
                </p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
            </mat-header-cell>
            <mat-cell *matCellDef="let leaveCredit">
                <div fxFlex="row" fxLayoutAlign="end center">
                    <div appPermissionBind [permission]="permissionEdit">
                        <button mat-icon-button aria-label="Toggle star" (click)="editLeaveCredit(leaveCredit)"
                            style="color: blue">
                            <mat-icon class="material-icons">edit</mat-icon>
                        </button>
                    </div>
                    <div appPermissionBind [permission]="permissionDelete">
                        <button mat-icon-button aria-label="Toggle star" (click)="deleteItemModal(leaveCredit)"
                            style="color: red">
                            <mat-icon class="material-icons">delete</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedLeaveCreditColumns"></mat-header-row>
        <mat-row *matRowDef="let leaveCredit; columns: displayedLeaveCreditColumns;" class="contact"
            [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
    <h1 class="loading-data" *ngIf="dataFetching">Data is being load. Please wait....</h1>
    <mat-paginator #paginator *ngIf="leaveCreditList.length > 0" [length]="pagination.total"
        [pageSize]="pagination.perpage" [pageIndex]="pagination.page-1" (page)="pageEvent = onPageChange($event)">
    </mat-paginator>
</div>