<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <!--<form [formGroup]="taxMasterForm">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Qualification</mat-label>
                    <mat-icon matSuffix class="secondary-text">school</mat-icon>
                    <input name="name" formControlName="name" matInput required cdk-focus-start>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-label style="margin-right: 20px">Is Active</mat-label>
                <mat-slide-toggle formControlName="isActive"></mat-slide-toggle>
            </div>
        </form>-->

        <form [formGroup]="taxMasterForm">
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                    <div fxFlex="50">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Tax Title</mat-label>
                            <input matInput formControlName="taxTitle">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Tax %age</mat-label>
                            <input matInput type="number" formControlName="taxPercentage">
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                    <div fxFlex="50">
                        <mat-form-field appearance="outline" fxFlex="100" (click)="liabilitySelect()">
                            <mat-label>GL/Code</mat-label>
                            <mat-select formControlName="glCode" [disabled]="true">
                                <mat-option [value]="liability.id"
                                            *ngFor="let liability of liabilities">{{liability.name}}</mat-option>
                            </mat-select>
                            <mat-error>Liability is required!</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>GL/Code Name</mat-label>
                            <input matInput type="text"  formControlName="glCodeName" [disabled]="true" readonly>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                    <div fxFlex="50">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Beneficiary Code</mat-label>
                            <input matInput type="text" min="0"  formControlName="benCode">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Beneficiary Name</mat-label>
                            <input matInput type="text" min="0"  formControlName="benName">
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-label style="margin-right: 20px">Is Active</mat-label>
                    <mat-slide-toggle formControlName="isActive"></mat-slide-toggle>
                </div>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="save-button" (click)="matDialogRef.close(taxMasterForm); saveTax()"
                [disabled]="taxMasterForm.invalid" aria-label="Save" *ngIf="this.action !== 'EDIT'">ADD
        </button>
        <button mat-button class="save-button" (click)="matDialogRef.close(taxMasterForm); updateTax()"
                [disabled]="taxMasterForm.invalid" aria-label="Update" *ngIf="this.action === 'EDIT'">UPDATE
        </button>
        <button mat-button class="save-button" (click)="resetTaxMasterForm()"
                aria-label="Reset">RESET
        </button>
    </div>
</div>
