<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="leavesTypeForm">
            <div fxLayout="row" fxLayoutAlign="start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Title" formControlName="title" name="title" required cdk-focus-start>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Short Name</mat-label>
                    <input matInput placeholder="Short Name" formControlName="shortName" name="shortName" required>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                <mat-slide-toggle formControlName="isPaidLeave"></mat-slide-toggle>
                <mat-label>Paid leave ?</mat-label>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                <mat-slide-toggle formControlName="isCalenderDays"></mat-slide-toggle>
                <mat-label>Calender days ?</mat-label>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                <mat-slide-toggle formControlName="rollOverUnusedLeave"></mat-slide-toggle>
                <mat-label>Roll over unused leave ?</mat-label>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                <mat-slide-toggle formControlName="entitledAnnually"></mat-slide-toggle>
                <mat-label>Entitled anually ?</mat-label>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                <mat-slide-toggle formControlName="isActive"></mat-slide-toggle>
                <mat-label>Is Active</mat-label>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="save-button" (click)="matDialogRef.close(leavesTypeForm); saveLeaves()"
                [disabled]="leavesTypeForm.invalid" aria-label="Save" *ngIf="this.action !== 'EDIT'">ADD
        </button>
        <button mat-button class="save-button" (click)="matDialogRef.close(leavesTypeForm); updateLeaves()"
                [disabled]="leavesTypeForm.invalid" aria-label="Update" *ngIf="this.action === 'EDIT'">UPDATE
        </button>
    </div>
</div>
