<div id="journal-voucher" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">money
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                   Notes Master
                </span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <div appPermissionBind [permission]="">
                <button mat-button class="accent" id="add-button"
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"
                        (click)="downloadNoteMaster('Trail_balance')">
                    Download
                </button>
            </div>
            <div appPermissionBind [permission]="">
                <button mat-button class="accent" id="reset-button"
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"
                        (click)="resetNoteMaster()">
                    Reset
                </button>
            </div>
            <div appPermissionBind [permission]="" class="margin-left-1">
                <button mat-button class="accent" id="open-all" aria-label="add skill"
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" (click)="openAll()">
                    {{panelOpenState ? 'Close' : 'Open'}} All
                </button>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content mt-20px">
                <form [formGroup]="searchNotesMasterForm">
                    <mat-form-field appearance="outline" fxFlex class="width-200px p-10px mt-13px">
                        <mat-label>Search For Notes</mat-label>
                        <input formControlName="id" matInput (keyup)="search()">
                    </mat-form-field>
                </form>
            </div>
            <div class="content mt-20px">
                <mat-accordion displayMode="flat" [multi]="true" class="mat-table accordion-table">
                    <section matSort class="mat-elevation-z2 mat-header-row accordion-row">
                        <span class="mat-header-cell">
                            <mat-checkbox (change)="reportCheckedAll()" (click)="$event.stopPropagation()"
                                          style="margin-right: 10px"></mat-checkbox> Select</span>
                        <span class="mat-header-cell">Note Id</span>
                        <span class="mat-header-cell">Full Code</span>
                        <span class="mat-header-cell">Debit</span>
                        <span class="mat-header-cell">Credit</span>
                        <span class="mat-header-cell">Balance</span>
                    </section>
                    <mat-expansion-panel *ngFor="let reportData of notesMasterData; let i = index"
                                         [expanded]="reportData.isOpen">
                        <mat-expansion-panel-header class="mat-row align-items-center expansion-header expansion-row"
                                                    (click)="getChildNotes(reportData)">
                            <span class="mat-cell align-items-center">
                                <p class="text-truncate cursor-pointer" style="margin-top: 5px">
                                    <mat-checkbox (change)="reportChecked(i, $event)" (click)="$event.stopPropagation()"
                                                  [checked]="reportData.checked ? true : null"></mat-checkbox>
                                </p>
                            </span>
                            <span class="mat-cell align-items-center">
                                <p class="text-truncate cursor-pointer mt-10px">{{reportData?.noteId}}</p>
                            </span>
                            <span class="mat-cell align-items-center">
                                <p class="text-truncate cursor-pointer mt-10px">{{reportData?.economicSegment?.combinedCode}}</p>
                            </span>
                            <span class="mat-cell align-items-center">
                                <p class="text-truncate cursor-pointer mt-10px">{{reportData?.debit}}</p>
                            </span>
                            <span class="mat-cell align-items-center">
                                <p class="text-truncate cursor-pointer mt-10px">{{reportData?.credit}}</p>
                            </span>
                            <span class="mat-cell align-items-center">
                                <p class="text-truncate cursor-pointer mt-10px"
                                   *ngIf="reportData.credit > reportData?.debit">({{(reportData?.debit - reportData?.credit) * -1}}
                                    )</p>
                                <p class="text-truncate cursor-pointer mt-10px"
                                   *ngIf="reportData.credit <= reportData?.debit">{{reportData?.debit - reportData?.credit}}</p>
                            </span>
                        </mat-expansion-panel-header>
                        <div class="mt-23px">
                            <table class="simple invoice-table">
                                <thead>
                                <tr>
                                    <th>
                                        <div class="title">Full Code</div>
                                    </th>
                                    <th>
                                        <div class="title">Line Code</div>
                                    </th>
                                    <th>
                                        <div class="title">Title</div>
                                    </th>
                                    <th>
                                        <div class="title">Debit</div>
                                    </th>
                                    <th>
                                        <div class="title">Credit</div>
                                    </th>
                                    <th>
                                        <div class="title">Balance</div>
                                    </th>

                                    <th>
                                        <div class="title">Note</div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody
                                    *ngIf="reportData['childs'] && reportData['childs'].length > 0; else noChildToShow">
                                <tr *ngFor="let data of reportData['childs']; let j = index">
                                    <td>
                                        <div class="title">
                                            {{data?.economicSegment?.combinedCode}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="title">
                                            {{data?.economicSegment?.individualCode}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="title">
                                            {{data?.economicSegment?.name}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="title">
                                            {{data?.debit}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="title">
                                            {{data?.credit}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="title" *ngIf="reportData.credit > reportData?.debit">
                                            ({{(reportData?.debit - reportData?.credit) * -1}})
                                        </div>
                                        <div class="title"
                                             *ngIf="reportData.credit <= reportData?.debit">{{reportData?.debit - reportData?.credit}}</div>
                                    </td>
                                    <td>
                                        <button appPermissionBind [permission]="permissionAddNotes"
                                                class="border-bg-none" *ngIf="!data.noteId"
                                                (click)="addNote(data.economicSegmentId)">
                                            <span class="material-icons f_20 cursor-pointer blueColor">
                                                add_box
                                            </span>
                                        </button>
                                        <button *ngIf="data.noteId" class="border-bg-none no-click">
                                            <span class="material-icons f_20 cursor-pointer blueColor">
                                                done
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                                <ng-template #noChildToShow>
                                    <tbody>
                                    <tr>
                                        <td class="text-center" colspan="7">No data to show</td>
                                    </tr>
                                    </tbody>
                                </ng-template>
                            </table>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>