<div class="country-list">
    <mat-table [@animateStagger]="{value:'50'}" [dataSource]="leaveGroupList">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>S.No</mat-header-cell>
            <mat-cell *matCellDef="let leaveGroup">
                <p class="email text-truncate">
                    {{leaveGroup.sno}}.
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let leaveGroup">
                <p class="phone text-truncate cursor-pointer">
                    {{leaveGroup.title}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>
                <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 10px">Status</div>
            </mat-header-cell>
            <mat-cell *matCellDef="let leaveGroup">
                <div fxFlex="row" fxLayoutAlign="end center">
                    <p *ngIf="leaveGroup.isActive">Active</p>
                    <p *ngIf="!leaveGroup.isActive">Inactive</p>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
            </mat-header-cell>
            <mat-cell *matCellDef="let leaveGroup">
                <div fxFlex="row" fxLayoutAlign="end center">
                    <button mat-icon-button aria-label="Toggle star" matTooltip="Group Members"
                        matTooltipPosition="left" (click)="addGroupMember(leaveGroup)" style="color: #000000">
                        <mat-icon class="material-icons">person</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Toggle star" (click)="editLeaveGroup(leaveGroup)"
                        style="color: blue">
                        <mat-icon class="material-icons">edit</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Toggle star" (click)="deleteItemModal(leaveGroup)"
                        style="color: red">
                        <mat-icon class="material-icons">delete</mat-icon>
                    </button>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedLeaveGroupColumns"></mat-header-row>
        <mat-row *matRowDef="let leaveGroup; columns: displayedLeaveGroupColumns;" class="contact"
            [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
</div>