<div class="country-list">
        <mat-table [@animateStagger]="{value:'50'}" [dataSource]="lgaList">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
                <mat-cell fxHide fxShow.gt-sm *matCellDef="let lga">
                    <p class="email text-truncate">
                        {{lga.sno}}.
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="country">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Country</mat-header-cell>
                <mat-cell fxHide fxShow.gt-md *matCellDef="let lga">
                    <p class="phone text-truncate">
                        {{lga.state.region.country.name}}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="region">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Region</mat-header-cell>
                <mat-cell fxHide fxShow.gt-md *matCellDef="let lga">
                    <p class="phone text-truncate">
                        {{lga.state.region.name}}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="state">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>State</mat-header-cell>
                <mat-cell fxHide fxShow.gt-md *matCellDef="let lga">
                    <p class="phone text-truncate">
                        {{lga.state.name}}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Name</mat-header-cell>
                <mat-cell fxHide fxShow.gt-md *matCellDef="let lga">
                    <p class="phone text-truncate">
                        {{lga.name}}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>
                    <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 10px">Status</div>
                </mat-header-cell>
                <mat-cell fxHide fxShow.gt-md *matCellDef="let lga">
                    <div fxFlex="row" fxLayoutAlign="end center">
                        <p *ngIf="lga.isActive">Active</p>
                        <p *ngIf="!lga.isActive">Inactive</p>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let lga">
                    <div fxFlex="row" fxLayoutAlign="end center">
                        <button mat-icon-button aria-label="Toggle star" (click)="editLga(lga)"
                                style="color: blue">
                            <mat-icon class="material-icons">edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Toggle star" (click)="deleteLga(lga?.id)"
                                style="color: red">
                            <mat-icon class="material-icons">delete</mat-icon>
                        </button>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedLgaColumns"></mat-header-row>
            <mat-row *matRowDef="let country; columns: displayedLgaColumns;" class="contact"
                     [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>
        </mat-table>
    </div>



