<div id="employees" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                Create Fixed Asset
            </div>
        </div>
    </div>
    <div class="content" fusePerfectScrollbar>
        <div class="horizontal-stepper-wrapper hor-wrap">
            <mat-card>
                <form fxLayout="column" [formGroup]="assetsForm">
                    <mat-grid-list cols="3" rowHeight="100px">
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Asset No</mat-label>
                                    <input matInput formControlName="assetNo" required>
                                    <mat-error>Asset Number is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Title</mat-label>
                                    <input matInput formControlName="title" required>
                                    <mat-error>Title is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Date Manufactured</mat-label>
                                    <input matInput [matDatepicker]="manufacturedDate" [max]="maxManufactureDate"
                                           formControlName="dateManufactured">
                                    <mat-datepicker-toggle matSuffix [for]="manufacturedDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #manufacturedDate></mat-datepicker>
                                    <mat-error>Date Manufactured is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Date Acquired</mat-label>
                                    <input matInput [matDatepicker]="acquiredDate" [max]="todayDate"
                                           (dateChange)="onDateAcquiredChange($event)" formControlName="dateAcquired">
                                    <mat-datepicker-toggle matSuffix [for]="acquiredDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #acquiredDate></mat-datepicker>
                                    <mat-error>Date Acquired is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Make</mat-label>
                                    <input matInput formControlName="make" required>
                                    <mat-error>Make is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Model</mat-label>
                                    <input matInput formControlName="model" required>
                                    <mat-error>Model is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Salvage Value</mat-label>
                                    <input matInput formControlName="salvageValue" required>
                                    <mat-error>Salvage value is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Expected Life</mat-label>
                                    <input matInput formControlName="expectedLife" required>
                                    <mat-error>Expected Life is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Begin Accum Depr</mat-label>
                                    <input matInput formControlName="beginAccumDepr" required>
                                    <mat-error>Begin Accum Depr is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>OEM Serial Number</mat-label>
                                    <input matInput formControlName="oemSerialNo" required>
                                    <mat-error>OEM Serial Number is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>OEM Barcode Number</mat-label>
                                    <input matInput formControlName="oemBarCodeNo" required>
                                    <mat-error>OEM Barcode Number is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Acquisition Cost</mat-label>
                                    <input matInput formControlName="acquisitionCost" required>
                                    <mat-error>Acquisition Cost is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Asset Category</mat-label>
                                    <mat-select formControlName="fxaCategoryId" (click)="openFixedAssetCategory()"
                                                [disabled]="true">
                                        <mat-option value="">Choose Asset Category</mat-option>
                                        <mat-option [value]="faCategory.id" *ngFor="let faCategory of faCategories">
                                            {{faCategory.title}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>Asset Category is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Deployment Status</mat-label>
                                    <select matNativeControl formControlName="fxaStatusId">
                                        <option value="">Select Deployment status</option>
                                        <option [value]="status.id"
                                                *ngFor="let status of faStatuses">{{status.title}}</option>
                                    </select>
                                    <mat-error>Deployment Status is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Depreciation Method</mat-label>
                                    <select matNativeControl formControlName="fxaDepreciationMethodId">
                                        <option value="">Select Depreciation Method</option>
                                        <option [value]="faDepreciation.id"
                                                *ngFor="let faDepreciation of faDepreciations">
                                            {{faDepreciation.title}}
                                        </option>
                                    </select>
                                    <mat-error>Depreciation Method is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="12">
                        <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Remark</mat-label>
                                <textarea matInput formControlName="remark"></textarea>
                                <!--                                <mat-error>Remark is required!</mat-error>-->
                            </mat-form-field>
                        </div>
                    </mat-grid-list>
                    <fieldset>
                        <legend>Supplier Details</legend>
                        <mat-grid-list cols="3" rowHeight="100px">
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Supplier Invoice Number</mat-label>
                                        <input matInput formControlName="supplierInvoice">
                                        <mat-error>Supplier Invoice is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Supplier Name</mat-label>
                                        <input matInput formControlName="supplierName">
                                        <mat-error>Supplier Name is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Supplier Contact Details</mat-label>
                                        <input matInput formControlName="supplierContact" required>
                                        <mat-error>Supplier Contact Details is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Date Installed</mat-label>
                                        <input matInput [matDatepicker]="dateInstalled" formControlName="dateInstalled">
                                        <mat-datepicker-toggle matSuffix [for]="dateInstalled">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #dateInstalled></mat-datepicker>
                                        <mat-error>Date Installed is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Date Commissioned</mat-label>
                                        <input matInput [matDatepicker]="dateCommissioned"
                                               formControlName="dateCommissioned">
                                        <mat-datepicker-toggle matSuffix [for]="dateCommissioned">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #dateCommissioned></mat-datepicker>
                                        <mat-error>Date Commissioned is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Date De-Commissioned</mat-label>
                                        <input matInput [matDatepicker]="dateDeCommissioned"
                                               formControlName="dateDeCommissioned">
                                        <mat-datepicker-toggle matSuffix [for]="dateDeCommissioned">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #dateDeCommissioned></mat-datepicker>
                                        <mat-error>Date Decommissioned is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Date Disposed</mat-label>
                                        <input matInput [matDatepicker]="dateDisposed" formControlName="dateDisposed">
                                        <mat-datepicker-toggle matSuffix [for]="dateDisposed">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #dateDisposed></mat-datepicker>
                                        <mat-error>Date Disposed is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Disposal Price</mat-label>
                                        <input matInput formControlName="disposalPrice" required>
                                        <mat-error>Disposal Price is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>

                        </mat-grid-list>
                    </fieldset>

                    <fieldset class="mt-8">
                        <legend>Purchase Classification</legend>
                        <mat-grid-list cols="3" rowHeight="100px">
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex class="p-10px mt-13px mt--5px">
                                        <mat-label>Admin Segment</mat-label>
                                        <mat-select formControlName="adminSegmentId" (click)="adminSegmentSelect()"
                                                    [disabled]="true">
                                            <mat-option value="">Choose Admin Segment</mat-option>
                                            <mat-option [value]="admin.id"
                                                        *ngFor="let admin of adminSegments">{{admin?.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field class="cursor-pointer" appearance="outline" fxFlex="100"
                                                    (click)="economicSegmentSelect()">
                                        <mat-label>Economic Segment Name</mat-label>
                                        <mat-select formControlName="economicSegmentId" [disabled]="true">
                                            <mat-option [value]="economicSegment.id"
                                                        *ngFor="let economicSegment of economicSegments">{{economicSegment.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field class="cursor-pointer" appearance="outline" fxFlex="100"
                                                    (click)="fundSegmentSelectAddDetails()">
                                        <mat-label>Fund Segment Name</mat-label>
                                        <mat-select formControlName="fundSegmentId" [disabled]="true">
                                            <mat-option [value]="fundSegment.id"
                                                        *ngFor="let fundSegment of fundSegmentsAddDet">{{fundSegment.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field class="cursor-pointer" appearance="outline" fxFlex="100"
                                                    (click)="programmeSegmentSelect()">
                                        <mat-label>Programme Segment Name</mat-label>
                                        <mat-select formControlName="programmeSegmentId" [disabled]="true">
                                            <mat-option [value]="programmeSegment.id"
                                                        *ngFor="let programmeSegment of programmeSegments">{{programmeSegment.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field class="cursor-pointer" appearance="outline" fxFlex="100"
                                                    (click)="functionSegmentSelect()">
                                        <mat-label>Functional Segment Name</mat-label>
                                        <mat-select formControlName="functionalSegmentId" [disabled]="true">
                                            <mat-option [value]="functionSegment.id"
                                                        *ngFor="let functionSegment of functionSegments">{{functionSegment.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field class="cursor-pointer" appearance="outline" fxFlex="100"
                                                    (click)="geoCodeSegmentSelect()">
                                        <mat-label>Geo Code Segment Name</mat-label>
                                        <mat-select formControlName="geoCodeSegmentId" [disabled]="true">
                                            <mat-option [value]="geoCodeSegment.id"
                                                        *ngFor="let geoCodeSegment of geoCodeSegments">{{geoCodeSegment.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </fieldset>

                    <fieldset class="mt-8">
                        <legend>Current Location</legend>
                        <mat-grid-list cols="3" rowHeight="100px">
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" class="w-100-per cursor-pointer"
                                                    (click)="selectAdminEmployee('Select Custodian')">
                                        <mat-label>Custodian</mat-label>
                                        <mat-select formControlName="custodianId" [disabled]="true">
                                            <mat-option value="">Custodian Name</mat-option>
                                            <mat-option [value]="custodian.id" *ngFor="let custodian of custodians">
                                                {{custodian?.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Value Date</mat-label>
                                        <input matInput [matDatepicker]="valueDate" [max]="todayDate"
                                               formControlName="valueDate">
                                        <mat-datepicker-toggle matSuffix [for]="valueDate">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #valueDate></mat-datepicker>
                                        <mat-error>Value Date is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Location</mat-label>
                                        <mat-select formControlName="locationId" required [disabled]="true"
                                                    (click)="workLocationListSelect()">
                                            <mat-option [value]="workLocation.id"
                                                        *ngFor="let workLocation of workLocations">{{workLocation.name}}</mat-option>
                                        </mat-select>
                                        <mat-error>Location is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>

                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex class="p-10px mt-13px mt--5px">
                                        <mat-label>Admin Segment</mat-label>
                                        <mat-select formControlName="deploymentAdminSegmentId"
                                                    (click)="deploymentAdminSegmentSelect()" [disabled]="true">
                                            <mat-option value="">Choose Admin Segment</mat-option>
                                            <mat-option [value]="admin.id"
                                                        *ngFor="let admin of deploymentAdminSegments">
                                                {{admin?.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <mat-grid-list cols="12">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Remark</mat-label>
                                    <textarea matInput formControlName="deploymentRemark"></textarea>
                                    <!--                                    <mat-error>Remark is required!</mat-error>-->
                                </mat-form-field>
                            </div>
                        </mat-grid-list>
                    </fieldset>

                    <div fxLayout="row" fxLayoutAlign="right right" class="mt-8">
                        <ng-container *ngIf="this.fixedAssetId; else saveButton">
                            <button mat-raised-button type="button" color="accent" (click)="updateFixedAssets()"
                                    [disabled]="assetsForm.invalid">
                                Update
                            </button>
                        </ng-container>
                        <ng-template #saveButton>
                            <button mat-raised-button type="button" color="accent" (click)="saveFixedAssets()"
                                    [disabled]="assetsForm.invalid">
                                Save
                            </button>
                        </ng-template>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>