.formInput {
    margin-right: 10px;
}

.prefix {
    height: 100%;
    width: 20px;
    margin-right: 5px;
    margin-top: -6px;
}

/*.individualCode {
    border: 1px solid red;
}*/

.parentCode {
    width: 50px;
}

.segment-code-show {
    margin-top: 0 !important;
}