<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="close-popup">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <span class="text-center">
            <h5 class="segment-code-show">XX-XXX-XX-XXX-XX-XX</h5>
        </span>
        <form [formGroup]="segmentForm">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Segment name</mat-label>
                    <input name="name" formControlName="name" matInput required placeholder="Enter Segment Name">
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <input name="parentCode" matInput formControlName="parentCode">
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Segment Code</mat-label>
                    <input class="individualCode" name="individualCode" matInput formControlName="individualCode">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-label style="margin-right: 20px">Is a parent</mat-label>
                <mat-slide-toggle formControlName="isActive"></mat-slide-toggle>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="save-button" (click)="handleSegmentAddOrUpdate(); matDialogRef.close(segmentForm)"
                [disabled]="segmentForm.invalid" aria-label="Update">{{this.action === 'EDIT' ? 'UPDATE' : 'ADD' }}
        </button>
    </div>
</div>
