<div fxFlex="100" fxLayout="column" fxLayoutGap="20px">
    <mat-table [@animateStagger]="{value:'50'}" [dataSource]="managers">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
            <mat-cell *matCellDef="let manager" fxHide fxShow.gt-sm>
                <p class="email text-truncate">
                    {{((pagination.page - 1) * pagination.perpage) + manager.sno}}.
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Name</mat-header-cell>
            <mat-cell *matCellDef="let manager" fxHide fxShow.gt-md>
                <p class="phone text-truncate">
                    {{manager.name}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef>
                <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 10px">Username</div>
            </mat-header-cell>
            <mat-cell *matCellDef="let manager" fxHide fxShow.gt-md>
                <div fxFlex="row" fxLayoutAlign="end center">
                    <p class="text-truncate">
                        {{manager.username}}
                    </p>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
            </mat-header-cell>
            <mat-cell *matCellDef="let manager">
                <div fxFlex="row" fxLayoutAlign="end center">
                    <button aria-label="Toggle star" mat-icon-button routerLink="{{manager?.id}}/roles"
                            style="color: green">
                        <mat-icon class="material-icons">lock_open</mat-icon>
                    </button>
                    <button (click)="editManagers(manager)" aria-label="Toggle star" mat-icon-button
                            style="color: blue">
                        <mat-icon class="material-icons">edit</mat-icon>
                    </button>
                    <button (click)="deleteManagers(manager?.id)" aria-label="Toggle star" mat-icon-button
                            style="color: red">
                        <mat-icon class="material-icons">delete</mat-icon>
                    </button>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let manager; columns: displayedColumns;" [@animate]="{value:'*',params:{y:'100%'}}"
                 class="contact">
        </mat-row>
    </mat-table>
    <mat-paginator #paginator (page)="pageEvent = onPageChange($event)"
                   *ngIf="managers.length > 0"
                   [length]="pagination.total"
                   [pageIndex]="pagination.page-1"
                   [pageSize]="pagination.perpage"
    >
    </mat-paginator>
</div>