<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Employee {{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content  fusePerfectScrollbar>
   <div class="margin-top-1rem">
     <ng-container>
         <form [formGroup]="employeeLanguageForm">
             <div fxLayout="column">
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Language</mat-label>
                         <mat-select formControlName="languageId">
                             <mat-option [value]="">Select</mat-option>
                             <mat-option [value]="language.id"
                                         *ngFor="let language of languages">
                                 {{language.name}}</mat-option>
                         </mat-select>
                     </mat-form-field>
                 </div>
                 <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Proficiency(Written)</mat-label>
                             <mat-select formControlName="writtenProficiency">
                                 <mat-option [value]="">Select</mat-option>
                                 <mat-option [value]="written.value"
                                             *ngFor="let written of proficiency">
                                     {{written.name}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Proficiency(Spoken)</mat-label>
                             <mat-select formControlName="spokenProficiency">
                                 <mat-option [value]="">Select</mat-option>
                                 <mat-option [value]="spoken.value"
                                             *ngFor="let spoken of proficiency">
                                     {{spoken.name}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Certification</mat-label>
                         <input matInput formControlName="certification">
                     </mat-form-field>
                 </div>

             </div>
         </form>
         <div class="employee-address">
             <mat-table [@animateStagger]="{value:'50'}" [dataSource] = "employeeLanguageList">
                 <ng-container matColumnDef="sno">
                     <mat-header-cell *matHeaderCellDef>S.No</mat-header-cell>
                     <mat-cell *matCellDef="let employeeLanguage">
                         <p class="email text-truncate">
                             {{employeeLanguage.sno}}.
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="language">
                     <mat-header-cell *matHeaderCellDef>Language</mat-header-cell>
                     <mat-cell *matCellDef="let employeeLanguage">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeLanguage?.language?.name}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="written">
                     <mat-header-cell *matHeaderCellDef>Proficiency(Written)</mat-header-cell>
                     <mat-cell *matCellDef="let employeeLanguage">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeLanguage?.writtenProficiency}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="spoken">
                     <mat-header-cell *matHeaderCellDef>Proficiency(Spoken)</mat-header-cell>
                     <mat-cell *matCellDef="let employeeLanguage">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeLanguage?.spokenProficiency}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="certification">
                     <mat-header-cell *matHeaderCellDef>Certification</mat-header-cell>
                     <mat-cell *matCellDef="let employeeLanguage">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeLanguage?.certification}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="actions">
                     <mat-header-cell *matHeaderCellDef>
                         <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                     </mat-header-cell>
                     <mat-cell *matCellDef="let employeeLanguage">
                         <div fxFlex="row" fxLayoutAlign="end center">
                             <button mat-icon-button aria-label="Toggle star" (click)="editEmployeeLanguage(employeeLanguage?.id)"
                                     style="color: blue">
                                 <mat-icon class="material-icons">edit</mat-icon>
                             </button>
                             <button mat-icon-button aria-label="Toggle star" (click)="deleteEmployeeLanguage(employeeLanguage?.id)"
                                     style="color: red">
                                 <mat-icon class="material-icons">delete</mat-icon>
                             </button>
                         </div>
                     </mat-cell>
                 </ng-container>

                 <mat-header-row *matHeaderRowDef="employeeLanguageColumns"></mat-header-row>
                 <mat-row *matRowDef="let employeeLanguage; columns: employeeLanguageColumns;" class="contact"
                          [@animate]="{value:'*',params:{y:'100%'}}">
                 </mat-row>
             </mat-table>
         </div>
     </ng-container>
   </div>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="save-button" (click)="cancelUpdate()"
                aria-label="Update" *ngIf="employeeLanguageId">Cancel
        </button>
        <button mat-button class="save-button"
                [disabled]="employeeLanguageForm.invalid"
                *ngIf="employeeLanguageId === null "
                (click)="addPhoneNumber()"
                aria-label="Save">ADD
        </button>
        <button mat-button class="save-button" (click)="updateEmployeeLanguage()"
                [disabled]="employeeLanguageForm.invalid" aria-label="Update" *ngIf="employeeLanguageId">Apply Changes
        </button>
    </div>
</div>
