<div fxLayout="column" fxLayoutGap="20px" fxFlex="100">
<mat-table [@animateStagger]="{value:'50'}" [dataSource]="armOfServices">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
        <mat-cell fxHide fxShow.gt-sm *matCellDef="let armOfService">
            <p class="email text-truncate">
                {{((pagination.page - 1) * pagination.perpage) + armOfService.sno}}.
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Name</mat-header-cell>
        <mat-cell fxHide fxShow.gt-md *matCellDef="let armOfService">
            <p class="phone text-truncate">
                {{armOfService.name}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>
            <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 10px">Status</div>
        </mat-header-cell>
        <mat-cell fxHide fxShow.gt-md *matCellDef="let armOfService">
            <div fxFlex="row" fxLayoutAlign="end center">
                <p *ngIf="armOfService.isActive">Active</p>
                <p *ngIf="!armOfService.isActive">Isactive</p>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
            <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let armOfService">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button aria-label="Toggle star" (click)="editArmOfService(armOfService)"
                        style="color: blue">
                    <mat-icon class="material-icons">edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="Toggle star" (click)="deleteItemModal(armOfService)"
                        style="color: red">
                    <mat-icon class="material-icons">delete</mat-icon>
                </button>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let armOfService; columns: displayedColumns;" class="contact"
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>
    <mat-paginator #paginator (page)="pageEvent = onPageChange($event)"
                   *ngIf="armOfServices.length > 0"
                   [length]="pagination.total"
                   [pageIndex]="pagination.page-1"
                   [pageSize]="pagination.perpage"
    >
    </mat-paginator>
</div>