<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="leaveRequestForm">
            <div>
                <p><b>Staff Name:</b> {{updateData.leaveRequest.staff.firstName}}
                    {{updateData.leaveRequest.staff.lastName}} </p>
                <p><b>Start Date:</b> {{updateData.leaveRequest.startDate | date: 'shortDate'}} </p>
                <p><b>Duration:</b> {{updateData.leaveRequest.duration}}</p>
                <p><b>Staff P.V Date</b> {{updateData.leaveRequest.preparedVDate | date: 'shortDate'}}</p>
                <p><b>Releif Officer:</b> {{updateData.leaveRequest.reliefOfficer.firstName}}
                    {{updateData.leaveRequest.reliefOfficer.lastName}}</p>
                <p><b>P. Login:</b> {{updateData.leaveRequest.preparedLoginId}} </p>
                <p><b>HOD Approved:</b> {{updateData.leaveRequest.approvedHod | titlecase}} </p>
                <p><b>HOD P.V Date:</b> {{updateData.leaveRequest.approvedHodVDate | date:'shortDate'}} </p>
                <p><b>HOD P.Login:</b> {{updateData.leaveRequest.approvedHodLoginId}} </p>
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Approved P.V Date</mat-label>
                    <input matInput [matDatepicker]="pickerPVDate" formControlName="approvedHrVDate"
                        placeholder="P.V Date">
                    <mat-datepicker-toggle matSuffix [for]="pickerPVDate">
                        <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #pickerPVDate></mat-datepicker>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start">
                <mat-form-field appearance="outline" class="width-256px p-10px mt-13px mb--15px" fxFlex>
                    <mat-label>Approval Status</mat-label>
                    <mat-select formControlName="approvedHr">
                        <mat-option value="pending">Pending</mat-option>
                        <mat-option value="approved">Approved</mat-option>
                        <mat-option value="rejected">Rejected</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="save-button" (click)="matDialogRef.close(leaveRequestForm); saveLeaveRequest()"
            [disabled]="leaveRequestForm.invalid" aria-label="Save" *ngIf="this.action !== 'EDIT'">ADD
        </button>
        <button mat-button class="save-button" (click)="matDialogRef.close(leaveRequestForm); updateLeaveRequest()"
            [disabled]="leaveRequestForm.invalid" aria-label="Update" *ngIf="this.action === 'EDIT'">UPDATE
        </button>
    </div>
</div>