<div id="items" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">collections
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Companies Master
                </span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" appPermissionBind [permission]="createCompanyPermission">
            <button mat-fab class="accent" id="add-button" aria-label="add qualification"
                    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" (click)="addCompany()"
                    >
                <mat-icon>add_circle</mat-icon>
            </button>
        </div>
    </div>

    <div class="content">
        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <div class="content">
                <app-companies-list></app-companies-list>
            </div>
        </div>
    </div>
</div>