<div class="country-list">
        <mat-table [@animateStagger]="{value:'50'}" [dataSource]="publicHolidayList">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
                <mat-cell fxHide fxShow.gt-sm *matCellDef="let publicHoliday">
                    <p class="email text-truncate">
                        {{publicHoliday.sno}}.
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Holiday Name</mat-header-cell>
                <mat-cell fxHide fxShow.gt-md *matCellDef="let publicHoliday">
                    <p class="phone text-truncate">
                        {{publicHoliday.name}}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let publicHoliday">
                    <div fxFlex="row" fxLayoutAlign="end center">
                        <button mat-icon-button aria-label="Toggle star" (click)="editPublicHoliday(publicHoliday)"
                                style="color: blue">
                            <mat-icon class="material-icons">edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Toggle star" (click)="deleteItemModal(publicHoliday)"
                                style="color: red">
                            <mat-icon class="material-icons">delete</mat-icon>
                        </button>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedPublicHolidayListColumns"></mat-header-row>
            <mat-row *matRowDef="let publicHoliday; columns: displayedPublicHolidayListColumns;" class="contact"
                     [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>
        </mat-table>
    </div>



