<div id="journal-voucher" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">money
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                   Journal Voucher
                </span>
            </div>
            <!--<div class="ml-20px mt-20px color-white" fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" fxFlex="100" class="width-200px">
                    <mat-label>Originating / Source App</mat-label>
                    <mat-select>
                        <mat-option [value]="source.value"
                                    *ngFor="let source of sourceApp">{{source?.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>-->
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-fab class="accent" id="add-button" aria-label="add salary scales"
                    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" (click)="addJournalVoucher()">
                <mat-icon>add_circle</mat-icon>
            </button>
        </div>
        <!-- SEARCH -->
        <!--<div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div class="search-wrapper mt-16 mt-sm-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input [formControl]="searchInput" placeholder="Search for a contact">
                </div>
            </div>
        </div>-->
        <!-- / SEARCH -->
    </div>
    <div class="content">
    </div>
    <div class="content">
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content">
                <form [formGroup]="filterJournalVoucherForm">
                    <mat-form-field appearance="outline" fxFlex class="width-200px p-10px mt-13px">
                        <mat-label>Originating / Source App</mat-label>
                        <mat-select formControlName="sourceApp" (selectionChange)="search()">
                            <mat-option value="">Choose Source</mat-option>
                            <mat-option [value]="source.value"
                                        *ngFor="let source of sourceApp">{{source?.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex class="width-200px p-10px mt-13px">
                        <mat-label>From</mat-label>
                        <input matInput [matDatepicker]="from"
                               formControlName="from" (dateInput)="search()">
                        <mat-datepicker-toggle matSuffix
                                               [for]="from"></mat-datepicker-toggle>
                        <mat-datepicker #from></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex class="width-200px p-10px mt-13px">
                        <mat-label>To</mat-label>
                        <input matInput [matDatepicker]="to"
                               formControlName="to" (dateInput)="search()">
                        <mat-datepicker-toggle matSuffix
                                               [for]="to"></mat-datepicker-toggle>
                        <mat-datepicker #to></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex class="width-200px p-10px mt-13px">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="status" (selectionChange)="filter()">
                            <mat-option [value]="type.value"
                                        *ngFor="let type of types">{{type?.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <div class="content mt-20px">
                <form [formGroup]="searchJournalVoucherForm">
                    <mat-form-field appearance="outline" fxFlex class="width-200px p-10px mt-13px">
                        <mat-label>Search JV Reference</mat-label>
                        <input formControlName="jvReference" matInput (keyup)="search()">
                    </mat-form-field>
                </form>
            </div>
            <div class="content mt-20px">
                <app-journal-voucher-list></app-journal-voucher-list>
            </div>
        </div>
    </div>
</div>