<div id="journal-voucher" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">money
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                   Journal Voucher
                </span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <div appPermissionBind [permission]="permissionAddJV">
                <button mat-fab class="accent" id="add-button" aria-label="add salary scales"
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" (click)="addJournalVoucher()">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="content">
    </div>
    <div class="content">
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content">
                <form [formGroup]="filterJournalVoucherForm">
                    <mat-grid-list cols="4">
                        <mat-form-field appearance="outline" fxFlex class="width-200px p-10px mt-13px">
                            <mat-label>Originating / Source App</mat-label>
                            <mat-select formControlName="sourceApp">
                                <mat-option value="">Choose Source</mat-option>
                                <mat-option [value]="source.value"
                                            *ngFor="let source of sourceApp">{{source?.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex class="width-200px p-10px mt-13px">
                            <mat-label>From</mat-label>
                            <input matInput [matDatepicker]="from" (click)="from.open()" (focus)="from.open()"
                                   formControlName="from">
                            <mat-datepicker-toggle matSuffix
                                                   [for]="from"></mat-datepicker-toggle>
                            <mat-datepicker #from></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex class="width-200px p-10px mt-13px">
                            <mat-label>To</mat-label>
                            <input matInput [matDatepicker]="to" (click)="to.open()" (focus)="to.open()"
                                   formControlName="to">
                            <mat-datepicker-toggle matSuffix
                                                   [for]="to"></mat-datepicker-toggle>
                            <mat-datepicker #to></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex class="width-200px p-10px mt-13px">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status">
                                <mat-option [value]="type.value"
                                            *ngFor="let type of types">{{type?.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-list>
                    <mat-grid-list cols="1" class="width-99-per mt--34px">
                        <mat-form-field appearance="outline" fxFlex class="p-10px">
                            <mat-label>Search JV Reference</mat-label>
                            <input formControlName="jvReference" matInput>
                        </mat-form-field>
                        <button mat-button class="reset-report" (click)="resetfilter()">
                            Reset
                            <mat-icon class="material-icons cursor-pointer whiteColor">cached</mat-icon>
                        </button>
                        <button mat-button class="submit-report" (click)="filter()">
                            Submit
                            <mat-icon class="material-icons cursor-pointer whiteColor">play_arrow</mat-icon>
                        </button>
                    </mat-grid-list>
                </form>
            </div>
            <div class="content mt-20px">
                <app-journal-voucher-list></app-journal-voucher-list>
            </div>
        </div>
    </div>
</div>