<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Employee {{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content  fusePerfectScrollbar>
   <div class="margin-top-1rem">
     <ng-container>
         <form [formGroup]="employeeAddressForm">
             <div fxLayout="column">
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Type Of Address</mat-label>
                         <mat-select formControlName="addressTypeId">
                             <mat-option [value]="">Select</mat-option>
                             <mat-option [value]="toa.id"
                                         *ngFor="let toa of typeOfAddress">
                                 {{toa.name}}</mat-option>
                         </mat-select>
                     </mat-form-field>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Address Line 1</mat-label>
                         <input matInput formControlName="addressLine1">
                     </mat-form-field>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Address Line 2</mat-label>
                         <input matInput formControlName="addressLine2">
                     </mat-form-field>
                 </div>
                 <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>City</mat-label>
                             <input matInput formControlName="city">
                         </mat-form-field>
                     </div>
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>ZIP Code</mat-label>
                             <input matInput formControlName="zipCode">
                         </mat-form-field>
                     </div>
                 </div>

                 <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Country</mat-label>
                             <mat-select formControlName="countryId">
                                 <mat-option [value]="">Select</mat-option>
                                 <mat-option [value]="country.id"
                                             *ngFor="let country of countries">
                                     {{country.name}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Region</mat-label>
                             <mat-select formControlName="regionId">
                                 <mat-option [value]="">Select</mat-option>
                                 <mat-option [value]="region.id"
                                             *ngFor="let region of regions">
                                     {{region.name}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                 </div>
                 <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>State</mat-label>
                             <mat-select formControlName="stateId">
                                 <mat-option [value]="">Select</mat-option>
                                 <mat-option [value]="state.id"
                                             *ngFor="let state of states">
                                     {{state.name}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>LGA</mat-label>
                             <mat-select formControlName="lgaId">
                                 <mat-option [value]="">Select</mat-option>
                                 <mat-option [value]="lga.id"
                                             *ngFor="let lga of lgas">
                                     {{lga.name}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                 </div>

             </div>
         </form>
         <div class="employee-address">
             <mat-table [@animateStagger]="{value:'50'}" [dataSource] = "employeeAddressList">
                 <ng-container matColumnDef="sno">
                     <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
                     <mat-cell fxHide fxShow.gt-sm *matCellDef="let employeeAddress">
                         <p class="email text-truncate">
                             {{employeeAddress.sno}}.
                         </p>
                     </mat-cell>
                 </ng-container>


                 <ng-container matColumnDef="addressType">
                     <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Address Type</mat-header-cell>
                     <mat-cell fxHide fxShow.gt-md *matCellDef="let employeeAddress">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeAddress?.addressType?.name}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="address">
                     <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Address</mat-header-cell>
                     <mat-cell fxHide fxShow.gt-md *matCellDef="let employeeAddress">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeAddress.addressLine1}} <br> {{employeeAddress.addressLine2}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="city">
                     <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>City</mat-header-cell>
                     <mat-cell fxHide fxShow.gt-md *matCellDef="let employeeAddress">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeAddress.city}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="zipCode">
                     <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>ZIP Code</mat-header-cell>
                     <mat-cell fxHide fxShow.gt-md *matCellDef="let employeeAddress">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeAddress?.zipCode}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="country">
                     <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Country</mat-header-cell>
                     <mat-cell fxHide fxShow.gt-md *matCellDef="let employeeAddress">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeAddress?.country?.name}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="region">
                     <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Region</mat-header-cell>
                     <mat-cell fxHide fxShow.gt-md *matCellDef="let employeeAddress">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeAddress?.region?.name}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="state">
                     <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>State</mat-header-cell>
                     <mat-cell fxHide fxShow.gt-md *matCellDef="let employeeAddress">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeAddress?.state?.name}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="lga">
                     <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>LGA</mat-header-cell>
                     <mat-cell fxHide fxShow.gt-md *matCellDef="let employeeAddress">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeAddress?.lga?.name}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="actions">
                     <mat-header-cell *matHeaderCellDef>
                         <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                     </mat-header-cell>
                     <mat-cell *matCellDef="let employeeAddress">
                         <div fxFlex="row" fxLayoutAlign="end center">
                             <button mat-icon-button aria-label="Toggle star" (click)="editEmployeeAddress(employeeAddress)"
                                     style="color: blue">
                                 <mat-icon class="material-icons">edit</mat-icon>
                             </button>
                             <button mat-icon-button aria-label="Toggle star" (click)="deleteEmployeeAddress(employeeAddress?.id)"
                                     style="color: red">
                                 <mat-icon class="material-icons">delete</mat-icon>
                             </button>
                         </div>
                     </mat-cell>
                 </ng-container>

                 <mat-header-row *matHeaderRowDef="employeeAddressColumns"></mat-header-row>
                 <mat-row *matRowDef="let employeeAddress; columns: employeeAddressColumns;" class="contact"
                          [@animate]="{value:'*',params:{y:'100%'}}">
                 </mat-row>
             </mat-table>
         </div>
     </ng-container>
   </div>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="save-button"
                [disabled]="employeeAddressForm.invalid"
                (click)="addAddress()"
                aria-label="Save">ADD
        </button>
<!--        <button mat-button class="save-button" (click)="matDialogRef.close(employeeAddressForm); updateDesignation()"-->
<!--                [disabled]="employeeAddressForm.invalid" aria-label="Update" *ngIf="this.action === 'EDIT'">UPDATE-->
<!--        </button>-->
    </div>
</div>
