<div class="country-list" fxLayout="column" fxLayoutGap="20px" fxFlex="100">
    <mat-table [@animateStagger]="{value:'50'}" [dataSource]="categories">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>S.No</mat-header-cell>
            <mat-cell *matCellDef="let category; let i = index">
                <p class="email text-truncate">
                    {{((pagination.page - 1) * pagination.perpage) + i + 1}}.
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let category">{{category.title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
            </mat-header-cell>
            <mat-cell *matCellDef="let category">
                <div fxFlex="row" fxLayoutAlign="end center">
                   <div>
                        <button mat-icon-button aria-label="Toggle star" (click)="navigateToDetail(category)"
                                style="color: blue">
                            <mat-icon class="material-icons">edit</mat-icon>
                        </button>
                    </div>
                     <!--<div>
                        <button mat-icon-button aria-label="Toggle star" (click)="delete(qualification)"
                                style="color: red">
                            <mat-icon class="material-icons">delete</mat-icon>
                        </button>
                    </div>-->
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let category; columns: displayedColumns;" class="contact"
                 [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
    <mat-paginator #paginator *ngIf="categories.length > 0"
                   [length]="pagination.total"
                   [pageSize]="pagination.perpage"
                   [pageIndex]="pagination.page-1"
                   (page)="onPageChange($event)">
    </mat-paginator>
</div>



