<div class="country-list" fxLayout="column" fxLayoutGap="20px" fxFlex="100">
    <mat-accordion displayMode="flat" multi class="mat-table accordion-table">
        <section matSort class="mat-elevation-z2 mat-header-row accordion-row">
            <span class="mat-header-cell" mat-sort-header="id">S.No</span>
            <span class="mat-header-cell" mat-sort-header="jvRef(#)">Category Name</span>
            <span class="mat-header-cell" mat-sort-header="jvRef">Depreciation Rate</span>
            <span class="mat-header-cell" mat-sort-header="jvValueDate">Depreciation Method</span>
            <span class="mat-header-cell" mat-sort-header="narration">Prefix</span>
            <span class="mat-header-cell" mat-sort-header="action">
                Action
            </span>
        </section>

        <mat-expansion-panel *ngFor="let category of categories; let i = index">
            <mat-expansion-panel-header class="mat-row align-items-center expansion-header expansion-row">
                <span class="mat-cell align-items-center">
                    <p class="text-truncate cursor-pointer mt-32px">{{category?.sno}}.</p>
                </span>
                <span class="mat-cell align-items-center">
                    <p class="text-truncate cursor-pointer mt-32px">{{category?.title}}</p>
                </span>
                <span class="mat-cell align-items-center">
                    <p class="text-truncate cursor-pointer mt-32px">{{category?.depreciationRate}}</p>
                </span>
                <span class="mat-cell align-items-center">
                    <p class="text-truncate cursor-pointer mt-32px">{{category?.depreciationMethod}}</p>
                </span>
                <span class="mat-cell align-items-center">
                    <p class="text-truncate cursor-pointer mt-32px">{{category?.assetNoPrefixLine}}</p>

                </span><span class="mat-cell align-items-center">
<!--                select drop down-->
                </span>

            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>
<!--    <mat-paginator #paginator *ngIf="journalVouchers.length > 0"-->
<!--                   [length]="pagination.total"-->
<!--                   [pageSize]="pagination.perpage"-->
<!--                   [pageIndex]="pagination.page-1"-->
<!--                   (page)="pageEvent = onPageChange($event)"-->
<!--    >-->
<!--    </mat-paginator>-->
</div>



