<div class="country-list" fxLayout="column" fxLayoutGap="20px" fxFlex="100">
    <div class="content">
        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <div class="content">
                <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
                    <!-- This is the tree node template for leaf nodes -->
                    <mat-tree-node *matTreeNodeDef="let node; let i = index" matTreeNodePadding>
                        <!-- use a disabled button to provide padding for tree leaf -->
                        <button mat-icon-button disabled></button>
                        {{node.name}}
                        <button mat-icon-button title="Add" (click)="addItem(node)"
                                *ngIf="node.isActive">
                            <mat-icon class="addBtn">add</mat-icon>
                        </button>
                        <button mat-icon-button title="Edit" (click)="editItem(node)" *ngIf="node.level !== 0">
                            <mat-icon class="editBtn">edit</mat-icon>
                        </button>
                        <button mat-icon-button title="Delete" *ngIf="node.level !== 0" (click)="deleteItem(node)">
                            <mat-icon class="deleteBtn">delete</mat-icon>
                        </button>
                    </mat-tree-node>
                    <!-- This is the tree node template for expandable nodes -->
                    <mat-tree-node *matTreeNodeDef="let node; let i = index; when: hasChild" matTreeNodePadding>
                        <button mat-icon-button matTreeNodeToggle
                                [attr.aria-label]="'toggle ' + node.name">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        {{node.name}}
                        <button mat-icon-button title="Add" (click)="addItem(node)"
                                *ngIf="node.isActive">
                            <mat-icon class="addBtn">add</mat-icon>
                        </button>
                        <button mat-icon-button title="Edit" (click)="editItem(node)" *ngIf="node.level !== 0">
                            <mat-icon class="editBtn">edit</mat-icon>
                        </button>
                        <button mat-icon-button title="Delete" *ngIf="node.showDelete" (click)="deleteItem(node)">
                            <mat-icon class="deleteBtn">delete</mat-icon>
                        </button>
                    </mat-tree-node>
                </mat-tree>
            </div>
        </div>
    </div>
</div>



