<div id="journal-voucher" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">money
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Monthly Activity Report
                </span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <div appPermissionBind [permission]="">
                <button mat-button class="accent" id="add-button" aria-label="add skill"
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" (click)="openAll()">
                    {{panelOpenState ? 'Close': 'Open'}} All
                </button>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content">
                <form [formGroup]="filterJVLegderSiblingReportForm">
                    <mat-form-field class="width-200px p-10px mt-13px mb--15px" appearance="outline" fxFlex="100" (click)="economicSegmentSelect()">
                        <mat-label>Economic Segment Name</mat-label>
                        <mat-select formControlName="economicSegmentId" [disabled]="true">
                            <mat-option [value]="economicSegment.id"
                                        *ngFor="let economicSegment of economicSegments">{{economicSegment.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div fxFlex class="width-200px p-10px mt-13px">
                        <button mat-button class="submit-report" (click)="submitReport()">
                            Submit
                            <mat-icon class="material-icons cursor-pointer whiteColor">play_arrow</mat-icon>
                        </button>
                    </div>
                </form>
            </div>

            <div class="content mt-20px">
                <mat-accordion displayMode="flat" [multi]="false" class="mat-table accordion-table">
                    <section matSort class="mat-elevation-z2 mat-header-row accordion-row">
                        <span class="mat-header-cell">Item</span>
                        <span class="mat-header-cell">Full Code</span>
                        <span class="mat-header-cell">January</span>
                        <span class="mat-header-cell">February</span>
                        <span class="mat-header-cell">March</span>
                        <span class="mat-header-cell">April</span>
                        <span class="mat-header-cell">May</span>
                        <span class="mat-header-cell">June</span>
                        <span class="mat-header-cell">July</span>
                        <span class="mat-header-cell">August</span>
                        <span class="mat-header-cell">September</span>
                        <span class="mat-header-cell">October</span>
                        <span class="mat-header-cell">November</span>
                        <span class="mat-header-cell">December</span>
                        <!-- <span class="mat-header-cell">Previous Year</span>
                        <span class="mat-header-cell">Total</span> -->
                    </section>
                    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ data: data}"></ng-container>
                </mat-accordion>

                <ng-template #recursiveListTmpl let-data="data">
                    <mat-expansion-panel *ngFor="let item of data; let i=index" [expanded]="panelOpenState">
                        <mat-expansion-panel-header class="mat-row align-items-center expansion-header expansion-row"
                                                    (click)="getChildData(item, i)">
                        <span class="mat-cell align-items-center">
                            <p class="text-truncate cursor-pointer mt-10px" [title]="item.name">{{item?.name}}</p>
                        </span>
                            <span class="mat-cell align-items-center">
                            <p class="text-truncate cursor-pointer mt-10px">{{item?.combinedCode}}</p>
                        </span>
                            <span class="mat-cell align-items-center">
                            <p class="text-truncate cursor-pointer mt-10px">{{item?.month1}}</p>
                        </span>
                            <span class="mat-cell align-items-center">
                            <p class="text-truncate cursor-pointer mt-10px">{{item?.month2}}</p>
                        </span>
                            <span class="mat-cell align-items-center">
                            <p class="text-truncate cursor-pointer mt-10px">{{item?.month3}}</p>
                        </span>
                            <span class="mat-cell align-items-center">
                            <p class="text-truncate cursor-pointer mt-10px">{{item?.month4}}</p>
                        </span>
                            <span class="mat-cell align-items-center">
                            <p class="text-truncate cursor-pointer mt-10px">{{item?.month5}}</p>
                        </span>
                            <span class="mat-cell align-items-center">
                            <p class="text-truncate cursor-pointer mt-10px">{{item?.month6}}</p>
                        </span>
                            <span class="mat-cell align-items-center">
                            <p class="text-truncate cursor-pointer mt-10px">{{item?.month7}}</p>
                        </span>
                            <span class="mat-cell align-items-center">
                            <p class="text-truncate cursor-pointer mt-10px">{{item?.month8}}</p>
                        </span>
                            <span class="mat-cell align-items-center">
                            <p class="text-truncate cursor-pointer mt-10px">{{item?.month9}}</p>
                        </span>
                            <span class="mat-cell align-items-center">
                            <p class="text-truncate cursor-pointer mt-10px">{{item?.month10}}</p>
                        </span>
                            <span class="mat-cell align-items-center">
                            <p class="text-truncate cursor-pointer mt-10px">{{item?.month11}}</p>
                        </span>
                            <span class="mat-cell align-items-center">
                            <p class="text-truncate cursor-pointer mt-10px">{{item?.month12}}</p>
                        </span>
                        </mat-expansion-panel-header>
                        <div *ngIf="item.child?.length">
                            <ng-container
                                *ngTemplateOutlet="recursiveListTmpl; context:{ data: item.child}"
                            ></ng-container>
                        </div>
                    </mat-expansion-panel>
                </ng-template>
            </div>
        </div>
    </div>
</div>