#roles-items {
    max-width: 800px !important;
    overflow-x: unset !important;
    min-width: 800px !important;
}

.items-data {
    width: 100%;
    overflow-x: unset !important;
}
.w-100-per{
    width: 100%!important;
}
.w-60-per{
    width: 60%!important;
}
.w-40-per{
    width: 40%!important;
}