app-cashbook-create {
    #cashbook-items {
        max-width: 1030px !important;
        overflow-x: unset !important;
        min-width: 1030px !important;
    }

    .items-data {
        width: 100%;
        overflow-x: unset !important;
    }

    .w-100-per {
        width: 100% !important;
    }

    .w-60-per {
        width: 60% !important;
    }

    .w-40-per {
        width: 40% !important;
    }

    .remove-border-bottom .mat-tab-header {
        border-bottom: none !important;
    }

    .remove-border-bottom.mat-primary .mat-ink-bar, body.theme-default .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: blue !important;
    }

    .tab-box {
        width: 100%;
        min-height: 400px;
        border-radius: 5px;
        border: 2px solid #9ea1a9;
        overflow: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .main-cashbook-month {
        .mat-form-field {
            width: 250px !important;
        }
    }

    .basic-details {
        margin-top: 1rem;
    }

    .horizontal_line {
        box-shadow: 1px 1px 1px 1px #9ea1a9 inset;
        padding-top: 0.2rem;
    }

    .width-50-per {
        width: 50%;
    }

    .width-33_33-per {
        width: 33.33%;
    }
}