<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Employee Bank Accounts</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form fxLayout="column" [formGroup]="employeeBankDetailsForm">
            <ng-template matStepLabel>Employee</ng-template>
            <mat-grid-list cols="2" rowHeight="100px">
                <mat-grid-tile>
                    <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Employee ID</mat-label>
                            <input matInput formControlName="employeeId" readonly required>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Employee Name</mat-label>
                            <input matInput formControlName="name" readonly required>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <!-- <mat-grid-tile>
                    <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Index No</mat-label>
                            <input matInput formControlName="index" required readonly>
                        </mat-form-field>
                    </div>
                </mat-grid-tile> -->
                <mat-grid-tile colspan="2">
                    <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Title</mat-label>
                            <input matInput formControlName="title" required>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Account No.</mat-label>
                            <input matInput formControlName="accNumber" required>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Account Type</mat-label>
                            <input matInput formControlName="accType" required>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Bank Name</mat-label>
                            <mat-select formControlName="bankName" required (selectionChange)="getBankBranchName($event.value)">
                                <mat-option *ngFor="let bank of banksName" [value]="bank.id">
                                    {{bank.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Branch Name</mat-label>
                            <mat-select formControlName="bankBranchName" required>
                                <mat-option *ngFor="let branch of selectedBankBranchName" [value]="branch.id">
                                    {{branch.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-raised-button type="button" color="accent" *ngIf="!editAction" (click)="saveBankDetails()">
                    Add
                </button>

                <button mat-raised-button type="button" color="accent" *ngIf="editAction" (click)="updateBankDetails()">
                    Update
                </button>
            </div>
        </form>

        <div class="country-list">
            <mat-table [@animateStagger]="{value:'50'}" [dataSource]="bankList">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>S.No</mat-header-cell>
                    <mat-cell *matCellDef="let bank">
                        <p class="email text-truncate">
                            {{bank.sno}}.
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
                    <mat-cell *matCellDef="let bank" class="cursor-pointer">
                        <p class="phone text-truncate cursor-pointer">
                            {{bank.title}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef>Account Type</mat-header-cell>
                    <mat-cell *matCellDef="let bank" class="cursor-pointer">
                        <p class="phone text-truncate cursor-pointer">
                            {{bank.type | titlecase}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="number">
                    <mat-header-cell *matHeaderCellDef>Account Number</mat-header-cell>
                    <mat-cell *matCellDef="let bank" class="cursor-pointer">
                        <p class="phone text-truncate cursor-pointer">
                            {{bank.number}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Bank Name</mat-header-cell>
                    <mat-cell *matCellDef="let bank" class="cursor-pointer">
                        <p class="phone text-truncate cursor-pointer">
                            {{bank.bank?.name}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="branch">
                    <mat-header-cell *matHeaderCellDef>Branch</mat-header-cell>
                    <mat-cell *matCellDef="let bank" class="cursor-pointer">
                        <p class="phone text-truncate cursor-pointer">
                            {{bank.branches?.name}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let bank">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button aria-label="Toggle star" (click)="editBank(bank)"
                                style="color: blue">
                                <mat-icon class="material-icons">edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="Toggle star" (click)="deleteBank(bank?.id)"
                                style="color: red">
                                <mat-icon class="material-icons">delete</mat-icon>
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedBankColumns"></mat-header-row>
                <mat-row *matRowDef="let bank; columns: displayedBankColumns;" class="contact"
                    [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>
        </div>

    </div>
    <!-- <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center"> 
        <button mat-button class="save-button" (click)="matDialogRef.close(addressTypeForm); saveBankDetails()"
                 aria-label="Save" *ngIf="this.action !== 'EDIT'">ADD
        </button>
        <button mat-button class="save-button" (click)="matDialogRef.close(addressTypeForm); updateBankDetails()"
                 aria-label="Update" *ngIf="this.action === 'EDIT'">UPDATE
        </button>
    </div> -->
</div>