app-payment-voucher-create {
    #payment-voucher-create {
        max-width: 1300px !important;
        overflow-x: unset !important;
        min-width: 1100px !important;
    }

    .items-data {
        width: 100%;
        overflow-x: unset !important;
    }

    .add-taxes {
        background-color: #039be5 !important;
        color: #fff !important;
        height: 40px;
        margin-top: 15px;
    }

    .invoice-table {
        background-color: #E0E0E0;
    }

    .font-weight-bold {
        font-weight: 600;
    }

    .w-100-per {
        width: 100%;
    }

    .mt--20px {
        margin-top: -20px;
    }

    .mt--40px {
        margin-top: -40px;
    }

    .mt--10px {
        margin-top: -10px;
    }
}