<div id="receipt-voucher" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">money
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  IFR - Notes Master
                </span>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content">
                <form [formGroup]="reportFilterForm" fxLayout="column" style="margin-bottom: -18px">
                    <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field appearance="outline" fxFlex class="p-10px">
                            <mat-label>Type</mat-label>
                            <mat-select formControlName="type">
                                <mat-option value="">Select Type</mat-option>
                                <mat-option [value]="type.value" *ngFor="let type of types">{{type?.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div fxFlex class="width-200px p-10px">
                            <button mat-button class="submit-report" (click)="submit()">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="content mt-20px">
                <mat-accordion displayMode="flat" [multi]="true" class="mat-table accordion-table">
                    <section matSort class="mat-elevation-z2 mat-header-row accordion-row">
                        <span class="mat-header-cell text-center">S.No.</span>
                        <span class="mat-header-cell text-center">Note Id</span>
                        <span class="mat-header-cell text-center">Item</span>
                        <span class="mat-header-cell text-center">Full Code</span>
                        <span class="mat-header-cell text-center">Previous Semester <br>1. Budget <br>2. Actual <br>3. Variance</span>
                        <span class="mat-header-cell text-center">This Semester Only<br>1. Budget <br>2. Actual <br>3. Variance</span>
                        <span class="mat-header-cell text-center">Cumulative To Semester <br>1. Budget <br>2. Actual <br>3. Variance</span>
                    </section>
                    <mat-expansion-panel *ngFor="let reportData of applicationFundReportData; let i = index">
                        <mat-expansion-panel-header class="mat-row align-items-center expansion-header expansion-row"
                                                    (click)="getChildReportData(reportData)"
                                                    [collapsedHeight]="'100px'"
                                                    [expandedHeight]="'100px'">
                            <span class="mat-cell align-items-center">
                                <p class="text-truncate cursor-pointer mt-25px text-center">{{i + 1}}.</p>
                            </span>
                            <span class="mat-cell align-items-center">
                                <p class="text-truncate cursor-pointer mt-25px text-center">{{reportData?.id}}</p>
                            </span>
                            <span class="mat-cell align-items-center">
                                <p class="text-truncate cursor-pointer mt-25px text-center">{{reportData?.name}}</p>
                            </span>
                            <span class="mat-cell align-items-center">
                                <p class="text-truncate cursor-pointer mt-25px text-center">{{reportData?.combinedCode}}</p>
                            </span>
                            <span class="mat-cell align-items-center">
                                <p class="text-truncate cursor-pointer text-center">
                                    {{reportData?.previousBudget | number:'1.0':'en-US'}} <br>{{reportData?.previousActual | number:'1.0':'en-US'}}
                                    <br> {{reportData?.previousVariance | number:'1.0':'en-US'}}
                                </p>
                            </span>
                            <span class="mat-cell align-items-center">
                                <p class="text-truncate cursor-pointer text-center">
                                    {{reportData?.budget | number:'1.0':'en-US'}} <br>{{reportData?.actual | number:'1.0':'en-US'}} <br> {{reportData?.variance | number:'1.0':'en-US'}}
                                </p>
                            </span>
                            <span class="mat-cell align-items-center">
                                <p class="text-truncate cursor-pointer text-center">
                                    {{reportData?.cumulativeBudget | number:'1.0':'en-US'}} <br>{{reportData?.cumulativeActual | number:'1.0':'en-US'}}
                                    <br> {{reportData?.cumulativeVariance | number:'1.0':'en-US'}}
                                </p>
                            </span>
                        </mat-expansion-panel-header>
                        <div>
                            <div mat-dialog-content class="child-table" fusePerfectScrollbar
                                 style="overflow-x: scroll !important;">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Item</th>
                                        <th>Full Code</th>
                                        <th>Previous Semester <br>1.Budget <br>2.Actual <br>3.Variance</th>
                                        <th>This Semester Only<br>1.Budget <br>2.Actual <br>3.Variance</th>
                                        <th>Cumulative To Semester <br>1.Budget <br>2.Actual <br>3.Variance</th>
                                        <th>Note</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <ng-container
                                        *ngIf="reportData && reportData['childTableData'] && reportData['childTableData'].length > 0">
                                        <tr *ngFor="let childData of reportData['childTableData']; let j = index">
                                            <td>{{j + 1}}.</td>
                                            <td>{{childData?.name}}</td>
                                            <td>{{childData?.combinedCode}}</td>
                                            <td>
                                                {{childData?.previousBudget | number:'1.0':'en-US'}} <br>{{childData?.previousActual | number:'1.0':'en-US'}}
                                                <br> {{childData?.previousVariance | number:'1.0':'en-US'}}
                                            </td>
                                            <td>
                                                {{childData?.budget | number:'1.0':'en-US'}} <br>{{childData?.actual | number:'1.0':'en-US'}}
                                                <br> {{childData?.variance | number:'1.0':'en-US'}}
                                            </td>
                                            <td>
                                                {{childData?.cumulativeBudget | number:'1.0':'en-US'}} <br>{{childData?.cumulativeActual | number:'1.0':'en-US'}}
                                                <br> {{childData?.cumulativeVariance | number:'1.0':'en-US'}}
                                            </td>
                                            <td>
                                                <button class="border-bg-none" (click)="addNote(childData.id)">
                                                    <span class="material-icons f_20 cursor-pointer blueColor">
                                                        add_box
                                                    </span>
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <tr *ngIf="reportData && reportData['childTableData'] && reportData['childTableData'].length === 0 ">
                                        <td colspan="100">No Data To Show</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <mat-paginator #paginator *ngIf="applicationFundReportData.length > 0"
                               [length]="pagination.total"
                               [pageSize]="pagination.perpage"
                               [pageIndex]="pagination.page - 1"
                               (page)="pageEvent = onPageChange($event)"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>