<div class="country-list" fxLayout="column" fxLayoutGap="20px" fxFlex="100">
    <mat-table [@animateStagger]="{value:'50'}" [dataSource]="journalVouchers">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>S.No</mat-header-cell>
            <mat-cell *matCellDef="let journalVoucher">
                <p class="email text-truncate">
                    {{((pagination.page - 1) * pagination.perpage) + journalVoucher.sno}}.
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="jvRef">
            <mat-header-cell *matHeaderCellDef>JV Ref</mat-header-cell>
            <mat-cell *matCellDef="let journalVoucher">
                <p class="phone text-truncate cursor-pointer">
                    {{journalVoucher.jvReference}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="jvValueDate">
            <mat-header-cell *matHeaderCellDef>JV Value Date</mat-header-cell>
            <mat-cell *matCellDef="let journalVoucher">
                <p class="phone text-truncate cursor-pointer">
                    {{journalVoucher.jvValueDate}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="narration">
            <mat-header-cell *matHeaderCellDef>Narration</mat-header-cell>
            <mat-cell *matCellDef="let journalVoucher">
                <p class="phone text-truncate cursor-pointer" *ngIf="journalVoucher.narration">
                    {{journalVoucher.narration}}
                </p>
                <p class="phone text-truncate cursor-pointer" *ngIf="!journalVoucher.narration">
                    -
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="prepared">
            <mat-header-cell *matHeaderCellDef>PREPARED
                <br>-- Value Date
                <br>-- Trxn Date
                <br>-- Username
            </mat-header-cell>
            <mat-cell *matCellDef="let journalVoucher">
                <p class="phone text-truncate cursor-pointer" *ngIf="journalVoucher.preparedValueDate">
                    {{journalVoucher?.preparedValueDate}}
                    <br>{{journalVoucher?.preparedTransactionDate}}
                    <br>{{journalVoucher?.preparedUserId}}
                </p>
                <p class="phone text-truncate cursor-pointer" *ngIf="!journalVoucher.preparedValueDate">
                    -
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="checkedStatus">
            <mat-header-cell *matHeaderCellDef>Checked ?</mat-header-cell>
            <mat-cell *matCellDef="let journalVoucher">
                <p class="phone text-truncate cursor-pointer" *ngIf="!journalVoucher.checkedTransactionDate">
                    No
                </p>
                <p class="phone text-truncate cursor-pointer" *ngIf="journalVoucher.checkedTransactionDate">
                    Yes
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="checkedData">
            <mat-header-cell *matHeaderCellDef>CHECKED
                <br>-- Value Date
                <br>-- Trxn Date
                <br>-- Username
            </mat-header-cell>
            <mat-cell *matCellDef="let journalVoucher">
                <p class="phone text-truncate cursor-pointer" *ngIf="journalVoucher?.checkedValueDate">
                    {{journalVoucher?.checkedValueDate}}
                    <br>{{journalVoucher?.checkedTransactionDate}}
                    <br>{{journalVoucher?.checkedUserId}}
                </p>
                <p class="phone text-truncate cursor-pointer" *ngIf="!journalVoucher.checkedValueDate">
                    -
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="postedStatus">
            <mat-header-cell *matHeaderCellDef>Posted ?</mat-header-cell>
            <mat-cell *matCellDef="let journalVoucher">
                <p class="phone text-truncate cursor-pointer" *ngIf="!journalVoucher.postedTransactionDate">
                    No
                </p>
                <p class="phone text-truncate cursor-pointer" *ngIf="journalVoucher.postedTransactionDate">
                    Yes
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="postedData">
            <mat-header-cell *matHeaderCellDef>POSTED
                <br>-- Value Date
                <br>-- Trxn Date
                <br>-- Username
            </mat-header-cell>
            <mat-cell *matCellDef="let journalVoucher">
                <p class="phone text-truncate cursor-pointer" *ngIf="journalVoucher?.postedValueDate">
                    {{journalVoucher?.postedValueDate}}
                    <br>{{journalVoucher?.postedTransactionDate}}
                    <br>{{journalVoucher?.postedUserId}}
                </p>
                <p class="phone text-truncate cursor-pointer" *ngIf="!journalVoucher?.postedValueDate">
                    -
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let journalVoucher">
                <span class="material-icons ml-7px f_20 cursor-pointer" (click)="showTableData(journalVoucher);">keyboard_arrow_down</span>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedJournalColumns"></mat-header-row>
        <mat-row *matRowDef="let journalVoucher; columns: displayedJournalColumns;" class="contact"
                 [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
    <table class="simple invoice-table" *ngIf="showTable">
        <thead>
        <tr>
            <th>S.No</th>
            <th>
                <div class="title">COA Admin</div>
            </th>
            <th>
                <div class="title">COA Economic</div>
            </th>
            <th>
                <div class="title">COA Functional</div>
            </th>
            <th>
                <div class="title">COA Fund</div>
            </th>
            <th>
                <div class="title">COA Programme</div>
            </th>
            <th>
                <div class="title">COA Geo-code</div>
            </th>
            <th>
                <div class="title">Line Reference</div>
            </th>
            <th>
                <div class="title">Line Narration</div>
            </th>
            <th>
                <div class="title">Debit</div>
            </th>
            <th>
                <div class="title">Credit</div>
            </th>
        </tr>
        </thead>
        <tbody *ngIf="selectedVoucher && selectedVoucher.length > 0">
        <tr *ngFor="let voucher of selectedVoucher; let i = index">
            <td>
                <span class="text-truncate">
                    {{i + 1}}.
                </span>
            </td>
            <td>
                <div class="title">
                    {{voucher['adminSegment']?.individualCode}}<br>
                    {{voucher['adminSegment']?.name}}
                </div>
            </td>
            <td>
                <div class="title">
                    {{voucher['economicSegment']?.individualCode}}<br>
                    {{voucher['economicSegment']?.name}}
                </div>
            </td>
            <td>
                <div class="title">
                    <div class="title">
                        {{voucher['functionalSegment']?.individualCode}}<br>
                        {{voucher['functionalSegment']?.name}}
                    </div>
                </div>
            </td>
            <td>
                <div class="title">
                    {{voucher['fundSegment']?.individualCode}}<br>
                    {{voucher['fundSegment']?.name}}
                </div>
            </td>
            <td>
                <div class="title">
                    {{voucher['programmeSegment']?.individualCode}}<br>
                    {{voucher['programmeSegment']?.name}}
                </div>
            </td>
            <td>
                <div class="title">
                    {{voucher['geoCodeSegment']?.individualCode}}<br>
                    {{voucher['geoCodeSegment']?.name}}
                </div>
            </td>
            <td>
                <div class="title">
                    {{voucher?.lineReference}}
                </div>
            </td>
            <td>
                <div class="title">-</div>
            </td>
            <td>
                <div class="title" *ngIf="voucher.lineValueType === 'DEBIT'">
                    {{voucher?.lvLineValue}}
                </div>
                <div class="title" *ngIf="voucher.lineValueType === 'CREDIT'">
                    0.00
                </div>
            </td>
            <td>
                <div class="title" *ngIf="voucher.lineValueType === 'DEBIT'">
                    0.00
                </div>
                <div class="title" *ngIf="voucher.lineValueType === 'CREDIT'">
                    {{voucher?.lvLineValue}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <mat-paginator #paginator *ngIf="journalVouchers.length > 0"
                   [length]="pagination.total"
                   [pageSize]="pagination.perpage"
                   [pageIndex]="pagination.page-1"
                   (page)="pageEvent = onPageChange($event)"
    >
    </mat-paginator>
</div>



