<div class="country-list" fxLayout="column" fxLayoutGap="20px" fxFlex="100">
    <!--<mat-paginator #paginator
                   [length]="totalRows$ | async"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>-->
    <div fxLayout="row" fxLayoutAlign="end center">
        <!--<div appPermissionBind [permission]="permissionAddJV">
            <button mat-fab class="accent" id="add-button" aria-label="add salary scales"
                    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" (click)="addJournalVoucher()">
                <mat-icon>add_circle</mat-icon>
            </button>
        </div>-->
        <div>
            <!--<button mat-fab class="accent" id="add-button" aria-label="add salary scales"
                    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" (click)="addJournalVoucher()">
                <mat-icon>add_circle</mat-icon>
            </button>-->
            <button mat-raised-button (click)="markAsChecked()" class="checked-btn justify-content-end"
                    *ngIf="this.status && this.status === 'NEW'">Mark as checked
            </button>
            <button mat-raised-button (click)="markAsPosted()" class="checked-btn"
                    *ngIf="this.status && this.status === 'CHECKED'">Post JV
            </button>
            <button mat-raised-button (click)="markAsNew()" class="checked-btn"
                    *ngIf="this.status && this.status === 'CHECKED'">Mark as New
            </button>
        </div>
    </div>
    <mat-accordion displayMode="flat" multi class="mat-table accordion-table">
        <section matSort class="mat-elevation-z2 mat-header-row accordion-row">
            <span class="mat-header-cell" mat-sort-header="checkbox"
                  *ngIf="this.status === 'NEW' || this.status === 'CHECKED'">#</span>
            <span class="mat-header-cell" mat-sort-header="id">S.No</span>
            <span class="mat-header-cell" mat-sort-header="jvRef">JV Ref</span>
            <span class="mat-header-cell" mat-sort-header="jvValueDate">JV Value Date</span>
            <span class="mat-header-cell" mat-sort-header="narration">Narration</span>
            <span class="mat-header-cell" mat-sort-header="prepared">
                PREPARED
                <br>-- Value Date
                <br>-- Trxn Date
                <br>-- Username
            </span>
            <span class="mat-header-cell" mat-sort-header="checkedStatus">Checked ?</span>
            <span class="mat-header-cell" mat-sort-header="checkedData">
                CHECKED
                <br>-- Value Date
                <br>-- Trxn Date
                <br>-- Username
            </span>
            <span class="mat-header-cell" mat-sort-header="postedStatus">
                Posted ?
            </span>
            <span class="mat-header-cell" mat-sort-header="postedData">
                POSTED
                <br>-- Value Date
                <br>-- Trxn Date
                <br>-- Username
            </span>
            <span class="mat-header-cell" mat-sort-header="action" *ngIf="this.status !== 'POSTED'">
                Action
            </span>
        </section>

        <mat-expansion-panel *ngFor="let journalVoucher of journalVouchers; let i = index">
            <mat-expansion-panel-header class="mat-row align-items-center expansion-header expansion-row">
                <span class="mat-cell align-items-center" *ngIf="this.status === 'NEW' || this.status === 'CHECKED'">
                    <p class="text-truncate cursor-pointer mt-28px">
                        <mat-checkbox (change)="checkJV(i, $event)"
                                      [checked]="journalVoucher.checked ? true : null"></mat-checkbox>
                    </p>
                </span>
                <span class="mat-cell align-items-center">
                    <p class="text-truncate cursor-pointer mt-32px">{{journalVoucher?.sno}}.</p>
                </span>
                <span class="mat-cell align-items-center">
                    <p class="text-truncate cursor-pointer mt-32px">{{journalVoucher?.jvReference}}</p>
                </span>
                <span class="mat-cell align-items-center">
                    <p class="text-truncate cursor-pointer mt-32px">{{journalVoucher?.jvValueDate}}</p>
                </span>
                <span class="mat-cell align-items-center">
                    <p class="text-truncate cursor-pointer mt-32px">
                        {{journalVoucher.narration ? journalVoucher.narration : '-'}}
                    </p>
                </span>
                <span class="mat-cell">
                    <p class="text-truncate cursor-pointer" *ngIf="journalVoucher.preparedValueDate">
                        {{journalVoucher?.preparedValueDate}}
                        <br>{{journalVoucher?.preparedTransactionDate}}
                        <br>{{journalVoucher?.preparedUser?.name}}
                    </p>
                    <p class="text-truncate cursor-pointer mt-32px" *ngIf="!journalVoucher.preparedValueDate">
                        -
                    </p>
                </span>
                <span class="mat-cell" style="justify-content: center">
                    <p class="text-truncate cursor-pointer mt-32px">
                        {{journalVoucher.checkedTransactionDate ? 'Yes' : 'No'}}
                    </p>
                </span>
                <span class="mat-cell">
                    <p class="phone text-truncate cursor-pointer" *ngIf="journalVoucher?.checkedValueDate">
                        {{journalVoucher?.checkedValueDate}}
                        <br>{{journalVoucher?.checkedTransactionDate}}
                        <br>{{journalVoucher?.checkedUser?.name}}
                    </p>
                    <p class="text-truncate cursor-pointer mt-32px" *ngIf="!journalVoucher.checkedValueDate">
                        -
                    </p>
                </span>
                <span class="mat-cell">
                    <p class="text-truncate cursor-pointer mt-32px">
                        {{journalVoucher.postedTransactionDate ? 'Yes' : 'No'}}
                    </p>
                </span>
                <span class="mat-cell">
                    <p class="text-truncate cursor-pointer" *ngIf="journalVoucher?.postedValueDate">
                        {{journalVoucher?.postedValueDate}}
                        <br>{{journalVoucher?.postedTransactionDate}}
                        <br>{{journalVoucher?.preparedUser?.name}}
                    </p>
                    <p class="text-truncate cursor-pointer mt-32px" *ngIf="!journalVoucher?.postedValueDate">
                        -
                    </p>
                </span>
                <span class="mat-cell" *ngIf="this.status !== 'POSTED'">
                    <p class="text-truncate cursor-pointer mt-32px d-flex">
                        <span class="display-inline">
                            <span appPermissionBind [permission]="permissionEditJV">
                                <span class="material-icons f_20 cursor-pointer blueColor"
                                      (click)="editJournalVoucher(journalVoucher)">
                                    edit
                                </span>
                            </span>
                            <span appPermissionBind [permission]="permissionDeleteJV">
                                <span class="material-icons ml-7px f_20 cursor-pointer redColor">
                                    delete
                                </span>
                            </span>
                        </span>
                        <!-- <span appPermissionBind [permission]="permissionEditJV">
                            <span>
                                <span class="material-icons f_20 cursor-pointer blueColor"
                                    (click)="editJournalVoucher(journalVoucher)">
                                    edit
                                </span>
                            </span>
                        </span>
                        <span appPermissionBind [permission]="permissionDeleteJV">
                            <span>
                                <span class="material-icons ml-7px f_20 cursor-pointer redColor">
                                    delete
                                </span>
                            </span>
                        </span> -->
                    </p>
                </span>
            </mat-expansion-panel-header>
            <div class="mt-23px">
                <table class="simple invoice-table">
                    <thead>
                    <tr>
                        <th>S.No</th>
                        <th>
                            <div class="title">COA Admin</div>
                        </th>
                        <th>
                            <div class="title">COA Economic</div>
                        </th>
                        <th>
                            <div class="title">COA Functional</div>
                        </th>
                        <th>
                            <div class="title">COA Fund</div>
                        </th>
                        <th>
                            <div class="title">COA Programme</div>
                        </th>
                        <th>
                            <div class="title">COA Geo-code</div>
                        </th>
                        <th>
                            <div class="title">Line Reference</div>
                        </th>
                        <th>
                            <div class="title">Line Narration</div>
                        </th>
                        <th>
                            <div class="title">Debit</div>
                        </th>
                        <th>
                            <div class="title">Credit</div>
                        </th>
                        <th *ngIf="this.status !== 'POSTED'">
                            <div class="title">Action</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody
                        *ngIf="journalVoucher['journalVoucherDetails'] && journalVoucher['journalVoucherDetails'].length > 0">
                    <tr *ngFor="let voucher of journalVoucher['journalVoucherDetails']; let i = index">
                        <td>
                            <span class="text-truncate">
                                {{i + 1}}.
                            </span>
                        </td>
                        <td>
                            <div class="title">
                                {{voucher['adminSegment']?.id}}<br>
                                {{voucher['adminSegment']?.name}}
                            </div>
                        </td>
                        <td>
                            <div class="title">
                                {{voucher['economicSegment']?.id}}<br>
                                {{voucher['economicSegment']?.name}}
                            </div>
                        </td>
                        <td>
                            <div class="title">
                                <div class="title">
                                    {{voucher['functionalSegment']?.id}}<br>
                                    {{voucher['functionalSegment']?.name}}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="title">
                                {{voucher['fundSegment']?.id}}<br>
                                {{voucher['fundSegment']?.name}}
                            </div>
                        </td>
                        <td>
                            <div class="title">
                                {{voucher['programmeSegment']?.id}}<br>
                                {{voucher['programmeSegment']?.name}}
                            </div>
                        </td>
                        <td>
                            <div class="title">
                                {{voucher['geoCodeSegment']?.id}}<br>
                                {{voucher['geoCodeSegment']?.name}}
                            </div>
                        </td>
                        <td>
                            <div class="title">
                                {{voucher?.lineReference}}
                            </div>
                        </td>
                        <td>
                            <div class="title">-</div>
                        </td>
                        <td>
                            <div class="title" *ngIf="voucher.lineValueType === 'DEBIT'">
                                {{voucher?.lvLineValue}}
                            </div>
                            <div class="title" *ngIf="voucher.lineValueType === 'CREDIT'">
                                0.00
                            </div>
                        </td>
                        <td>
                            <div class="title" *ngIf="voucher.lineValueType === 'DEBIT'">
                                0.00
                            </div>
                            <div class="title" *ngIf="voucher.lineValueType === 'CREDIT'">
                                {{voucher?.lvLineValue}}
                            </div>
                        </td>
                        <td *ngIf="this.status !== 'POSTED'">
                                <span appPermissionBind [permission]="permissionEditJVDetails"
                                      class="material-icons f_20 cursor-pointer  blueColor"
                                      (click)="editJvDetail(journalVoucher, voucher)">
                                    edit
                                </span>
                            <span appPermissionBind [permission]="permissionDeleteJVDetails"
                                  class="material-icons f_20 cursor-pointer redColor">
                                    delete
                                </span>
                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr *ngIf="this.status !== 'POSTED'">
                        <td colspan="10">
                            <div appPermissionBind [permission]="permissionAddJVDetails">
                                <button mat-button class="save-button" (click)="createJvDetail(journalVoucher)">
                                    <mat-icon class="s-16">add_circle</mat-icon>
                                    <span class="ml-7px">Add Detail</span>
                                </button>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <!--<mat-paginator #paginator *ngIf="journalVouchers.length > 0"
                   [length]="pagination.total"
                   [pageSize]="pagination.perpage"
                   [pageIndex]="pagination.page-1"
                   (page)="pageEvent = onPageChange($event)"
    >
    </mat-paginator>-->
</div>



