<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="regionForm">
            <div fxLayout="row" fxLayoutAlign="start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Title of leave group</mat-label>
                    <input matInput placeholder="Name" formControlName="name" name="name" required>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-checkbox name="isActive" formControlName="isActive">Active ?</mat-checkbox>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="save-button" (click)="matDialogRef.close(regionForm); saveRegion()"
                [disabled]="regionForm.invalid" aria-label="Save" *ngIf="this.action !== 'EDIT'">ADD
        </button>
        <button mat-button class="save-button" (click)="matDialogRef.close(regionForm); updateRegion()"
                [disabled]="regionForm.invalid" aria-label="Update" *ngIf="this.action === 'EDIT'">UPDATE
        </button>
    </div>
</div>
