<div fxFlex="100" fxLayout="column" fxLayoutGap="20px">
    <mat-table [@animateStagger]="{value:'50'}" [dataSource]="censures">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
            <mat-cell *matCellDef="let censure" fxHide fxShow.gt-sm>
                <p class="email text-truncate">
                    {{((pagination.page - 1) * pagination.perpage) + censure.sno}}.
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Name</mat-header-cell>
            <mat-cell *matCellDef="let censure" fxHide fxShow.gt-md>
                <p class="phone text-truncate">
                    {{censure.name}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>
                <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 10px">Status</div>
            </mat-header-cell>
            <mat-cell *matCellDef="let censure" fxHide fxShow.gt-md>
                <div fxFlex="row" fxLayoutAlign="end center">
                    <p *ngIf="censure.isActive">Active</p>
                    <p *ngIf="!censure.isActive">Inactive</p>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
            </mat-header-cell>
            <mat-cell *matCellDef="let censure">
                <div fxFlex="row" fxLayoutAlign="end center">
                    <button (click)="editCensure(censure)" aria-label="Toggle star" mat-icon-button
                            style="color: blue">
                        <mat-icon class="material-icons">edit</mat-icon>
                    </button>
                    <button (click)="deleteItemModal(censure)" aria-label="Toggle star" mat-icon-button
                            style="color: red">
                        <mat-icon class="material-icons">delete</mat-icon>
                    </button>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let censure; columns: displayedColumns;" [@animate]="{value:'*',params:{y:'100%'}}"
                 class="contact">
        </mat-row>
    </mat-table>
    <mat-paginator #paginator (page)="pageEvent = onPageChange($event)"
                   *ngIf="censures.length > 0"
                   [length]="pagination.total"
                   [pageIndex]="pagination.page-1"
                   [pageSize]="pagination.perpage"
    >
    </mat-paginator>
</div>