<div id="employees" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">person_add
                </mat-icon>
            </div>
        </div>
    </div>
    <div class="content" fusePerfectScrollbar>
        <div class="horizontal-stepper-wrapper hor-wrap">
            <mat-horizontal-stepper class="mat-elevation-z4 mb-30px" [linear]="true" #stepper>
                <mat-step [stepControl]="assetsForm" [editable]="true">
                    <form fxLayout="column" [formGroup]="assetsForm">
                        <ng-template matStepLabel>Fixed Assets</ng-template>
                        <mat-grid-list cols="3" rowHeight="100px">
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Asset Description</mat-label>
                                        <input matInput formControlName="asset-description" required>
                                        <mat-error>Asset Description is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>OEM Narcode</mat-label>
                                        <input matInput formControlName="depreciationRate" required>
                                        <mat-error>oem narcode is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Asset Current Location</mat-label>
                                        <input matInput formControlName="depreciationMethod">
                                        <mat-error>Asset Current Location is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Asset Category</mat-label>
                                        <input matInput formControlName="assetNoPrefixLine" required>
                                        <mat-error>Asset Category is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Date Manufactured No.</mat-label>
                                        <input matInput formControlName="title" required>
                                        <mat-error>Date Manufactured No. is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Deployment Status</mat-label>
                                        <select matNativeControl formControlName="fxaStatusId">
                                            <option value="">Select Deployment status</option>
                                            <option [value]="status.id" *ngFor="let status of faStatuses">{{status.name}}</option>
                                        </select>
                                        <mat-error>Deployment Status is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Asset Manufacturer</mat-label>
                                        <input matInput formControlName="depreciationMethod">
                                        <mat-error>Asset Manufacturer is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Qty of Asset Supplied</mat-label>
                                        <input matInput formControlName="assetNoPrefixLine" required>
                                        <mat-error>Qty of Asset Supplied is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Custodian Staff ID</mat-label>
                                        <input matInput formControlName="title" required>
                                        <mat-error>Custodian Staff ID is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Asset Model</mat-label>
                                        <input matInput formControlName="depreciationRate" required>
                                        <mat-error>Asset Model is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Cost of Purchase/Supply</mat-label>
                                        <input matInput formControlName="depreciationMethod">
                                        <mat-error>Cost of Purchase/Supply is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Supplier Invoice</mat-label>
                                        <input matInput formControlName="assetNoPrefixLine" required>
                                        <mat-error>Supplier Invoice is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Asset Model Number</mat-label>
                                        <input matInput formControlName="title" required>
                                        <mat-error>Asset Model Number is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Date Acquired Number</mat-label>
                                        <input matInput formControlName="depreciationRate" required>
                                        <mat-error>Date Acquired Number is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Supplier Name</mat-label>
                                        <input matInput formControlName="depreciationMethod">
                                        <mat-error>Supplier Name is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Asset OEM Number</mat-label>
                                        <input matInput formControlName="assetNoPrefixLine" required>
                                        <mat-error>Asset OEM Number is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Depreciation Method</mat-label>
                                        <input matInput formControlName="title" required>
                                        <mat-error>Depreciation Method is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Supplier Contact Details</mat-label>
                                        <input matInput formControlName="depreciationRate" required>
                                        <mat-error>Supplier Contact Details is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex class="p-10px mt-13px mt--5px">
                                        <mat-label>Admin Segment</mat-label>
                                        <mat-select formControlName="adminSegmentId" (click)="adminSegmentSelect()" [disabled]="true">
                                            <mat-option value="">Choose Admin Segment</mat-option>
                                            <mat-option [value]="admin.id"
                                                        *ngFor="let admin of adminSegments">{{admin?.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field class="cursor-pointer" appearance="outline" fxFlex="100"
                                                    (click)="programmeSegmentSelect()">
                                        <mat-label>Programme Segment Name</mat-label>
                                        <mat-select formControlName="programmeSegmentId" [disabled]="true">
                                            <mat-option [value]="programmeSegment.id"
                                                        *ngFor="let programmeSegment of programmeSegments">{{programmeSegment.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field class="cursor-pointer" appearance="outline" fxFlex="100"
                                                    (click)="functionSegmentSelect()">
                                        <mat-label>Functional Segment Name</mat-label>
                                        <mat-select formControlName="functionalSegmentId" [disabled]="true">
                                            <mat-option [value]="functionSegment.id"
                                                        *ngFor="let functionSegment of functionSegments">{{functionSegment.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field class="cursor-pointer" appearance="outline" fxFlex="100"
                                                    (click)="economicSegmentSelect()">
                                        <mat-label>Economic Segment Name</mat-label>
                                        <mat-select formControlName="economicSegmentId" [disabled]="true">
                                            <mat-option [value]="economicSegment.id"
                                                        *ngFor="let economicSegment of economicSegments">{{economicSegment.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field class="cursor-pointer" appearance="outline" fxFlex="100"
                                                    (click)="fundSegmentSelectAddDetails()">
                                        <mat-label>Fund Segment Name</mat-label>
                                        <mat-select formControlName="fundSegmentId" [disabled]="true">
                                            <mat-option [value]="fundSegment.id"
                                                        *ngFor="let fundSegment of fundSegmentsAddDet">{{fundSegment.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                    <mat-form-field class="cursor-pointer" appearance="outline" fxFlex="100"
                                                    (click)="geoCodeSegmentSelect()">
                                        <mat-label>Geo Code Segment Name</mat-label>
                                        <mat-select formControlName="geoCodeSegmentId" [disabled]="true">
                                            <mat-option [value]="geoCodeSegment.id"
                                                        *ngFor="let geoCodeSegment of geoCodeSegments">{{geoCodeSegment.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button mat-raised-button type="button" color="accent"
                                    (click)="saveCategories()" *ngIf="!this.selectedCategoryId">
                                Save
                            </button>
                            <button mat-raised-button type="button" color="accent"
                                    (click)="updateCategories()" *ngIf="this.selectedCategoryId">
                                Update
                            </button>
                        </div>
                    </form>
                </mat-step>

            </mat-horizontal-stepper>
        </div>
    </div>
</div>