<div id="items" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">insert_chart
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Sales Invoice
                </span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-fab class="accent" id="add-button" aria-label="add qualification"
                    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                <mat-icon>add_circle</mat-icon>
            </button>
        </div>
    </div>
    <div class="content" fusePerfectScrollbar>
        <div class="center p-24 pb-56 pr-sm-92">
            <div class="content p-24" fusePerfectScrollbar>
                <form fxLayout="column" [formGroup]="salesInvoiceForm">
                    <mat-grid-list cols="2" rowHeight="100px">
                        <mat-grid-tile class="mr-1">
                            <div class="p-10px cursor-pointer" fxFlex="1 0 auto" fxLayout="column"
                                 (click)="supplierIdSelect()">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Select Supplier Id</mat-label>
                                    <mat-select formControlName="companyId" [disabled]="true">
                                        <mat-option [value]="company.id"
                                                    *ngFor="let company of companies">{{company.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="ml-1">
                            <div class="p-10px cursor-pointer" fxFlex="1 0 auto" fxLayout="column"
                                 (click)="storeIdSelect()">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Select Store Id</mat-label>
                                    <mat-select formControlName="storeId" [disabled]="true">
                                        <mat-option [value]="store.id"
                                                    *ngFor="let store of stores">{{store.id}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="2" rowHeight="100px">
                        <mat-grid-tile class="mr-1">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Supplier Address</mat-label>
                                    <input matInput formControlName="supplierAddress">
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="ml-1">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Store Name</mat-label>
                                    <input matInput formControlName="storeName">
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="4" rowHeight="100px">
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Details</mat-label>
                                    <input matInput formControlName="detail">
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>PO No.</mat-label>
                                    <input matInput formControlName="poNumber">
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Sr. doc. ref. no.</mat-label>
                                    <input matInput formControlName="sourceDocReferenceNumber">
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Date</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="dates" placeholder="Date">
                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                        <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="4" rowHeight="80px" class="m-10px shadow-1px">
                        <mat-grid-tile class="mt-2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column" (click)="selectItemsId()">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Item Id</mat-label>
                                    <mat-select formControlName="itemId" #itemId
                                                (change)="setItemQuantity(itemId)" [disabled]="true">
                                        <mat-option *ngFor="let item of storeItems" [value]="item.id">
                                            {{item.id}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Description</mat-label>
                                    <input matInput formControlName="description" #description>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Unit of measures</mat-label>
                                    <select formControlName="unitOfMeasures" matNativeControl #unitOfMeasures>
                                        <option *ngFor="let unitOfMeasure of unitOfMeasuresData" [value]="unitOfMeasure.id">
                                            {{unitOfMeasure.name}}
                                        </option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Quantity</mat-label>
                                    <input matInput formControlName="quantity" #quantity>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-1">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Unit selling price</mat-label>
                                    <input matInput formControlName="unitSellingPrice" #unitSellingPrice>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-1">
                            <div class="p-5px" fxFlex="1 0 auto" fxLayout="column">
                                <button mat-raised-button class="mt--20px" (click)="addApplicableTaxes()">Add Applicable Taxes</button>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-1">
                            <div class="p-5px" fxFlex="1 0 auto" fxLayout="column">
                                <button mat-raised-button class="mat-accent mt--20px"
                                        (click)="addItem(salesInvoiceForm.value.itemId, description.value, unitOfMeasures.value, quantity.value, unitSellingPrice.value)">
                                    Add Item
                                </button>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="1" class="p-10px">
                        <table class="simple shadow-1px">
                            <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Item Id</th>
                                <th>Description</th>
                                <th>Unit Of Measures</th>
                                <th>Quantity</th>
                                <th>Unit Selling Price</th>
                                <th>Value</th>
                                <th>Taxes</th>
                                <th>Total Value</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody *ngIf="itemsArr && itemsArr.length > 0; else noItemToShow">
                            <tr *ngFor="let item of itemsArr; let i = index">
                                <td>
                                    <span class="text-truncate">{{i + 1}}.</span>
                                </td>
                                <td>
                                    <span class="text-truncate">{{item?.itemId}}</span>
                                </td>
                                <td>
                                    <span class="text-truncate">{{item?.description}}</span>
                                </td>
                                <td>
                                    <span class="text-truncate">{{item?.unitOfMeasureName}}</span>
                                </td>
                                <td>
                                    <span class="text-truncate">{{item?.quantity}}</span>
                                </td>
                                <td>
                                    <span class="text-truncate">{{item?.value}}</span>
                                </td>
                                <td>
                                    <span class="text-truncate">{{item?.sellingPrice}}</span>
                                </td>
                                <td>
                                    <span class="material-icons ml-1 cursor-pointer" (click)="editTaxes(i, item)">visibility</span>
                                </td>
                                <td>
                                    <span class="text-truncate">{{item?.totalValue}}</span>
                                </td>
                                <td>
                                    <span class="material-icons delete-item cursor-pointer" (click)="deleteItem(i)">delete</span>
                                </td>
                            </tr>
                            </tbody>
                            <ng-template #noItemToShow>
                                <tbody>
                                <tr>
                                    <td colspan="10" class="text-center">
                                        <span class="text-truncate">No data to show</span>
                                    </td>
                                </tr>
                                </tbody>
                            </ng-template>
                        </table>
                    </mat-grid-list>
                    <mat-grid-list cols="5" rowHeight="100px" class="mt-4">
                        <mat-grid-tile [colspan]="2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Total values in words</mat-label>
                                    <input matInput formControlName="totalValuesInWords">
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Sub Total</mat-label>
                                    <input matInput formControlName="subTotal">
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Taxes</mat-label>
                                    <input matInput formControlName="totalTaxes">
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Total</mat-label>
                                    <input matInput formControlName="total">
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="1" rowHeight="50px" class="mt-4">
                        <div fxLayout="row" fxLayoutAlign="end end">
                            <button mat-raised-button type="button" color="accent" class="pull-right mr-1" (click)="resetForm()">
                                Cancel
                            </button>
                            <button mat-raised-button type="button" color="accent" class="pull-right" (click)="saveSalesInvoice()">
                                Save
                            </button>
                        </div>
                    </mat-grid-list>
                </form>
            </div>
        </div>
    </div>
</div>