<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Employee {{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content  fusePerfectScrollbar>
   <div class="margin-top-1rem">
     <ng-container>
         <form [formGroup]="employeeMilitaryServiceForm">
             <div fxLayout="column">
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Arm Of Service</mat-label>
                         <mat-select formControlName="armOfServiceId">
                             <mat-option [value]="">Select</mat-option>
                             <mat-option [value]="aos.id"
                                         *ngFor="let aos of armOfServices">
                                 {{aos.name}}</mat-option>
                         </mat-select>
                     </mat-form-field>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Service Number</mat-label>
                         <input matInput type="number" formControlName="serviceNumber">
                     </mat-form-field>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Last Unit</mat-label>
                         <input matInput type="number" formControlName="lastUnit">
                     </mat-form-field>
                 </div>
                 <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Date Of Engagement</mat-label>
                             <input matInput [matDatepicker]="picker" formControlName="engagedAt" name="engagedAt" placeholder="Choose a date">
                             <mat-datepicker-toggle matSuffix [for]="picker">
                                 <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                             </mat-datepicker-toggle>
                             <mat-datepicker #picker></mat-datepicker>
                         </mat-form-field>
                     </div>
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Date Of Discharge</mat-label>
                             <input matInput [matDatepicker]="picker1" formControlName="dischargedAt" name="dischargedAt" placeholder="Choose a date">
                             <mat-datepicker-toggle matSuffix [for]="picker1">
                                 <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                             </mat-datepicker-toggle>
                             <mat-datepicker #picker1></mat-datepicker>
                         </mat-form-field>
                     </div>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Reason For Leaving</mat-label>
                         <textarea matInput formControlName="reasonToLeave"></textarea>
                     </mat-form-field>
                 </div>
             </div>
         </form>
         <div class="employee-address">
             <mat-table [@animateStagger]="{value:'50'}" [dataSource] = "employeeMilitaryServiceList">
                 <ng-container matColumnDef="sno">
                     <mat-header-cell *matHeaderCellDef>S.No</mat-header-cell>
                     <mat-cell *matCellDef="let employeeMilitaryService">
                         <p class="email text-truncate">
                             {{employeeMilitaryService.sno}}.
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="armOfServiceId">
                     <mat-header-cell *matHeaderCellDef>Arm Of Service</mat-header-cell>
                     <mat-cell *matCellDef="let employeeMilitaryService">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeMilitaryService?.armOfService?.name}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="serviceNumber">
                     <mat-header-cell *matHeaderCellDef>Service Number</mat-header-cell>
                     <mat-cell *matCellDef="let employeeMilitaryService">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeMilitaryService?.serviceNumber}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="lastUnit">
                     <mat-header-cell *matHeaderCellDef>Last Unit</mat-header-cell>
                     <mat-cell *matCellDef="let employeeMilitaryService">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeMilitaryService?.lastUnit}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="engagedAt">
                     <mat-header-cell *matHeaderCellDef>Engaged At</mat-header-cell>
                     <mat-cell *matCellDef="let employeeMilitaryService">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeMilitaryService?.engagedAt | date:'mediumDate'}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="dischargedAt">
                     <mat-header-cell *matHeaderCellDef>Discharged At</mat-header-cell>
                     <mat-cell *matCellDef="let employeeMilitaryService">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeMilitaryService?.dischargedAt | date:'mediumDate'}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="reasonToLeave">
                     <mat-header-cell *matHeaderCellDef>Reason To Leave</mat-header-cell>
                     <mat-cell *matCellDef="let employeeMilitaryService">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeMilitaryService?.reasonToLeave}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="actions">
                     <mat-header-cell *matHeaderCellDef>
                         <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                     </mat-header-cell>
                     <mat-cell *matCellDef="let employeeMilitaryService">
                         <div fxFlex="row" fxLayoutAlign="end center">
                             <button mat-icon-button aria-label="Toggle star" (click)="editEmployeeMilitaryService(employeeMilitaryService?.id)"
                                     style="color: blue">
                                 <mat-icon class="material-icons">edit</mat-icon>
                             </button>
                             <button mat-icon-button aria-label="Toggle star" (click)="deleteEmployeeMilitaryService(employeeMilitaryService?.id)"
                                     style="color: red">
                                 <mat-icon class="material-icons">delete</mat-icon>
                             </button>
                         </div>
                     </mat-cell>
                 </ng-container>

                 <mat-header-row *matHeaderRowDef="employeeMilitaryServiceColumns"></mat-header-row>
                 <mat-row *matRowDef="let employeeMilitaryService; columns: employeeMilitaryServiceColumns;" class="contact"
                          [@animate]="{value:'*',params:{y:'100%'}}">
                 </mat-row>
             </mat-table>
         </div>
     </ng-container>
   </div>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="save-button" (click)="cancelUpdate()"
                aria-label="Update" *ngIf="employeeMilitaryServiceId">Cancel
        </button>
        <button mat-button class="save-button"
                [disabled]="employeeMilitaryServiceForm.invalid"
                *ngIf="employeeMilitaryServiceId === null "
                (click)="addMilitaryService()"
                aria-label="Save">ADD
        </button>
        <button mat-button class="save-button" (click)="updateEmployeeMilitaryService()"
                [disabled]="employeeMilitaryServiceForm.invalid" aria-label="Update" *ngIf="employeeMilitaryServiceId">Apply Changes
        </button>
    </div>
</div>
