<div class="page-layout simple left-sidebar inner-sidebar inner-scroll" id="skills">
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                          class="logo-icon mr-16">outlined_flag
                </mat-icon>
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" class="logo-text h1">
                    Budget Control - {{budgetType}}
                </span>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content" style="padding-left: 1rem; padding-right: 1rem">
                <form [formGroup]="budgetControlForm">
                    <mat-grid-list cols="2" rowHeight="400px">
                        <mat-grid-tile>
                            <div class="width-100-per"
                                 style="top: 12px; position: absolute; padding-left: 0.5rem; padding-right: 0.5rem;">
                                <div fxLayout="column">
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Admin Segment</mat-label>
                                        <mat-select (click)="adminSegmentSelect()" disabled
                                                    formControlName="adminSegmentId">
                                            <mat-option *ngFor="let adminSegment of adminSegments"
                                                        [value]="adminSegment.id">
                                                {{adminSegment?.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Fund Segment</mat-label>
                                        <mat-select (click)="fundSegmentSelect()" disabled
                                                    formControlName="fundSegmentId">
                                            <mat-option *ngFor="let fundSegment of fundSegments"
                                                        [value]="fundSegment.id">
                                                {{fundSegment?.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Programme Code</mat-label>
                                        <mat-select (click)="programmeSegmentSelect()" disabled
                                                    formControlName="programmeSegmentId">
                                            <mat-option *ngFor="let programmeSegment of programmeSegments"
                                                        [value]="programmeSegment.id">
                                                {{programmeSegment?.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="width-100-per"
                                 style="top: 12px; position: absolute; padding-left: 0.5rem; padding-right: 0.5rem;">
                                <div fxLayout="column">
                                    <div fxLayout="row" fxLayoutGap="10px">
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Exchange Rate[Local]</mat-label>
                                            <input formControlName="exchangeRateLocal" matInput
                                                   placeholder="Budget Curr. to local"
                                            >
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Exchange Rate[International]</mat-label>
                                            <input formControlName="exchangeRateInternational"
                                                   matInput
                                                   placeholder="Budget Curr. to International">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row">
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Budget Currency[must be local or USD]</mat-label>
                                            <mat-select (click)="budgetCurrencySelect()"
                                                        formControlName="budgetCurrency">
                                                <mat-option value="LOCAL"> Local</mat-option>
                                                <mat-option value="USD"> USD</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row">
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Budget Amount[in budget currency]</mat-label>
                                            <input formControlName="budgetAmount" matInput
                                                   placeholder="enter annual budget amount in budget currency"
                                            >
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutGap="10px">
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Pr. Yr. Amounts[in budget currency]</mat-label>
                                            <input formControlName="pr_yr_budget_amount" matInput
                                                   placeholder="budget amount">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Pr. Yr. Amounts[in budget currency]</mat-label>
                                            <input formControlName="pr_yr_actual_amount" matInput
                                                   placeholder="actual amount">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <div fxLayout="row">
                        <mat-card class="width-100-per" style="border: 2px solid #e2e2e2; margin-bottom: 2rem">
                            <mat-card-header>
                                <div fxLayout="row" fxLayoutGap="30px">
                                    <mat-radio-group aria-label="Select an option">
                                        <mat-radio-button [value]="0" [checked]="selectedRadioBudgetOption === 0"
                                                          (change)="selectRadio($event)">Main Budget <br> [in Local
                                            Currency]
                                        </mat-radio-button>
                                        <mat-radio-button [value]="1" [checked]="selectedRadioBudgetOption === 1"
                                                          (change)="selectRadio($event)">Supplementary Budget <br> [in
                                            Local Currency]
                                        </mat-radio-button>
                                    </mat-radio-group>
                                    <button mat-button class="add-row-btn"> Add Row</button>
                                </div>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="main-budget-month">
                                    <div fxLayout="row" fxLayoutGap="10px">
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Month-01</mat-label>
                                            <input formControlName="month_1" matInput
                                                   placeholder="Month-01">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Month-02</mat-label>
                                            <input formControlName="month_2" matInput
                                                   placeholder="Month-02">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Month-03</mat-label>
                                            <input formControlName="month_1" matInput
                                                   placeholder="Month-03">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Month-04</mat-label>
                                            <input formControlName="month_1" matInput
                                                   placeholder="Month-04">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="main-budget-month">
                                    <div fxLayout="row" fxLayoutGap="10px">
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Month-05</mat-label>
                                            <input formControlName="month_5" matInput
                                                   placeholder="Month-05">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Month-06</mat-label>
                                            <input formControlName="month_6" matInput
                                                   placeholder="Month-06">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Month-07</mat-label>
                                            <input formControlName="month_1" matInput
                                                   placeholder="Month-07">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Month-08</mat-label>
                                            <input formControlName="month_1" matInput
                                                   placeholder="Month-08">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="main-budget-month">
                                    <div fxLayout="row" fxLayoutGap="10px">
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Month-09</mat-label>
                                            <input formControlName="month_5" matInput
                                                   placeholder="Month-09">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Month-10</mat-label>
                                            <input formControlName="month_10" matInput
                                                   placeholder="Month-10">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Month-11</mat-label>
                                            <input formControlName="month_11" matInput
                                                   placeholder="Month-11">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Month-12</mat-label>
                                            <input formControlName="month_12" matInput
                                                   placeholder="Month-12">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="main-budget-month" *ngIf="selectedRadioBudgetOption === 0">
                                    <div fxLayout="row" fxLayoutGap="10px">
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Total Supplementary Budget (if any)</mat-label>
                                            <input formControlName="totalSupplementaryBudget" matInput
                                                   placeholder="enter in local currency">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Budget Amount[Pr. Yr.]</mat-label>
                                            <input formControlName="budgetAmountPrYr1" matInput
                                                   placeholder="enter in local currency">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Budget Amount[Pr. Yr.]</mat-label>
                                            <input formControlName="budgetAmountPrYr2" matInput
                                                   placeholder="enter in local currency">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div fxLayout="row">
                        <mat-card class="width-100-per"
                                  style="border: 2px solid #e2e2e2; margin-bottom: 2rem; padding: 0">
                            <app-budget-control-list></app-budget-control-list>
                        </mat-card>
                    </div>
                </form>
                <button mat-button class="submit-btn align-items-end">Submit</button>
            </div>
        </div>
    </div>
</div>