<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="close-popup">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="categoriesForm">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Category</mat-label>
                    <mat-icon matSuffix class="secondary-text">category</mat-icon>
                    <input name="name" formControlName="name" matInput required cdk-focus-start>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="!this.updateData">
                <mat-label style="margin-right: 20px">Is a Parent</mat-label>
                <mat-slide-toggle formControlName="isChildEnabled"></mat-slide-toggle>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="save-button" (click)="matDialogRef.close(categoriesForm); updateLocation()"
                [disabled]="categoriesForm.invalid" aria-label="Update" *ngIf="this.action === 'EDIT'">UPDATE
        </button>
        <button mat-button class="save-button" (click)="matDialogRef.close(categoriesForm); createLocation()"
                [disabled]="categoriesForm.invalid" aria-label="Add" *ngIf="this.action === 'CREATE'">ADD
        </button>
    </div>
</div>
