<div class="page-layout simple left-sidebar inner-sidebar inner-scroll" id="budget-control-aie">
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                          class="logo-icon mr-16">outlined_flag
                </mat-icon>
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" class="logo-text h1">
                    Budget Control - AIE
                </span>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content" style="padding: 1rem;">
                <form [formGroup]="budgetControlForm">
                    <div fxLayout="column" fxLayoutGap="20px">
                        <div fxLayout="column" fxLayoutGap="10px">
                            <button (click)="adminSegmentSelect()" class="select-button width-50-per" mat-button
                                    type="button">
                                {{(adminSegments && adminSegments[0]?.name) ? adminSegments[0]?.name : 'Admin Segment'}}
                            </button>
                            <button (click)="fundSegmentSelect()" class="select-button width-50-per" mat-button
                                    type="button">
                                {{(fundSegments && fundSegments[0]?.name) ? fundSegments[0]?.name : 'Fund Segment'}}
                            </button>
                        </div>

                        <div class="border-1px-solid">
                            <div style="padding: 10px">
                                <!--                                <mat-form-field appearance="outline" fxLayoutGap="10px" fxFlex class="width-50-per">-->
                                <!--                                    <mat-label>Ref. No.</mat-label>-->
                                <!--                                    <input name="ref_no" formControlName="ref_no" matInput>-->
                                <!--                                </mat-form-field>-->
                                <div class="width-100-per" fxLayout="row" fxLayoutGap="10px">
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>AIE No.</mat-label>
                                        <input formControlName="aieNumber" matInput name="aieNumber">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Date Issued</mat-label>
                                        <input (click)="from.open()" (focus)="from.open()" [matDatepicker]="from"
                                               formControlName="dateIssued"
                                               matInput>
                                        <mat-datepicker-toggle [for]="from"
                                                               matSuffix></mat-datepicker-toggle>
                                        <mat-datepicker #from></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="width-100-per" fxLayout="row">
                                    <mat-form-field appearance="outline" class="width-100-per" fxFlex="100"
                                                    resize="false">
                                        <mat-label>Narration</mat-label>
                                        <textarea formControlName="narration" matInput style="resize: none!important;"
                                                  placeholder="Narration:"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="border-1px-solid" style="margin-top: 1.5rem">
                    <div fxLayout="column" fxLayoutAlign="start start" style="padding: 10px">
                        <div class="width-50-per" fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Search for Eco Codes</mat-label>
                                <input matInput name="search_eco_code" [(ngModel)]="filterEcoCode">
                            </mat-form-field>
                            <!--                                    <mat-form-field appearance="outline" fxFlex>-->
                            <!--                                        <mat-label>Total Amount</mat-label>-->
                            <!--                                        <input name="total_amount" matInput>-->
                            <!--                                    </mat-form-field>                                    -->
                            <div>
                                <div fxLayout="row" fxLayoutGap="10px" style="align-items: center">
                                    <button (click)="search()" class="search_btn" mat-button> Search</button>
                                </div>
                            </div>
                            <div>
                                <div fxLayout="row" fxLayoutGap="10px">
                                    <button (click)="addRow()" class="add-row" mat-button> + Add Row</button>
                                </div>
                            </div>
                        </div>
                        <div class="simple_table">
                            <table>
                                <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Economic Code</th>
                                    <th>Title</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <ng-container *ngIf="economicCodeData && economicCodeData.length else noEconomicCode">
                                    <tr *ngFor="let economicCode of economicCodeData; let i = index">
                                        <td>{{i + 1}}.</td>
                                        <td>{{economicCode?.ecoCode}}</td>
                                        <td>{{economicCode.title}}</td>
                                        <td>{{economicCode.amount}}</td>
                                        <td>
                                            <div fxLayout="row">
                                                <button aria-label="Toggle star"
                                                        mat-icon-button
                                                        style="color: blue" (click)="editEcoFormField(economicCode, i)">
                                                    <mat-icon class="material-icons">edit</mat-icon>
                                                </button>
                                                <button aria-label="Toggle star"
                                                        mat-icon-button
                                                        style="color: red">
                                                    <mat-icon class="material-icons" (click)="delete(i)">delete
                                                    </mat-icon>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="text-align: end; font-weight: bold">
                                            Total Amount: {{totalAmount ? totalAmount : '0'}}
                                        </td>
                                    </tr>
                                </ng-container>
                                </tbody>
                                <ng-template #noEconomicCode>
                                    <tr>
                                        <td class="text-center" colspan="100">
                                            No data to show
                                        </td>
                                    </tr>
                                </ng-template>
                            </table>
                        </div>


                        <div fxLayout="row" fxLayoutGap="20px" style="margin-top: 1rem">
                            <button (click)="reset()" class="cancel_btn" mat-button> Cancel</button>
                            <button (click)="save()" class="save_btn"
                                    appPermissionBind [permission]="permissionAddBudAie"
                                    mat-button>{{isUpdateAieTable ? 'Update' : 'Save'}}</button>
                        </div>
                    </div>
                </div>

                <div class="border-1px-solid" style="margin-top: 1.5rem">
                    <div fxLayout="column" fxLayoutAlign="start start" style="padding: 10px">
                        <div class="width-100-per" fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Search for AIE No</mat-label>
                                <input matInput name="search_aie_no" [(ngModel)]="aieNumberFilter">
                            </mat-form-field>
                            <div>
                                <div fxLayout="row" fxLayoutGap="10px" style="align-items: center">
                                    <button
                                        appPermissionBind [permission]="permissionSearchBudAie"
                                        (click)="searchAieTable()" class="search_btn" mat-button>
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="list-table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>AIE No</th>
                                    <th>Narration</th>
                                    <th>Total Amount</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody
                                    *ngIf="budgetControlAieList && budgetControlAieList.length > 0; else noBudgetControlList">
                                <tr *ngFor="let budgetAie of budgetControlAieList; let i = index">
                                    <td class="table-data">
                                        <span class="text-truncate">{{i + 1}}.</span>
                                    </td>
                                    <td>{{budgetAie.aieNumber ? budgetAie.aieNumber : '-'}}</td>
                                    <td>{{budgetAie.narration ? budgetAie.narration : '-'}}</td>
                                    <td>{{budgetAie.totalAmount ? budgetAie.totalAmount : '-'}}</td>
                                    <td class="table-data">
                                        <div>
                                            <button aria-label="Toggle star" (click)="editAieTableItem(budgetAie)"
                                                    mat-icon-button
                                                    style="color: blue">
                                                <mat-icon class="material-icons">edit</mat-icon>
                                            </button>
                                            <button (click)="deleteItemModal(budgetAie)" aria-label="Toggle star"
                                                    mat-icon-button
                                                    style="color: red">
                                                <mat-icon class="material-icons">delete</mat-icon>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                                <ng-template #noBudgetControlList>
                                    <tbody>
                                    <tr>
                                        <td class="text-center" colspan="100">
                                            No data to show
                                        </td>
                                    </tr>
                                    </tbody>
                                </ng-template>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
