<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Employee {{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content  fusePerfectScrollbar>
   <div class="margin-top-1rem">
     <ng-container>
         <form [formGroup]="employeeQualificationForm">
             <div fxLayout="column">
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Institution</mat-label>
                         <input matInput formControlName="institution">
                     </mat-form-field>
                 </div>
                 <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Certification</mat-label>
                             <mat-select formControlName="certification">
                                 <mat-option [value]="">Select</mat-option>
                                 <mat-option [value]="certification.value"
                                             *ngFor="let certification of certifications">
                                     {{certification.name}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Major</mat-label>
                             <mat-select formControlName="major">
                                 <mat-option [value]="">Select</mat-option>
                                 <mat-option [value]="major.value"
                                             *ngFor="let major of majors">
                                     {{major.name}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                 </div>
                 <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Country of Issue</mat-label>
                             <mat-select formControlName="countryOfIssue">
                                 <mat-option [value]="">Select</mat-option>
                                 <mat-option [value]="coi.value"
                                             *ngFor="let coi of countryOfIssues">
                                     {{coi.name}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Year Obtained</mat-label>
                             <input matInput [matDatepicker]="picker" formControlName="yearObtained" name="yearObtained" placeholder="Choose a date">
                             <mat-datepicker-toggle matSuffix [for]="picker">
                                 <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                             </mat-datepicker-toggle>
                             <mat-datepicker #picker></mat-datepicker>
                         </mat-form-field>
                     </div>
                 </div>

             </div>
         </form>
         <div class="employee-address">
             <mat-table [@animateStagger]="{value:'50'}" [dataSource] = "employeeQualificationList">
                 <ng-container matColumnDef="sno">
                     <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
                     <mat-cell fxHide fxShow.gt-sm *matCellDef="let employeeQualification">
                         <p class="email text-truncate">
                             {{employeeQualification.sno}}.
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="name">
                     <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Name</mat-header-cell>
                     <mat-cell fxHide fxShow.gt-md *matCellDef="let employeeQualification">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeQualification.name}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="actions">
                     <mat-header-cell *matHeaderCellDef>
                         <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                     </mat-header-cell>
                     <mat-cell *matCellDef="let employeeQualification">
                         <div fxFlex="row" fxLayoutAlign="end center">
                             <button mat-icon-button aria-label="Toggle star" (click)="editEmployeeQualification(employeeQualification)"
                                     style="color: blue">
                                 <mat-icon class="material-icons">edit</mat-icon>
                             </button>
                             <button mat-icon-button aria-label="Toggle star" (click)="deleteEmployeeQualification(employeeQualification?.id)"
                                     style="color: red">
                                 <mat-icon class="material-icons">delete</mat-icon>
                             </button>
                         </div>
                     </mat-cell>
                 </ng-container>

                 <mat-header-row *matHeaderRowDef="employeeQualificationColumns"></mat-header-row>
                 <mat-row *matRowDef="let employeeQualification; columns: employeeQualificationColumns;" class="contact"
                          [@animate]="{value:'*',params:{y:'100%'}}">
                 </mat-row>
             </mat-table>
         </div>
     </ng-container>
   </div>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="save-button"
                [disabled]="employeeQualificationForm.invalid"
                (click)="matDialogRef.close(employeeQualificationForm);"
                aria-label="Save">ADD
        </button>
        <!--        <button mat-button class="save-button" (click)="matDialogRef.close(employeeQualificationForm); updateDesignation()"-->
        <!--                [disabled]="employeeOtherDetailsForm.invalid" aria-label="Update" *ngIf="this.action === 'EDIT'">UPDATE-->
        <!--        </button>-->
    </div>
</div>
