<div class="leaves-list">
    <mat-table [@animateStagger]="{value:'50'}" [dataSource]="leaveEntitlementSalaryScaleList">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>S.No</mat-header-cell>
            <mat-cell *matCellDef="let leaveEntitlementSalaryScale">
                <p class="email text-truncate">
                    {{leaveEntitlementSalaryScale.sno}}.
                </p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="leaveType">
            <mat-header-cell *matHeaderCellDef>Leave Type</mat-header-cell>
            <mat-cell *matCellDef="let leaveEntitlementSalaryScale" class="cursor-pointer">
                <p class="phone text-truncate cursor-pointer">
                    {{leaveEntitlementSalaryScale.leave.title}}
                </p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="dueDays">
            <mat-header-cell *matHeaderCellDef>Due Days</mat-header-cell>
            <mat-cell *matCellDef="let leaveEntitlementSalaryScale" class="cursor-pointer">
                <p class="phone text-truncate cursor-pointer">
                    {{leaveEntitlementSalaryScale.dueDays}}
                </p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
            </mat-header-cell>
            <mat-cell *matCellDef="let leaveEntitlementSalaryScale">
                <div fxFlex="row" fxLayoutAlign="end center">
                    <div appPermissionBind [permission]="permissionEdit">
                        <button mat-icon-button aria-label="Toggle star"
                            (click)="editLeave(leaveEntitlementSalaryScale)" style="color: blue">
                            <mat-icon class="material-icons">edit</mat-icon>
                        </button>
                    </div>
                    <div appPermissionBind [permission]="permissionDelete">
                        <button mat-icon-button aria-label="Toggle star"
                            (click)="deleteItemModal(leaveEntitlementSalaryScale)" style="color: red">
                            <mat-icon class="material-icons">delete</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedLeaveEntitlementSalaryScaleColumns"></mat-header-row>
        <mat-row *matRowDef="let leaveEntitlementSalaryScale; columns: displayedLeaveEntitlementSalaryScaleColumns;"
            class="contact" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
    <mat-paginator #paginator *ngIf="leaveEntitlementSalaryScaleList.length > 0" [length]="pagination.total"
        [pageSize]="pagination.perpage" [pageIndex]="pagination.page-1" (page)="pageEvent = onPageChange($event)">
    </mat-paginator>
</div>