<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Employee {{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content  fusePerfectScrollbar>
   <div class="margin-top-1rem">
     <ng-container>
         <form [formGroup]="employeeSchoolAttendedForm">
             <div fxLayout="column">
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>School</mat-label>
                         <input matInput formControlName="school">
                     </mat-form-field>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Address</mat-label>
                         <input matInput formControlName="address">
                     </mat-form-field>
                 </div>

                 <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Category</mat-label>
                             <mat-select formControlName="scheduleId">
                                 <mat-option [value]="">Select</mat-option>
                                 <mat-option [value]="schedule.id"
                                             *ngFor="let schedule of schedules">
                                     {{schedule.name}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Country</mat-label>
                             <mat-select formControlName="countryId">
                                 <mat-option [value]="">Select</mat-option>
                                 <mat-option [value]="country.id"
                                             *ngFor="let country of countries">
                                     {{country.name}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                 </div>
                 <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Date Entered</mat-label>
                             <input matInput [matDatepicker]="picker" formControlName="enteredAt" name="enteredAt" placeholder="Choose a date">
                             <mat-datepicker-toggle matSuffix [for]="picker">
                                 <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                             </mat-datepicker-toggle>
                             <mat-datepicker #picker></mat-datepicker>
                         </mat-form-field>
                     </div>
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Date Exited</mat-label>
                             <input matInput [matDatepicker]="picker1" formControlName="exitedAt" name="exitedAt" placeholder="Choose a date">
                             <mat-datepicker-toggle matSuffix [for]="picker1">
                                 <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                             </mat-datepicker-toggle>
                             <mat-datepicker #picker1></mat-datepicker>
                         </mat-form-field>
                     </div>
                 </div>

                 <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="start center">
                    <button mat-button class="save-button" type="button"
                            [disabled]="employeeSchoolAttendedForm.invalid"
                            *ngIf="!schoolAttendedId"
                            (click)="addEmployeeSchoolAttended()"
                            aria-label="Save">ADD
                    </button>

                    <button mat-button class="save-button" type="button"
                            [disabled]="employeeSchoolAttendedForm.invalid"
                            *ngIf="schoolAttendedId"
                            (click)="updateEmployeeSchoolAttended()"
                            aria-label="Save">UPDATE
                    </button>
                </div>

             </div>
         </form>
         <div class="employee-address">
             <mat-table [@animateStagger]="{value:'50'}" [dataSource] = "employeeSchoolAttendedList">
                 <ng-container matColumnDef="sno">
                     <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
                     <mat-cell fxHide fxShow.gt-sm *matCellDef="let employeeSchoolAttended">
                         <p class="email text-truncate">
                             {{employeeSchoolAttended.sno}}.
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>School Name</mat-header-cell>
                    <mat-cell fxHide fxShow.gt-md *matCellDef="let employeeSchoolAttended">
                        <p class="phone text-truncate cursor-pointer">
                            {{employeeSchoolAttended.school}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="country">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Country</mat-header-cell>
                    <mat-cell fxHide fxShow.gt-md *matCellDef="let employeeSchoolAttended">
                        <p class="phone text-truncate cursor-pointer">
                            {{employeeSchoolAttended.country.name}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dateEntered">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Date Entered</mat-header-cell>
                    <mat-cell fxHide fxShow.gt-md *matCellDef="let employeeSchoolAttended">
                        <p class="phone text-truncate cursor-pointer">
                            {{employeeSchoolAttended.enteredAt | date:'mediumDate'}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dateExited">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Date Exited</mat-header-cell>
                    <mat-cell fxHide fxShow.gt-md *matCellDef="let employeeSchoolAttended">
                        <p class="phone text-truncate cursor-pointer">
                            {{employeeSchoolAttended.exitedAt | date:'mediumDate'}}
                        </p>
                    </mat-cell>
                </ng-container>

                 <ng-container matColumnDef="actions">
                     <mat-header-cell *matHeaderCellDef>
                         <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                     </mat-header-cell>
                     <mat-cell *matCellDef="let employeeSchoolAttended">
                         <div fxFlex="row" fxLayoutAlign="end center">
                             <button mat-icon-button aria-label="Toggle star" (click)="editEmployeeSchoolAttended(employeeSchoolAttended)"
                                     style="color: blue">
                                 <mat-icon class="material-icons">edit</mat-icon>
                             </button>
                             <button mat-icon-button aria-label="Toggle star" (click)="deleteEmployeeSchoolAttended(employeeSchoolAttended?.id)"
                                     style="color: red">
                                 <mat-icon class="material-icons">delete</mat-icon>
                             </button>
                         </div>
                     </mat-cell>
                 </ng-container>

                 <mat-header-row *matHeaderRowDef="employeeSchoolAttendedColumns"></mat-header-row>
                 <mat-row *matRowDef="let employeeSchoolAttended; columns: employeeSchoolAttendedColumns;" class="contact"
                          [@animate]="{value:'*',params:{y:'100%'}}">
                 </mat-row>
             </mat-table>
         </div>
     </ng-container>
   </div>
    </div>
    <!-- <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="save-button"
                [disabled]="employeeSchoolAttendedForm.invalid"
                (click)="matDialogRef.close(employeeSchoolAttendedForm);"
                aria-label="Save">ADD
        </button>
    </div> -->
</div>
