<div class="d-flex justify-content-end list-actions">
    <button mat-button class="save-button" (click)="updateList()">
        Add Columns
    </button>

    <button mat-button class="save-button" (click)="downloadReport(displayedColumns)">
        Export To Excel
    </button>
</div>


<mat-table [@animateStagger]="{value:'50'}" [dataSource]="employees">
    <ng-container matColumnDef="check">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Select All</mat-header-cell>
        <mat-cell fxHide fxShow.gt-sm *matCellDef="let employee">
            <input type="checkbox" name="" id="">
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
        <mat-cell fxHide fxShow.gt-sm *matCellDef="let employee" (click)="selectEmployee(employee)">
            <p class="email text-truncate">
                {{employee.sno}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id2">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>ID</mat-header-cell>
        <mat-cell fxHide fxShow.gt-sm *matCellDef="let employee" (click)="selectEmployee(employee)">
            <p class="email text-truncate">
                {{employee.id}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fileId">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>File No</mat-header-cell>
        <mat-cell fxHide fxShow.gt-sm *matCellDef="let employee" (click)="selectEmployee(employee)">
            <p class="email text-truncate">
                {{employee.file?.id}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lName">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Last Name</mat-header-cell>
        <mat-cell fxHide fxShow.gt-md *matCellDef="let employee" (click)="selectEmployee(employee)">
            <p class="phone text-truncate">
                {{employee.lastName}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fName">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>First Name</mat-header-cell>
        <mat-cell fxHide fxShow.gt-md *matCellDef="let employee" (click)="selectEmployee(employee)">
            <p class="phone text-truncate">
                {{employee.firstName}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Phone</mat-header-cell>
        <mat-cell fxHide fxShow.gt-md *matCellDef="let employee">
            <p class="phone text-truncate">
                {{employee.employeePersonalDetails?.phone}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Department</mat-header-cell>
        <mat-cell fxHide fxShow.gt-md *matCellDef="let employee">
            <p class="phone text-truncate">
                {{employee.employeeJobProfiles?.department?.name}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Title</mat-header-cell>
        <mat-cell fxHide fxShow.gt-md *matCellDef="let employee" (click)="selectEmployee(employee)">
            <p class="phone text-truncate">
                {{employee.employeeJobProfiles?.designation?.name}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
            <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let employee">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button aria-label="Toggle star" (click)="editCategory(employee)" style="color: blue">
                    <mat-icon class="material-icons">edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="Toggle star" (click)="deleteCategory(employee?.id)"
                    style="color: red">
                    <mat-icon class="material-icons">delete</mat-icon>
                </button>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let employee; columns: displayedColumns;" class="contact"
        [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>