<mat-accordion displayMode="flat" [multi]="false" class="mat-table accordion-table">
    <section matSort class="mat-elevation-z2 mat-header-row accordion-row">

        <span class="mat-header-cell" >Acc Code</span>
        <span class="mat-header-cell">Acc. Title</span>
        <span class="mat-header-cell">Credit</span>
        <span class="mat-header-cell">Debit</span>
        <span class="mat-header-cell">Balance</span>

    </section>

    <mat-expansion-panel *ngFor="let reportData of trailReportMainData; let i = index">
        <mat-expansion-panel-header class="mat-row align-items-center expansion-header expansion-row" (click)="getChildReport(reportData)">

            <span class="mat-cell align-items-center">
                <p class="text-truncate cursor-pointer mt-32px">{{i+1}}.</p>
            </span>
            <span class="mat-cell align-items-center">
                <p class="text-truncate cursor-pointer mt-32px">{{reportData?.economicSegment?.name}}</p>
            </span>
            <span class="mat-cell align-items-center">
                <p class="text-truncate cursor-pointer mt-32px">{{reportData?.credit}}</p>
            </span>
            <span class="mat-cell align-items-center">
                <p class="text-truncate cursor-pointer mt-32px">{{reportData?.debit}}</p>
            </span>
            <span class="mat-cell align-items-center">
                <p class="text-truncate cursor-pointer mt-32px">{{reportData?.balance}}</p>
            </span>

        </mat-expansion-panel-header>
        <div class="mt-23px">
            <table class="simple invoice-table">
                <thead>
                <tr>
                    <th>
                        <div class="title">Full Code</div>
                    </th>
                    <th>
                        <div class="title">Line Code</div>
                    </th>
                    <th>
                        <div class="title">Title</div>
                    </th>
                    <th>
                        <div class="title">Credit</div>
                    </th>
                    <th>
                        <div class="title">Debit</div>
                    </th>
                    <th>
                        <div class="title">Balance</div>
                    </th>

                    <th>
                        <div class="title">Note</div>
                    </th>
                </tr>
                </thead>
                <tbody
                    *ngIf="childTrialBalanceData && childTrialBalanceData.length > 0">
                <tr *ngFor="let data of childTrialBalanceData; let i = index">
                    <td>
                        <div class="title">
                            {{data?.economicSegment?.combinedCode}}
                        </div>
                    </td>
                    <td>
                        <div class="title">
                            {{data?.economicSegment?.individualCode}}
                        </div>
                    </td>
                    <td>
                        <div class="title">
                            {{data?.economicSegment?.name}}
                        </div>
                    </td>
                    <td>
                        <div class="title">
                            {{data?.credit}}
                        </div>
                    </td>
                    <td>
                        <div class="title">
                            {{data?.debit}}
                        </div>
                    </td>
                    <td>
                        <div class="title">
                            {{data?.balance}}
                        </div>
                    </td>

                    <td>
                        <span class="material-icons f_20 cursor-pointer  blueColor"
                        >
                            add_box
                        </span>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </mat-expansion-panel>
</mat-accordion>