app-payment-approval-create {
    .accordion-table .accordion-row {
        padding-left: 1.5rem;
        padding-right: 2rem;
        border-bottom: none;
    }

    .expansion-header.expansion-row {
        border-bottom: none;
    }

    $mat-header-row-height: 80px;
    $mat-row-height: 68px;
    $mat-row-horizontal-padding: 24px;

    .accordion-table {
        display: block;
    }

    .accordion-row {
        min-height: $mat-header-row-height;
    }

    .expansion-row {
        min-height: $mat-row-height;
    }

    .expansion-row, .accordion-row {
        display: flex;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        align-items: center;
        padding: 0 $mat-row-horizontal-padding;
        box-sizing: border-box;

        // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
        // element that will stretch the row the correct height. See:
        // https://connect.microsoft.com/IE/feedback/details/802625
        &::after {
            display: inline-block;
            min-height: inherit;
            content: '';
        }
    }

    .mat-cell, .mat-header-cell {
        flex: 1;
        overflow: hidden;
        word-wrap: break-word;
    }


    #payment-approval-create {
        max-width: 800px !important;
        overflow-x: unset !important;
        min-width: 800px !important;
    }

    .items-data {
        width: 100%;
        overflow-x: unset !important;
    }

    .w-100-per {
        width: 100% !important;
    }

    .w-60-per {
        width: 60% !important;
    }

    .w-40-per {
        width: 40% !important;
    }
    .paying-checkbox{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}