app-default-setting-voucher-info {
    @import "../../../../../@fuse/scss/fuse";

    .mat-form-field-wrapper {
        width: 500px;
    }

    .background-white {
        background-color: white;
    }

    .ml-20px {
        margin-left: 20px;
    }

    .mt-20px {
        margin-top: 20px;
    }

    .color-white {
        color: white;
    }

    .p-20px {
        padding: 20px;
    }

    .p-10px {
        padding: 10px;
    }

    .mt-10px {
        margin-top: 10px;
    }

    .mt-13px {
        margin-top: 13px;
    }

    /*#add-button {
        background-color: white !important;
        color: #106CC8 !important;
    }*/

    .save-button {
        background-color: #106CC8 !important;
        color: white !important;
        height: 38px;
        margin-top: 15px;
    }
}