<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Employee {{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content  fusePerfectScrollbar>
   <div class="margin-top-1rem">
     <ng-container>
         <form [formGroup]="employeePhoneNumberForm">
             <div fxLayout="column">
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Phone Details</mat-label>
                         <mat-select formControlName="phoneDetail">
                             <mat-option [value]="">Select</mat-option>
                             <mat-option [value]="phoneDetail.value"
                                         *ngFor="let phoneDetail of phoneDetails">
                                 {{phoneDetail.name}}</mat-option>
                         </mat-select>
                     </mat-form-field>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Extension</mat-label>
                         <input matInput formControlName="extension">
                     </mat-form-field>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Phone No.</mat-label>
                         <input matInput formControlName="phoneNumber">
                     </mat-form-field>
                 </div>
             </div>
         </form>
         <div class="employee-address">
             <mat-table [@animateStagger]="{value:'50'}" [dataSource] = "employeePhoneNumberList">
                 <ng-container matColumnDef="sno">
                     <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
                     <mat-cell fxHide fxShow.gt-sm *matCellDef="let employeePhoneNumber">
                         <p class="email text-truncate">
                             {{employeePhoneNumber.sno}}.
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="name">
                     <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Name</mat-header-cell>
                     <mat-cell fxHide fxShow.gt-md *matCellDef="let employeePhoneNumber">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeePhoneNumber.name}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="actions">
                     <mat-header-cell *matHeaderCellDef>
                         <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                     </mat-header-cell>
                     <mat-cell *matCellDef="let employeePhoneNumber">
                         <div fxFlex="row" fxLayoutAlign="end center">
                             <button mat-icon-button aria-label="Toggle star" (click)="editEmployeePhoneNumber(employeePhoneNumber)"
                                     style="color: blue">
                                 <mat-icon class="material-icons">edit</mat-icon>
                             </button>
                             <button mat-icon-button aria-label="Toggle star" (click)="deleteEmployeePhoneNumber(employeePhoneNumber?.id)"
                                     style="color: red">
                                 <mat-icon class="material-icons">delete</mat-icon>
                             </button>
                         </div>
                     </mat-cell>
                 </ng-container>

                 <mat-header-row *matHeaderRowDef="employeePhoneNumberColumns"></mat-header-row>
                 <mat-row *matRowDef="let employeePhoneNumber; columns: employeePhoneNumberColumns;" class="contact"
                          [@animate]="{value:'*',params:{y:'100%'}}">
                 </mat-row>
             </mat-table>
         </div>
     </ng-container>
   </div>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
            <button mat-button class="save-button"
                    [disabled]="employeePhoneNumberForm.invalid"
                    (click)="matDialogRef.close(employeePhoneNumberForm);"
                    aria-label="Save">ADD
            </button>
            <!--        <button mat-button class="save-button" (click)="matDialogRef.close(employeePhoneNumberForm); updateDesignation()"-->
            <!--                [disabled]="employeeOtherDetailsForm.invalid" aria-label="Update" *ngIf="this.action === 'EDIT'">UPDATE-->
            <!--        </button>-->
        </div>
    </div>
</div>
