.journal-voucher-data {
    display: block;
    width: 100%;
    overflow-x: auto;

    th {
        width: 10%;
    }

    .table-data
    {
        text-align: center;
    }
    .width-100-per{
        width: 100%;
    }
}

.submit-report {
    background-color: #039be5 !important;
    color: #fff !important;
    height: 55px;
    margin-top: 6px;
    margin-left: 9px;
}
.p-10px {
    padding: 10px;
}
.mt-20px {
    margin-top: 20px;
}