#schedule-items {
    max-width: 1300px !important;
    overflow-x: unset !important;
    min-width: 1100px !important;
}

.items-data {
    width: 100%;
    overflow-x: unset !important;
}

.add-taxes {
    background-color: #039be5 !important;
    color: #fff !important;
    height: 40px;
    margin-top: 15px;
}

.invoice-table {
    background-color: #E0E0E0;
}