<mat-table [@animateStagger]="{value:'50'}" [dataSource]="categories">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
        <mat-cell fxHide fxShow.gt-sm *matCellDef="let category">
            <p class="email text-truncate">
                {{category.sno}}.
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Name</mat-header-cell>
        <mat-cell fxHide fxShow.gt-md *matCellDef="let category">
            <p class="phone text-truncate">
                {{category.name}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>
            <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 10px">Status</div>
        </mat-header-cell>
        <mat-cell fxHide fxShow.gt-md *matCellDef="let category">
            <div fxFlex="row" fxLayoutAlign="end center">
                <p *ngIf="category.isActive">Active</p>
                <p *ngIf="!category.isActive">In Active</p>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
            <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let category">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button aria-label="Toggle star" (click)="editCategory(category)"
                        style="color: blue">
                    <mat-icon class="material-icons">edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="Toggle star" (click)="deleteCategory(category?.id)"
                        style="color: red">
                    <mat-icon class="material-icons">delete</mat-icon>
                </button>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let category; columns: displayedColumns;" class="contact"
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>