<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Employee {{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content  fusePerfectScrollbar>
   <div class="margin-top-1rem">
     <ng-container>
         <form [formGroup]="employeeCensureForm">
             <div fxLayout="column">
                 <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                     <div fxFlex="60">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Censure</mat-label>
                             <mat-select formControlName="censure">
                                 <mat-option [value]="">Select</mat-option>
                                 <mat-option [value]="censure.value"
                                             *ngFor="let censure of Censures">
                                     {{censure.name}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                     <div fxFlex="40">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Date Issued</mat-label>
                             <input matInput [matDatepicker]="picker" formControlName="dateIssued" name="dateIssued" placeholder="Choose a date">
                             <mat-datepicker-toggle matSuffix [for]="picker">
                                 <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                             </mat-datepicker-toggle>
                             <mat-datepicker #picker></mat-datepicker>
                         </mat-form-field>
                     </div>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Issued By</mat-label>
                         <mat-select formControlName="issuedBy">
                             <mat-option [value]="">Select</mat-option>
                             <mat-option [value]="issue.value"
                                         *ngFor="let issue of issuedBy">
                                 {{issue.name}}</mat-option>
                         </mat-select>
                     </mat-form-field>
                 </div>
                 <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                     <div fxFlex="60">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>File Path</mat-label>
                             <ngx-mat-file-input (change)="fileUpload($event)">
                             </ngx-mat-file-input>

                         </mat-form-field>
                     </div>
                     <div fxFlex="40">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Doc Type</mat-label>
                             <input matInput formControlName="docType">
                         </mat-form-field>
                     </div>
                 </div>
                 <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                     <div fxFlex="70">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>File Page</mat-label>
                             <input matInput formControlName="filePage">
                         </mat-form-field>
                     </div>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Summary</mat-label>
                         <textarea matInput formControlName="summary"></textarea>
                     </mat-form-field>
                 </div>

             </div>
         </form>
         <div class="employee-address">
             <mat-table [@animateStagger]="{value:'50'}" [dataSource] = "employeeCensureList">
                 <ng-container matColumnDef="sno">
                     <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
                     <mat-cell fxHide fxShow.gt-sm *matCellDef="let employeeCensure">
                         <p class="email text-truncate">
                             {{employeeCensure.sno}}.
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="name">
                     <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Name</mat-header-cell>
                     <mat-cell fxHide fxShow.gt-md *matCellDef="let employeeCensure">
                         <p class="phone text-truncate cursor-pointer">
                             {{employeeCensure.name}}
                         </p>
                     </mat-cell>
                 </ng-container>

                 <ng-container matColumnDef="actions">
                     <mat-header-cell *matHeaderCellDef>
                         <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                     </mat-header-cell>
                     <mat-cell *matCellDef="let employeeCensure">
                         <div fxFlex="row" fxLayoutAlign="end center">
                             <button mat-icon-button aria-label="Toggle star" (click)="editEmployeeCensure(employeeCensure)"
                                     style="color: blue">
                                 <mat-icon class="material-icons">edit</mat-icon>
                             </button>
                             <button mat-icon-button aria-label="Toggle star" (click)="deleteEmployeeCensure(employeeCensure?.id)"
                                     style="color: red">
                                 <mat-icon class="material-icons">delete</mat-icon>
                             </button>
                         </div>
                     </mat-cell>
                 </ng-container>

                 <mat-header-row *matHeaderRowDef="employeeCensureColumns"></mat-header-row>
                 <mat-row *matRowDef="let employeeCensure; columns: employeeCensureColumns;" class="contact"
                          [@animate]="{value:'*',params:{y:'100%'}}">
                 </mat-row>
             </mat-table>
         </div>
     </ng-container>
   </div>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="save-button"
                [disabled]="employeeCensureForm.invalid"
                (click)="matDialogRef.close(employeeCensureForm);"
                aria-label="Save">ADD
        </button>
        <!--        <button mat-button class="save-button" (click)="matDialogRef.close(employeeCensureForm); updateDesignation()"-->
        <!--                [disabled]="employeeOtherDetailsForm.invalid" aria-label="Update" *ngIf="this.action === 'EDIT'">UPDATE-->
        <!--        </button>-->
    </div>
</div>
