@import "src/@fuse/scss/fuse";

app-employee-action {
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    mat-cell:first-of-type,
    mat-header-cell:first-of-type,
    mat-footer-cell:first-of-type {
        max-width: 125px;
    }

    .mat-table {
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;
            padding: 8px;

            .mat-cell {
                min-width: 0;

                &.mat-column-detail-button {
                    flex: 0 1 auto;
                    padding: 0 24px 0 0;

                    @include media-breakpoint("gt-md") {
                        display: none;
                    }
                }
            }
        }
    }

    .content {
        padding-top: 15px;
        .custom-container-fluid {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            .custom-row {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
                .col {
                    -ms-flex-preferred-size: 0;
                    flex-basis: 0;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    max-width: 100%;

                    position: relative;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;
                }
                .list-col {
                    height: calc(100vh - 205px);
                    overflow: auto;
                }
                .preview-col {
                    -ms-flex: 0 0 25%;
                    flex: 0 0 25%;
                    max-width: 25%;

                    .preview-wrapper {
                        background-color: #fff;
                        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
                        display: block;
                        position: relative;
                        padding: 15px;
                        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
                            0 1px 3px 0 rgba(0, 0, 0, 0.12);
                        .profile-image {
                            width: 30%;
                            position: relative;
                            img {
                                max-width: 100%;
                            }
                            .mat-form-field {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                z-index: 1;
                                color: #fff;

                                .mat-form-field-wrapper {
                                    padding: 0;

                                    .mat-form-field-flex {
                                        .mat-form-field-infix {
                                            padding: 0;
                                            margin: 0;
                                            border: 0;
                                            width: auto;
                                            cursor: pointer;

                                            ngx-mat-file-input{
                                                display: none;
                                            }

                                            .mat-form-field-label-wrapper{
                                                padding: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .profile-image-desc {
                            padding-left: 15px;
                        }

                        .nameField {
                            width: 30%;
                            margin-bottom: 0;
                        }
                        .dataField {
                            padding-left: 15px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

#add-button {
    background-color: white !important;
    color: #106cc8 !important;
}

.p-10px {
    padding: 10px;
}

.header-title {
    background-color: white;
}

.save-button {
    background-color: #106cc8 !important;
    color: white !important;
}

.save-disabled-button {
    background-color: #e0e0e0 !important;
    color: white !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.align-items-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}

.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}
.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center!important;
}
.padding-0 {
    padding: 0;
}
.margin-left-1 {
    margin-left: 1rem;
}
.display-contents{
    display: contents!important;
}
.employee-other-details-form-dialog{
    .mat-dialog-container{
        width: 800px !important;
        min-height: 500px !important;
    }
    .mat-dialog-actions{
        .save-button {
            background-color: #106CC8 !important;
            color: white !important;
        }

        .save-disabled-button {
            background-color: #e0e0e0 !important;
            color: white !important;
        }
    }
}