<div class="dialog-content-wrapper" id="items">
    <mat-toolbar matDialogTitle class="mat-accent m-0 items-data">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0 items-data" fusePerfectScrollbar *ngIf="!addDetails">
        <form [formGroup]="journalVoucherCreateForm">
            <mat-grid-list cols="4" rowHeight="100px">
                <mat-grid-tile class="ml-1">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>JV Source App</mat-label>
                        <input formControlName="jvSourceApp" matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile class="ml-1">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Batch No.</mat-label>
                        <input formControlName="batchNumber" matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile class="ml-1">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>JV Value Date</mat-label>
                        <input matInput [matDatepicker]="jvValueDate"
                               formControlName="jvValueDate">
                        <mat-datepicker-toggle matSuffix
                                               [for]="jvValueDate"></mat-datepicker-toggle>
                        <mat-datepicker #jvValueDate></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile class="ml-1">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Fund Segment Code</mat-label>
                        <input formControlName="fundSegmentCode" matInput>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="3" rowHeight="100px">
                <mat-grid-tile class="mr-1">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>JV Reference</mat-label>
                        <input formControlName="jvReference" matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile class="ml-1">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Transaction Details</mat-label>
                        <input formControlName="transactionDetails" matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile class="ml-1">
                    <mat-form-field appearance="outline" fxFlex="100" (click)="fundSegmentSelect()">
                        <mat-label>Fund Segment Name</mat-label>
                        <mat-select formControlName="fundSegmentId" [disabled]="true">
                            <mat-option [value]="fundSegment.id"
                                        *ngFor="let fundSegment of fundSegments">{{fundSegment.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-tab-group dynamicHeight>
                <mat-tab label="Prepared">
                    <mat-grid-list cols="4" rowHeight="100px">
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Value Date</mat-label>
                                <input matInput [matDatepicker]="preparedValueDate"
                                       formControlName="preparedValueDate">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="preparedValueDate"></mat-datepicker-toggle>
                                <mat-datepicker #preparedValueDate></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Trxn Date:</mat-label>
                                <input matInput [matDatepicker]="preparedTrxnDate"
                                       formControlName="preparedTransactionDate">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="preparedTrxnDate"></mat-datepicker-toggle>
                                <mat-datepicker #preparedTrxnDate></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>user Id</mat-label>
                                <input formControlName="preparedUserId" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Username</mat-label>
                                <input formControlName="preparedUsername" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-tab>
                <mat-tab label="Checked">
                    <mat-grid-list cols="4" rowHeight="100px">
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Value Date</mat-label>
                                <input matInput [matDatepicker]="checkedValueDate"
                                       formControlName="checkedValueDate">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="checkedValueDate"></mat-datepicker-toggle>
                                <mat-datepicker #checkedValueDate></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Trxn Date:</mat-label>
                                <input matInput [matDatepicker]="checkedTransactionDate"
                                       formControlName="checkedTransactionDate">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="checkedTransactionDate"></mat-datepicker-toggle>
                                <mat-datepicker #checkedTransactionDate></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>user Id</mat-label>
                                <input formControlName="checkedUserId" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Username</mat-label>
                                <input formControlName="checkedUsername" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-tab>
                <mat-tab label="Posted">
                    <mat-grid-list cols="4" rowHeight="100px">
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Value Date</mat-label>
                                <input matInput [matDatepicker]="postedValueDate"
                                       formControlName="postedValueDate">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="postedValueDate"></mat-datepicker-toggle>
                                <mat-datepicker #postedValueDate></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Trxn Date:</mat-label>
                                <input matInput [matDatepicker]="postedTrxnDate"
                                       formControlName="postedTransactionDate">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="postedTrxnDate"></mat-datepicker-toggle>
                                <mat-datepicker #postedTrxnDate></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>user Id</mat-label>
                                <input formControlName="postedUserId" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Username</mat-label>
                                <input formControlName="postedUsername" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-tab>
            </mat-tab-group>

            <mat-grid-list cols="1" class="p-10px">
                <div class="content shadow-1px">
                    <table class="simple">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th>
                                <div class="title">COA Admin</div>
                            </th>
                            <th>
                                <div class="title">COA Economic</div>
                            </th>
                            <th>
                                <div class="title">COA Functional</div>
                            </th>
                            <th>
                                <div class="title">COA Fund</div>
                            </th>
                            <th>
                                <div class="title">COA Programme</div>
                            </th>
                            <th>
                                <div class="title">COA Geo-code</div>
                            </th>
                            <th>
                                <div class="title">Line Reference</div>
                            </th>
                            <th>
                                <div class="title">Line Narration</div>
                            </th>
                            <th>
                                <div class="title">Debit</div>
                            </th>
                            <th>
                                <div class="title">Credit</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody *ngIf="jvDetail && jvDetail.length > 0; else noJvDetail">
                        <tr *ngFor="let jvDet of jvDetail; let i = index">
                            <td>
                                <span class="text-truncate">{{i + 1}}</span>
                            </td>
                            <td>
                                <div class="title">
                                    {{jvDet?.adminSegmentCode}}<br>
                                    {{jvDet?.adminSegmentName}}
                                </div>
                            </td>
                            <td>
                                <div class="title">
                                    {{jvDet?.economicSegmentCode}}<br>
                                    {{jvDet?.economicSegmentName}}
                                </div>
                            </td>
                            <td>
                                <div class="title">
                                    {{jvDet?.functionSegmentCode}}<br>
                                    {{jvDet?.functionSegmentName}}
                                </div>
                            </td>
                            <td>
                                <div class="title">
                                    {{jvDet?.fundSegmentCode}}<br>
                                    {{jvDet?.fundSegmentName}}
                                </div>
                            </td>
                            <td>
                                <div class="title">
                                    {{jvDet?.programmeSegmentCode}}<br>
                                    {{jvDet?.programmeSegmentName}}
                                </div>
                            </td>
                            <td>
                                <div class="title">
                                    {{jvDet?.geoCodeSegmentCode}}<br>
                                    {{jvDet?.geoCodeSegmentName}}
                                </div>
                            </td>
                            <td>
                                <div class="title">
                                    {{jvDet?.lineReference}}
                                </div>
                            </td>
                            <td>
                                <div class="title">
                                    Acc. Balance Details
                                </div>
                            </td>
                            <td>
                                <div class="title" *ngIf="jvDet.lineValueType === 'DEBIT'">
                                    {{jvDet?.lvLineValue}}
                                </div>
                                <div class="title" *ngIf="jvDet.lineValueType === 'CREDIT'">
                                    0.00
                                </div>
                            </td>
                            <td>
                                <div class="title" *ngIf="jvDet.lineValueType === 'CREDIT'">
                                    {{jvDet?.lvLineValue}}
                                </div>
                                <div class="title" *ngIf="jvDet.lineValueType === 'DEBIT'">
                                    0.00
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <ng-template #noJvDetail>
                            <tbody>
                            <tr>
                                <td colspan="11" class="text-center">No data to show</td>
                            </tr>
                            </tbody>
                        </ng-template>
                    </table>
                </div>
            </mat-grid-list>
        </form>
    </div>
    <div mat-dialog-content class="p-24 pb-0 m-0 items-data" fusePerfectScrollbar *ngIf="addDetails">
        <mat-tab-group dynamicHeight>
            <mat-tab label="ADD JV MAIN DETAILS">
                <form [formGroup]="addDetailForm">
                    <mat-grid-list cols="5" rowHeight="100px">
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Line No.</mat-label>
                                <input formControlName="lineValue" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <h5>(#) Admin Segment:</h5>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Enter Code</mat-label>
                                <input formControlName="adminSegmentCode" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex="100" (click)="adminSegmentSelect()">
                                <mat-label>Admin Segment Name</mat-label>
                                <mat-select formControlName="adminSegmentId" [disabled]="true">
                                    <mat-option [value]="adminSegment.id"
                                                *ngFor="let adminSegment of adminSegments">{{adminSegment.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="5" rowHeight="100px">
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Original Transaction Currency</mat-label>
                                <mat-select formControlName="currency">
                                    <mat-option [value]="currency.codeCurrency"
                                                *ngFor="let currency of currencies">{{currency?.singularCurrencyName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <h5>(#) Fund Segment:</h5>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Enter Code</mat-label>
                                <input formControlName="fundSegmentCode" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex="100" (click)="fundSegmentSelectAddDetails()">
                                <mat-label>Fund Segment Name</mat-label>
                                <mat-select formControlName="fundSegmentId" [disabled]="true">
                                    <mat-option [value]="fundSegment.id"
                                                *ngFor="let fundSegment of fundSegmentsAddDet">{{fundSegment.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="5" rowHeight="100px">
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>X.Rate Local to Naira</mat-label>
                                <input formControlName="xRateLocal" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Official bank X.Rate to USD</mat-label>
                                <input formControlName="bankXRateToUsd" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <h5>(#) Economic Segment:</h5>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Enter Code</mat-label>
                                <input formControlName="economicSegmentCode" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex="100" (click)="economicSegmentSelect()">
                                <mat-label>Economic Segment Name</mat-label>
                                <mat-select formControlName="economicSegmentId" [disabled]="true">
                                    <mat-option [value]="economicSegment.id"
                                                *ngFor="let economicSegment of economicSegments">{{economicSegment.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Account Name / Line Details</mat-label>
                                <input formControlName="accountName" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <h5>(#) Programme Segment:</h5>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Enter Code</mat-label>
                                <input formControlName="programmeSegmentCode" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex="100" (click)="programmeSegmentSelect()">
                                <mat-label>Programme Segment Name</mat-label>
                                <mat-select formControlName="programmeSegmentId" [disabled]="true">
                                    <mat-option [value]="programmeSegment.id"
                                                *ngFor="let programmeSegment of programmeSegments">{{programmeSegment.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="5" rowHeight="100px">
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Line Refrence</mat-label>
                                <input formControlName="lineReference" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <h5>Functional Segment:</h5>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Enter Code</mat-label>
                                <input formControlName="functionalSegmentCode" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex="100" (click)="functionSegmentSelect()">
                                <mat-label>Functional Segment Name</mat-label>
                                <mat-select formControlName="functionalSegmentId" [disabled]="true">
                                    <mat-option [value]="functionSegment.id"
                                                *ngFor="let functionSegment of functionSegments">{{functionSegment.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="5" rowHeight="100px">
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Line Value (in Trxn Currency)</mat-label>
                                <input formControlName="lineValueInTrxnCurrency" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <h5>Geo Code Segment:</h5>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Enter Code</mat-label>
                                <input formControlName="geoCodeSegmentCode" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex="100" (click)="geoCodeSegmentSelect()">
                                <mat-label>Geo Code Segment Name</mat-label>
                                <mat-select formControlName="geoCodeSegmentId" [disabled]="true">
                                    <mat-option [value]="geoCodeSegment.id"
                                                *ngFor="let geoCodeSegment of geoCodeSegments">{{geoCodeSegment.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="5" rowHeight="100px">
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <h5>LV Line Value (Naira):</h5>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                                             formControlName="lineValueType">
                                <mat-radio-button class="example-radio-button" value="DEBIT"
                                                  [style.marginRight.px]="20">
                                    Debit
                                </mat-radio-button>
                                <mat-radio-button class="example-radio-button" value="CREDIT">
                                    Credit
                                </mat-radio-button>
                            </mat-radio-group>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Enter Debit Credit Line Value</mat-label>
                                <input formControlName="lvLineValue" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </form>
            </mat-tab>
            <mat-tab label="ADD CONTRACT & OTHER INFO.">
                <h5>aaaaaaaaa</h5>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="save-button" (click)="addDetails = true" *ngIf="!addDetails">Add Details</button>
        <button mat-button class="save-button" (click)="addDetails = false" *ngIf="addDetails">Cancel</button>
        <button mat-button class="save-button" (click)="addDetail()" *ngIf="addDetails">Add</button>
        <button mat-button class="save-button" (click)="saveJournalVoucher()"
                [disabled]="journalVoucherCreateForm.invalid" aria-label="Save"
                *ngIf="this.action !== 'EDIT' && !addDetails">SAVE
        </button>
        <button mat-button class="save-button" (click)="matDialogRef.close(journalVoucherCreateForm)"
                [disabled]="journalVoucherCreateForm.invalid" aria-label="Update"
                *ngIf="this.action === 'EDIT' && !addDetails">UPDATE
        </button>
    </div>
</div>