<div id="items" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">insert_chart
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Off Balance
                </span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-fab class="accent" id="add-button" title="Download Report"
                    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" (click)="downloadReport()">
                <mat-icon>cloud_download</mat-icon>
            </button>
        </div>
    </div>
    <div class="content" fusePerfectScrollbar>
        <div class="center p-24 pb-56 pr-sm-92">
            <div class="content p-24" fusePerfectScrollbar>
                <form fxLayout="column" [formGroup]="reportInventoryLedgerForm">
                    <mat-grid-list cols="4" rowHeight="80px" class="m-10px shadow-1px">
                        <mat-grid-tile class="mt-2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Start Date</mat-label>
                                    <input matInput [matDatepicker]="openingDate"
                                           formControlName="openingDate">
                                    <mat-datepicker-toggle matSuffix
                                                           [for]="openingDate"></mat-datepicker-toggle>
                                    <mat-datepicker #openingDate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>End Date</mat-label>
                                    <input matInput [matDatepicker]="closingDate"
                                           formControlName="closingDate">
                                    <mat-datepicker-toggle matSuffix
                                                            [for]="closingDate"></mat-datepicker-toggle>
                                    <mat-datepicker #closingDate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column" (click)="selectItemId()">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Item Id</mat-label>
                                    <mat-select formControlName="itemId" [disabled]="true">
                                        <mat-option *ngFor="let item of storeItems" [value]="item.id">
                                            {{item.id}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column" (click)="storeIdSelect()">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Store</mat-label>
                                    <mat-select formControlName="storeId" [disabled]="true">
                                        <mat-option [value]="store.id"
                                                    *ngFor="let store of stores">{{store.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Item Name</mat-label>
                                    <input matInput formControlName="itemName">
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Preferred Costing Method</mat-label>
                                    <select formControlName="costingMethod" matNativeControl>
                                        <option value="AVG">W. Avg</option>
                                        <option value="LIFO">LIFO</option>
                                        <option value="FIFO">FIFO</option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-1">
                            <div class="p-5px" fxFlex="1 0 auto" fxLayout="column">
                                <button mat-raised-button class="mat-accent" (click)="loadReport()">
                                    Load Report
                                </button>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </form>
                <mat-grid-list cols="1" class="p-10px">
                    <table class="simple shadow-1px">
                        <thead>
                        <tr>
                            <th colspan="3"></th>
                            <th class="mr-10px">In</th>
                            <th colspan="2"></th>
                            <th class="mr-10px">Out</th>
                            <th colspan="2"></th>
                            <th class="mr-10px">Balance</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>S.No</th>
                            <th>Date</th>
                            <th>Item Description</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Value</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Value</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody *ngIf="itemsArr && itemsArr.length > 0; else noItemToShow">
                        <tr *ngFor="let item of itemsArr; let i = index">
                            <td>
                                <span class="text-truncate">{{i + 1}}.</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.date | date}}</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.details}}</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.inQty}}</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.inUnitPrice}}</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.inValue}}</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.outQty}}</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.outUnitPrice}}</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.outValue}}</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.balanceQty}}</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.balanceUnitPrice}}</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.balanceValue}}</span>
                            </td>
                        </tr>
                        <!--<tr class="background-color-grey">
                            <td></td>
                            <td>
                                <span class="text-truncate">Total</span>
                            </td>
                            <td>
                                <span class="text-truncate">1000</span>
                            </td>
                            <td colspan="2"></td>
                            <td>
                                <span class="text-truncate">2000</span>
                            </td>
                            <td colspan="2"></td>
                            <td>
                                <span class="text-truncate">2000</span>
                            </td>
                            <td colspan="2">
                            </td>
                        </tr>-->
                        </tbody>
                        <ng-template #noItemToShow>
                            <tbody>
                            <tr>
                                <td colspan="10" class="text-center">
                                    <span class="text-truncate">No data to show</span>
                                </td>
                            </tr>
                            </tbody>
                        </ng-template>
                    </table>
                </mat-grid-list>
            </div>
        </div>
    </div>
</div>