@import "src/@fuse/scss/fuse";

app-skill-list {
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    .mat-table {
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;
            padding: 8px;

            .mat-cell {
                min-width: 0;

                &.mat-column-detail-button {
                    flex: 0 1 auto;
                    padding: 0 24px 0 0;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}
.salary-scales{
    display: flex;
    flex-flow: row;
    .salary-scales-list{
        width: 60%;
        &:first-child{
            width: 40%;
            box-shadow: 1px 1px 0 0 #eee;
        }
    }
    .salary-scales-grade-list{

    }
    .salary-scales-grade-step-list{

    }
    .grade-levels {
        position: relative!important;
        margin-top: 0.8rem;
        button{
            background-color: #fff!important;
        }
        .add-grade-level-btn{
            position: absolute!important;
            right: 10px;
            top: 5px;
            background-color: #fff!important;
            z-index: 3;
            &:hover{
                background-color: white!important;
            }
        }
        mat-table{
            mat-header-cell{
                padding-right: 10px!important;
            }
        }
    }

}
.blueColor{
    color: blue;
}