<div class="salary-scales">
    <div class="salary-scales-list">
        <mat-table [@animateStagger]="{value:'50'}" [dataSource]="salaryScales">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
                <mat-cell fxHide fxShow.gt-sm *matCellDef="let salaryScale">
                    <p class="email text-truncate">
                        {{salaryScale.sno}}.
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Name</mat-header-cell>
                <mat-cell fxHide fxShow.gt-md *matCellDef="let salaryScale" class="cursor-pointer" (click)="goToGradeLevel(salaryScale)">
                    <p class="phone text-truncate cursor-pointer" [ngClass]=" salaryScale['isSelected'] ? 'blueColor' : ''" >
                        {{salaryScale.name}}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let salaryScale">
                    <div fxFlex="row" fxLayoutAlign="end center">
                        <button mat-icon-button aria-label="Toggle star" (click)="editSalaryScales(salaryScale)"
                                style="color: blue">
                            <mat-icon class="material-icons">edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Toggle star" (click)="deleteSalaryScales(salaryScale?.id)"
                                style="color: red">
                            <mat-icon class="material-icons">delete</mat-icon>
                        </button>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let skill; columns: displayedColumns;" class="contact"
                     [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>
        </mat-table>
    </div>


    <div class="salary-scales-list grade-levels">
        <button mat-button color="accent" aria-label="button with a plus one icon" class="add-grade-level-btn">
            <mat-icon>add_circle</mat-icon>
        </button>

        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Grade">
               <mat-table [dataSource]="gradeLevels" style="margin: 2rem 1rem 0 1rem">
                   <ng-container matColumnDef="id">
                       <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
                       <mat-cell fxHide fxShow.gt-sm *matCellDef="let gradeLevel">
                           <p class="email text-truncate">
                               {{gradeLevel.sno}}.
                           </p>
                       </mat-cell>
                   </ng-container>
                   <ng-container matColumnDef="name">
                       <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Name</mat-header-cell>
                       <mat-cell fxHide fxShow.gt-sm *matCellDef="let gradeLevel" class="cursor-pointer" (click)="goToStepLevel(gradeLevel)">
                           <p class="phone text-truncate" [ngClass]=" gradeLevel['isSelected'] ? 'blueColor' : ''">
                               {{gradeLevel.name}}.
                           </p>
                       </mat-cell>
                   </ng-container>
                   <ng-container matColumnDef="actions">
                       <mat-header-cell *matHeaderCellDef>
                           <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                       </mat-header-cell>
                       <mat-cell *matCellDef="let gradeLevel">
                           <div fxFlex="row" fxLayoutAlign="end center">
                               <button mat-icon-button aria-label="Toggle star" (click)="editGradeLevel(gradeLevel)"
                                       style="color: blue">
                                   <mat-icon class="material-icons">edit</mat-icon>
                               </button>
                               <button mat-icon-button aria-label="Toggle star" (click)="deleteGradeLevel(gradeLevel?.id)"
                                       style="color: red">
                                   <mat-icon class="material-icons">delete</mat-icon>
                               </button>
                           </div>
                       </mat-cell>
                   </ng-container>
                   <mat-header-row *matHeaderRowDef="displayedGradeLevelColumns"></mat-header-row>
                   <mat-row *matRowDef="let gradeLevel; columns: displayedGradeLevelColumns;" class="contact"
                            [@animate]="{value:'*',params:{y:'100%'}}">
                   </mat-row>
               </mat-table>
            </mat-tab>
            <mat-tab label="Steps">
                <mat-table [dataSource]="stepsLevels" style="margin: 2rem 1rem 0 1rem">
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
                        <mat-cell fxHide fxShow.gt-sm *matCellDef="let stepsLevel">
                            <p class="email text-truncate">
                                {{stepsLevel.sno}}.
                            </p>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Name</mat-header-cell>
                        <mat-cell fxHide fxShow.gt-sm *matCellDef="let stepsLevel">
                            <p class="phone text-truncate">
                                {{stepsLevel.name}}.
                            </p>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>
                            <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let stepsLevel">
                            <div fxFlex="row" fxLayoutAlign="end center">
                                <button mat-icon-button aria-label="Toggle star" (click)="editGradeLevel(stepsLevel)"
                                        style="color: blue">
                                    <mat-icon class="material-icons">edit</mat-icon>
                                </button>
                                <button mat-icon-button aria-label="Toggle star" (click)="deleteGradeLevel(stepsLevel?.id)"
                                        style="color: red">
                                    <mat-icon class="material-icons">delete</mat-icon>
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedStepsLevelColumns"></mat-header-row>
                    <mat-row *matRowDef="let stepsLevel; columns: displayedStepsLevelColumns;" class="contact"
                             [@animate]="{value:'*',params:{y:'100%'}}">
                    </mat-row>
                </mat-table>
            </mat-tab>

        </mat-tab-group>
    </div>

</div>

