<div class="salary-scales">
    <div class="salary-scales-list">
        <mat-table [@animateStagger]="{value:'50'}" [dataSource]="salaryScales">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
                <mat-cell fxHide fxShow.gt-sm *matCellDef="let salaryScale">
                    <p class="email text-truncate">
                        {{salaryScale.sno}}.
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Name</mat-header-cell>
                <mat-cell fxHide fxShow.gt-md *matCellDef="let salaryScale" class="cursor-pointer" (click)="goToGradeLevel(salaryScale)">
                    <p class="phone text-truncate cursor-pointer" [ngClass]=" salaryScale['isSelected'] ? 'blueColor' : ''" >
                        {{salaryScale.name}}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let salaryScale">
                    <div fxFlex="row" fxLayoutAlign="end center">
                        <button mat-icon-button aria-label="Toggle star" (click)="editSalaryScales(salaryScale)"
                                style="color: blue">
                            <mat-icon class="material-icons">edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Toggle star" (click)="deleteItemModalSalaryScale(salaryScale)"
                                style="color: red">
                            <mat-icon class="material-icons">delete</mat-icon>
                        </button>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let skill; columns: displayedColumns;" class="contact"
                     [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>
        </mat-table>
    </div>


    <div class="salary-scales-list grade-levels">
        <button mat-icon-button  aria-label="button with a plus one icon"
                *ngIf="selectTab === 0 && salaryScales && salaryScales.length"
                class="add-grade-level-btn" (click)="addGradeLevel()">
            <mat-icon color="accent">add_circle</mat-icon>
        </button>
        <button mat-icon-button  aria-label="button with a plus one icon"
                *ngIf="selectTab === 1 && gradeLevels && gradeLevels.length"
                class="add-grade-level-btn" (click)="addStepLevel()">
            <mat-icon color="accent">add_circle</mat-icon>
        </button>

        <mat-tab-group animationDuration="0ms"  color="accent" [(selectedIndex)]="selectTab">
            <mat-tab label="Grade Level">
               <mat-table [dataSource]="gradeLevels" style="margin: -8px 1rem 0 1rem">
                   <ng-container matColumnDef="id">
                       <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
                       <mat-cell fxHide fxShow.gt-sm *matCellDef="let gradeLevel">
                           <p class="email text-truncate">
                               {{gradeLevel.sno}}.
                           </p>
                       </mat-cell>
                   </ng-container>
                   <ng-container matColumnDef="name">
                       <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Name</mat-header-cell>
                       <mat-cell fxHide fxShow.gt-sm *matCellDef="let gradeLevel" class="cursor-pointer" (click)="goToStepLevel(gradeLevel)">
                           <p class="phone text-truncate" [ngClass]=" gradeLevel['isSelected'] ? 'blueColor' : ''">
                               {{gradeLevel.name}}
                           </p>
                       </mat-cell>
                   </ng-container>
                   <ng-container matColumnDef="incrementDue">
                       <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Increment Due(Months)</mat-header-cell>
                       <mat-cell fxHide fxShow.gt-sm *matCellDef="let gradeLevel">
                           <p class="phone text-truncate">
                               {{gradeLevel.incrementDue}}
                           </p>
                       </mat-cell>
                   </ng-container>
                   <ng-container matColumnDef="promotionDue">
                       <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Promotion Due(Months)</mat-header-cell>
                       <mat-cell fxHide fxShow.gt-sm *matCellDef="let gradeLevel">
                           <p class="phone text-truncate">
                               {{gradeLevel.promotionDue}}
                           </p>
                       </mat-cell>
                   </ng-container>
                   <ng-container matColumnDef="confirmAfter">
                       <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Confirm After(Months)</mat-header-cell>
                       <mat-cell fxHide fxShow.gt-sm *matCellDef="let gradeLevel">
                           <p class="phone text-truncate">
                               {{gradeLevel.confirmAfter}}
                           </p>
                       </mat-cell>
                   </ng-container>
                   <ng-container matColumnDef="retireAfter">
                       <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Retire After(Years)</mat-header-cell>
                       <mat-cell fxHide fxShow.gt-sm *matCellDef="let gradeLevel">
                           <p class="phone text-truncate">
                               {{gradeLevel.retireAfter}}
                           </p>
                       </mat-cell>
                   </ng-container>
                   <ng-container matColumnDef="retireType">
                       <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Retire Type</mat-header-cell>
                       <mat-cell fxHide fxShow.gt-sm *matCellDef="let gradeLevel">
                           <p class="phone text-truncate">
                               {{gradeLevel.retireType}}
                           </p>
                       </mat-cell>
                   </ng-container>
                   <ng-container matColumnDef="actions">
                       <mat-header-cell *matHeaderCellDef>
                           <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                       </mat-header-cell>
                       <mat-cell *matCellDef="let gradeLevel">
                           <div fxFlex="row" fxLayoutAlign="end center">
                               <button mat-icon-button aria-label="Toggle star" (click)="editGradeLevel(gradeLevel)"
                                       style="color: blue">
                                   <mat-icon class="material-icons">edit</mat-icon>
                               </button>
                               <button mat-icon-button aria-label="Toggle star" (click)="deleteItemModalGradeLevel(gradeLevel)"
                                       style="color: red">
                                   <mat-icon class="material-icons">delete</mat-icon>
                               </button>
                           </div>
                       </mat-cell>
                   </ng-container>
                   <mat-header-row *matHeaderRowDef="displayedGradeLevelColumns"></mat-header-row>
                   <mat-row *matRowDef="let row; columns: displayedGradeLevelColumns;" class="contact"
                            [@animate]="{value:'*',params:{y:'100%'}}">
                   </mat-row>
               </mat-table>
            </mat-tab>
            <mat-tab label="GL Step">
                <mat-table [dataSource]="stepsLevels" style="margin: -8px 1rem 0 1rem">
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef  fxHide fxShow.gt-sm>S.No</mat-header-cell>
                        <mat-cell fxHide fxShow.gt-sm *matCellDef="let stepsLevel">
                            <p class="email text-truncate">
                                {{stepsLevel.sno}}.
                            </p>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Name</mat-header-cell>
                        <mat-cell fxHide fxShow.gt-sm *matCellDef="let stepsLevel" class="cursor-pointer" (click)="glStepLevel(stepsLevel)">
                            <p class="phone text-truncate " [ngClass]=" stepsLevel['isSelected'] ? 'blueColor' : ''">
                                {{stepsLevel.name}}
                            </p>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>
                            <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let stepsLevel">
                            <div fxFlex="row" fxLayoutAlign="end center">
                                <button mat-icon-button aria-label="Toggle star" (click)="editStepLevel(stepsLevel)"
                                        style="color: blue">
                                    <mat-icon class="material-icons">edit</mat-icon>
                                </button>
                                <button mat-icon-button aria-label="Toggle star" (click)="deleteItemModalStepLevel(stepsLevel)"
                                        style="color: red">
                                    <mat-icon class="material-icons">delete</mat-icon>
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedStepsLevelColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedStepsLevelColumns;" class="contact"
                             [@animate]="{value:'*',params:{y:'100%'}}">
                    </mat-row>
                </mat-table>
            </mat-tab>

        </mat-tab-group>
    </div>

</div>

