app-schedule-economic-codes-receipt-previous-advances {
    #schedule-economic-code {
        max-width: 1200px !important;
        overflow-x: unset !important;
        min-width: 1030px !important;

        .border-1px-solid {
            border: 1px solid #e2e2e2;
        }

        .border-2px-solid {
            border: 2px solid #e2e2e2;
        }

        table {
            thead {
                tr {
                    th {
                        div {
                            text-align: center;
                        }

                        &:first-child, &:last-child {
                            width: 100px;
                        }
                    }
                ;


                }
            }

            tbody {
                tr {
                    td {
                        div {
                            text-align: center;
                        }

                    }
                ;


                }
            }
        }
    }

    .items-data {
        width: 100%;
        overflow-x: unset !important;
    }

    .invoice-table {
        background-color: #E0E0E0;
    }

    .voucher_title {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .add-row {
        width: 150px;
        margin-top: 1.5rem;
        margin-bottom: 10px;
        border: 1px solid #e2e2e2;
    }
}