<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Employee {{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content  fusePerfectScrollbar>
   <div *ngIf="data.title === 'ADDRESS'" class="margin-top-1rem">
     <ng-container>
         <form [formGroup]="employeeOtherDetailsForm">
             <div fxLayout="column">
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Type Of Address</mat-label>
                         <mat-select formControlName="typeOfAddress">
                             <mat-option [value]="">Select</mat-option>
                             <mat-option [value]="toa.value"
                                         *ngFor="let toa of typeOfAddress">
                                 {{toa.name}}</mat-option>
                         </mat-select>
                     </mat-form-field>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Address Line 1</mat-label>
                         <input matInput formControlName="addressLine1">
                     </mat-form-field>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Address Line 2</mat-label>
                         <input matInput formControlName="addressLine2">
                     </mat-form-field>
                 </div>
                 <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>City</mat-label>
                             <input matInput formControlName="city">
                         </mat-form-field>
                     </div>
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>ZIP Code</mat-label>
                             <input matInput formControlName="zip">
                         </mat-form-field>
                     </div>
                 </div>

                 <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Country</mat-label>
                             <mat-select formControlName="country">
                                 <mat-option [value]="">Select</mat-option>
                                 <mat-option [value]="country.value"
                                             *ngFor="let country of countries">
                                     {{country.name}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>State</mat-label>
                             <mat-select formControlName="state">
                                 <mat-option [value]="">Select</mat-option>
                                 <mat-option [value]="state.value"
                                             *ngFor="let state of states">
                                     {{state.name}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                 </div>
                 <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>Region</mat-label>
                             <mat-select formControlName="region">
                                 <mat-option [value]="">Select</mat-option>
                                 <mat-option [value]="region.value"
                                             *ngFor="let region of regions">
                                     {{region.name}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                     <div fxFlex="50">
                         <mat-form-field appearance="outline" fxFlex="100">
                             <mat-label>LGA</mat-label>
                             <mat-select formControlName="lga">
                                 <mat-option [value]="">Select</mat-option>
                                 <mat-option [value]="lga.value"
                                             *ngFor="let lga of lgas">
                                     {{lga.name}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                 </div>
                 <div style="width: 100%; min-height: 300px; border: 1px solid #e2e2e2">
                     address listing
                 </div>

             </div>
         </form>
     </ng-container>
   </div>
    <div *ngIf="data.title === 'CENSURE'" class="margin-top-1rem">
        CENSURE
    </div>
    <div *ngIf="data.title === 'EMPLOYMENT_HISTORY'" class="margin-top-1rem">
        EMPLOYMENT_HISTORY
    </div>
    <div *ngIf="data.title === 'LANGUAGES'" class="margin-top-1rem">
        LANGUAGES
    </div>
    <div *ngIf="data.title === 'MILITARY_SERVICE'" class="margin-top-1rem">
        MILITARY_SERVICE
    </div>
    <div *ngIf="data.title === 'PHONE_NUMBER'" class="margin-top-1rem">
        PHONE_NUMBER
    </div>
    <div *ngIf="data.title === 'RELATIONS'" class="margin-top-1rem">
        RELATIONS
    </div>
    <div *ngIf="data.title === 'SCHOOLS_ATTENDED'" class="margin-top-1rem">
        SCHOOLS_ATTENDED
    </div>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="save-button" aria-label="Save">ADD
        </button>
    </div>
</div>
