<div id="items" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">book
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    BIN Card
                </span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-fab class="accent" id="add-button" title="Download Report"
                    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                <mat-icon>cloud_download</mat-icon>
            </button>
        </div>
    </div>
    <div class="content" fusePerfectScrollbar>
        <div class="center p-24 pb-56 pr-sm-92">
            <div class="content p-24" fusePerfectScrollbar>
                <form fxLayout="column" [formGroup]="binCardForm">
                    <mat-grid-list cols="4" rowHeight="80px" class="m-10px shadow-1px">
                        <mat-grid-tile class="mt-2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Date Current Appt</mat-label>
                                    <input matInput [matDatepicker]="openingDate"
                                           formControlName="openingDate">
                                    <mat-datepicker-toggle matSuffix
                                                           [for]="openingDate"></mat-datepicker-toggle>
                                    <mat-datepicker #openingDate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Date Current Appt</mat-label>
                                    <input matInput [matDatepicker]="closingDate"
                                           formControlName="closingDate">
                                    <mat-datepicker-toggle matSuffix
                                                           [for]="closingDate"></mat-datepicker-toggle>
                                    <mat-datepicker #closingDate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Item Id</mat-label>
                                    <select formControlName="store" matNativeControl>
                                        <option value="1">New Store</option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Store</mat-label>
                                    <select formControlName="itemId" matNativeControl>
                                        <option value="1">New Store 1</option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Item Name</mat-label>
                                    <input matInput formControlName="itemName">
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-2">
                            <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Preferred Costing Method</mat-label>
                                    <select formControlName="costingMethod" matNativeControl>
                                        <option value="1">W. Avg</option>
                                        <option value="2">LIFO</option>
                                        <option value="2">FIFO</option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mt-1">
                            <div class="p-5px" fxFlex="1 0 auto" fxLayout="column">
                                <button mat-raised-button class="mat-accent">
                                    Load Report
                                </button>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </form>
                <mat-grid-list cols="1" class="p-10px">
                    <table class="simple shadow-1px">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Date</th>
                            <th>Item Description</th>
                            <th>In</th>
                            <th>Unit Cost</th>
                            <th>Out</th>
                            <th>Balance</th>
                        </tr>
                        </thead>
                        <tbody *ngIf="itemsArr && itemsArr.length > 0; else noItemToShow">
                        <tr *ngFor="let item of itemsArr; let i = index">
                            <td>
                                <span class="text-truncate">{{i + 1}}.</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.date}}</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.description}}</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.in}}</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.unitCost}}</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.out}}</span>
                            </td>
                            <td>
                                <span class="text-truncate">{{item?.balance}}</span>
                            </td>
                        </tr>
                        <tr class="background-color-grey">
                            <td></td>
                            <td></td>
                            <td>
                                <span class="text-truncate">Total</span>
                            </td>
                            <td>
                                <span class="text-truncate">24</span>
                            </td>
                            <td></td>
                            <td>
                                <span class="text-truncate">14</span>
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                        <ng-template #noItemToShow>
                            <tbody>
                            <tr>
                                <td colspan="10" class="text-center">
                                    <span class="text-truncate">No data to show</span>
                                </td>
                            </tr>
                            </tbody>
                        </ng-template>
                    </table>
                </mat-grid-list>
            </div>
        </div>
    </div>
</div>