<div class="country-list" fxLayout="column" fxLayoutGap="20px" fxFlex="100">
    <mat-table [@animateStagger]="{value:'50'}" [dataSource]="countryList">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
            <mat-cell fxHide fxShow.gt-sm *matCellDef="let country">
                <p class="email text-truncate">
                    {{((pagination.page - 1) * pagination.perpage) + country.sno}}.
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Name</mat-header-cell>
            <mat-cell fxHide fxShow.gt-md *matCellDef="let country" class="cursor-pointer">
                <p class="phone text-truncate cursor-pointer">
                    {{country?.name}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>
                <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 10px">Status</div>
            </mat-header-cell>
            <mat-cell fxHide fxShow.gt-md *matCellDef="let country">
                <div fxFlex="row" fxLayoutAlign="end center">
                    <p *ngIf="country.isActive">Active</p>
                    <p *ngIf="!country.isActive">Inactive</p>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
            </mat-header-cell>
            <mat-cell *matCellDef="let country">
                <div fxFlex="row" fxLayoutAlign="end center">
                    <button mat-icon-button aria-label="Toggle star" (click)="editCountry(country)"
                            style="color: blue">
                        <mat-icon class="material-icons">edit</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Toggle star" (click)="deleteItemModel(country)"
                            style="color: red">
                        <mat-icon class="material-icons">delete</mat-icon>
                    </button>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedCountryColumns"></mat-header-row>
        <mat-row *matRowDef="let country; columns: displayedCountryColumns;" class="contact"
                 [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
    <mat-paginator #paginator *ngIf ="countryList.length > 0"
                   [length]="pagination.total"
                   [pageSize]="pagination.perpage"
                   [pageIndex]="pagination.page-1"
                   (page)="pageEvent = onPageChange($event)"
    >
    </mat-paginator>
</div>


