app-employee-select {
    #items-list-select-component {
        width     : 1000px !important;
        height    : auto !important;
        overflow-y: scroll;
        min-height: 800px !important;
    }

    .addBtn {
        color: #2E7D32 !important;
    }

    .ml-3 {
        margin-left: 10px;
    }

    .p-5px {
        padding: 5px;
    }

    .mt-20px {
        margin-top: 20px;
    }

    .pl-1rem {
        padding-left: 1rem;
    }

    .filter-title {
        font-weight: bold;
        font-size  : 1.5rem;
    }

    .border-2px-solid {
        border: 2px solid #e0e0e0;
    }

    .p-2px {
        padding: 2px;
    }

    .cancel-btn {
        width: 120px;
    }

    .reset-btn,
    .done-button {
        background-color: #106cc8 !important;
        color           : white !important;
        margin-left     : 10px;
        height          : 40px;
        width           : 100px;
        margin-top      : 10px;
    }

    .save-button {
        background-color: #106CC8 !important;
        color           : white !important;
    }

    .done-button {
        background-color: #2E7D32 !important;
        color           : white !important;
    }

    .add-black {
        color: black;
    }

    .add-green {
        color: #2E7D32;
    }

    .selected-emp-show {
        display: flex;
        gap    : 2px;
    }

    .employees-selected-wrapper {
        display        : flex;
        justify-content: center;
        align-items    : center;
        gap            : 10px;
    }

    .employees-selected-container {
        display         : flex;
        justify-content : center;
        align-items     : center;
        gap             : 4px;
        background-color: #2E7D32;
        padding         : 4px;
        margin          : 0;
    }

    .employees-selected-container p {
        color    : white;
        margin   : 0;
        font-size: 11px;
    }

    .employees-selected-container span {
        font-size: 11px;
        color    : red;
        margin   : 0;
        cursor   : pointer;
    }

    .show-btn {
        display        : flex;
        justify-content: space-between;
        align-items    : flex-end;
        width          : max-content;
        margin         : 0 !important;
        width          : 100%;
    }

    .show-btn button {
        padding         : 7px;
        background-color: #2E7D32;
        color           : #e0e0e0;
        border-radius   : 4px;
        width           : max-content;
        border          : none;
        outline         : none;
    }
}