<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Company Bank Accounts</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form fxLayout="column" [formGroup]="companyeBankDetailsForm">
            <ng-template matStepLabel>Employee</ng-template>
            <mat-grid-list cols="2" rowHeight="100px">
                <mat-grid-tile>
                    <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Company ID</mat-label>
                            <input matInput formControlName="companyId" readonly required [disabled]="true">
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Company Name</mat-label>
                            <input matInput formControlName="name" readonly required [disabled]="true">
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Account No.</mat-label>
                            <input matInput formControlName="accNumber" required>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Account Type</mat-label>
                            <input matInput formControlName="accType" required>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Bank Name</mat-label>
                            <mat-select formControlName="bankName" required
                                        (selectionChange)="getBankBranchName($event.value)">
                                <mat-option *ngFor="let bank of banksName" [value]="bank.id">
                                    {{bank.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Branch Name</mat-label>
                            <mat-select formControlName="bankBranchName" required>
                                <mat-option *ngFor="let branch of selectedBankBranchName" [value]="branch.id">
                                    {{branch.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="p-10px" fxFlex="1 0 auto" fxLayout="column">
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <mat-label style="margin-right: 20px">Is Active</mat-label>
                            <mat-slide-toggle formControlName="isAuthorised"></mat-slide-toggle>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <div fxLayout="row" fxLayoutAlign="end end">
                <button mat-raised-button type="button" color="accent" class="mr-5px" *ngIf="!editAction" (click)="saveBankDetails()">
                    Add
                </button>
                <button mat-raised-button type="button" color="accent" *ngIf="editAction" (click)="updateBankDetails()">
                    Update
                </button>
            </div>
        </form>

        <div class="country-list margin-top-1-5rem">
            <mat-table [@animateStagger]="{value:'50'}" [dataSource]="bankList" style="border: 1px solid #e0e0e0">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>S.No</mat-header-cell>
                    <mat-cell fxHide fxShow.gt-sm *matCellDef="let bank">
                        <p class="email text-truncate">
                            {{bank.sno}}.
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Account Type</mat-header-cell>
                    <mat-cell fxHide fxShow.gt-md *matCellDef="let bank" class="cursor-pointer">
                        <p class="phone text-truncate cursor-pointer">
                            {{bank.typeOfBankAccount | titlecase}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="number">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Account Number</mat-header-cell>
                    <mat-cell fxHide fxShow.gt-md *matCellDef="let bank" class="cursor-pointer">
                        <p class="phone text-truncate cursor-pointer">
                            {{bank.bankAccountNumber}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Bank Name</mat-header-cell>
                    <mat-cell fxHide fxShow.gt-md *matCellDef="let bank" class="cursor-pointer">
                        <p class="phone text-truncate cursor-pointer">
                            {{bank.bank?.name}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="branch">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Branch</mat-header-cell>
                    <mat-cell fxHide fxShow.gt-md *matCellDef="let bank" class="cursor-pointer">
                        <p class="phone text-truncate cursor-pointer">
                            {{bank.bankBranch?.name}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="isAuthorised">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Authorised</mat-header-cell>
                    <mat-cell fxHide fxShow.gt-md *matCellDef="let bank" class="cursor-pointer">
                        <p class="phone text-truncate cursor-pointer" *ngIf="bank.isAuthorised">
                            Active
                        </p>
                        <p class="phone text-truncate cursor-pointer" *ngIf="!bank.isAuthorised">
                            Inactive
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        <div fxFlex="row" fxLayoutAlign="end center" style="margin-right: 28px">Actions</div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let bank">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button aria-label="Toggle star" (click)="editBank(bank)"
                                    style="color: blue">
                                <mat-icon class="material-icons">edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="Toggle star" (click)="deleteBank(bank?.id)"
                                    style="color: red">
                                <mat-icon class="material-icons">delete</mat-icon>
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedBankColumns"></mat-header-row>
                <mat-row *matRowDef="let bank; columns: displayedBankColumns;" class="contact"
                         [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>
        </div>
    </div>
</div>