// .dialog-content-wrapper {
//     width: 1000px;
// }

//#items {
//    width: 1000px !important;
//    overflow-x: unset !important;
//}

.items-data {
    width: 100%;
    overflow-x: unset !important;
}

.mr-1 {
    margin-right: 0.5rem;
}

.ml-1 {
    margin-left: 0.5rem;
}

//.jobposition-form-dialog
//{
//    width: 1000px !important;
//}