// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.delete-items-dialog{
    .mat-dialog-container{
        width: 470px!important;
        height: 230px !important;
    }
}

.update-items-dialog{
    .mat-dialog-container{
        width: 370px!important;
        height: 230px !important;
    }
}
.transaction-items-form-dialog{
    .mat-dialog-container{
        width: 90vw!important;
        height: 80vh !important;

    }
}
.mb-0{
    margin-bottom: 0;
}
.mt-0{
    margin-top: 0;
}
.mr-0{
    margin-right: 0;
}
.ml-0{
    margin-left: 0;
}
.pb-0{
    padding-bottom: 0;
}
.pt-0{
    padding-top: 0;
}
.pr-0{
    padding-right: 0;
}
.pl-0{
    padding-left: 0;
}